.wrapper {
  height: 100%;
  background: white;
  border-radius: 4px;
  padding: 40px;
}

.form-row>.col:first-child,
.form-row>[class*=col-]:first-child {
  padding-right: 5px;
  padding-left: 25px;
}

.form-row>.col:only-child,
.form-row>[class*=col-]:only-child {
  padding-right: 5px;

}

.form-group.conditionLabel,
.form-group.pricingParameter {
  height: 10px
}

.conditions {
  margin: 0px 0px 20px 20px;
  padding: 20px;
  border: 2px solid var(--theme-table-border);
  border-radius: 8px;
}

.conditions .info {
  font-size: 13px;
  margin-bottom: 20px;
  color: var(--theme-secondary-blue)
}

.condition-wrapper {
  display: flex;
}

.conditions .input-wrapper {
  flex-grow: 1;
}

.conditions .add {
  display: flex;
  margin-top: 6px;
  font-size: 16px;
  color: var(--theme-light-green);
  margin-left: 12px;
  user-select: none;
}

.conditions .add:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 40px 20px;
  }

  .form-row>.col:first-child,
  .form-row>[class*=col-]:first-child,
  .form-row>.col:only-child,
  .form-row>[class*=col-]:only-child {
    padding-right: 5px;
    padding-left: 5px;

  }
}
