<div class="wrapper shadow">
  <div *ngIf="error.length>1" class="alert alert-danger" role="alert">
    {{error}}
  </div>

  <div class="title-bar">
    <!-- Profile Name: Parameter set nick name -->
    <!-- <h4>{{profileName}}<span *ngIf="name">: {{form.value.pricingProfileName}}</span></h4> -->
    <h4>{{form.value.pricingProfileName}}</h4>

    <!-- parameter details -->
    <!-- <span>{{parameterDetails}}</span> -->
    <span>{{profileName}}</span>

  </div>

  <form [formGroup]="form" novalidate class="needs-validation" (submit)="save($event)">
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label for="processProfileId">Process Profile Name</label>
        <select required id="processProfileId" name="processProfileId" formControlName="processProfileId"
          (change)="processProfileChanged()" class="form-control">
          <option selected value=''>Choose...</option>
          <option *ngFor="let item of processProfiles" [value]="item.id">{{item.name}}
          </option>
        </select>
        <div class="invalid-feedback">
          Please choose a process profile.
        </div>
        <span class="footnote">* If you don’t see a profile, update your Process profile.</span>
      </div>

      <div class="form-group theme col-md-6">
        <label for="pricingProfileName">Pricing Parameter Set Nickname</label>
        <input type="text" required formControlName="pricingProfileName" class="form-control" id="pricingProfileName"
          name="pricingProfileName" placeholder="Pricing Profile Name">
        <span class="footnote">* If left blank, we will auto-generate one for you.</span>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group theme col-md-6 conditionLabel pl-4">
        <label for="conditionLabel">Conditions</label>
      </div>
    </div>


    <div id="conditionLabel" class="conditions">
      <div class="info">
        <span>
          Define the condition under which this profile should be used.
        </span>
        <span class="add" (click)="addParameterCondition()">
          <i class="fas fa-plus"></i>
        </span>

      </div>
      <div class="condition-wrapper">
        <!-- <span>
          If
        </span> -->

        <div class="input-wrapper">

          <div *ngFor="let item of selectedPricingConditionList; let index = index" class="form-row">
            <div class="form-group theme col-md-3">
              <select required id="name" name="name"
                [(ngModel)]="selectedPricingConditionList[index].processPricingConditionType.id"
                (ngModelChange)="onPropertyChange(selectedPricingConditionList[index].processPricingConditionType.id, index)"
                [ngModelOptions]="{standalone: true}" class="form-control">
                <option selected value="">Choose...</option>
                <option *ngFor="let item of filteredPricingConditionTypes" [value]="item.id">{{item.name}}
                </option>
              </select>
              <div class="invalid-feedback">
                Required.
              </div>
            </div>

            <div class="form-group theme col-md-3">
              <select [disabled]="selectedPricingConditionList[index].processPricingConditionType.id.length == 0"
                required id="condition" name="condition"
                [(ngModel)]="selectedPricingConditionList[index].operatorType.id" [ngModelOptions]="{standalone: true}"
                class="form-control">
                <option selected value="">Choose...</option>
                <option *ngFor="let item of selectedPricingConditionList[index].operandTypeList" [value]=" item.id">
                  {{item.symbol}}</option>
              </select>
              <div class="invalid-feedback">
                Required.
              </div>
            </div>

            <div class="form-group theme col-md-3">
              <input [disabled]="selectedPricingConditionList[index].processPricingConditionType.id.length == 0"
                required type="number" step="0.00001" maxlength="5" min="0" max="99999"
                [(ngModel)]="selectedPricingConditionList[index].value" [ngModelOptions]="{standalone: true}"
                class="form-control" id="value" name="value" placeholder="Value">
              <div class="invalid-feedback">
                Required.
              </div>
            </div>

            <div class="form-group theme col-md-3 icon-attached">
              <div>
                <select [disabled]="selectedPricingConditionList[index].processPricingConditionType.id.length == 0"
                  required id="condition" name="condition" [(ngModel)]="selectedPricingConditionList[index].unitType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of selectedPricingConditionList[index].units" [value]="item.id">
                    {{item.displayName}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>

              </div>

              <span class="minus" (click)="removeParameterCondition(index)">
                <i class="fas fa-minus"></i>
              </span>

              <!-- <span *ngIf="index === 0" class="minus invisible">
                <i class=""></i>
              </span> -->

            </div>

          </div>

        </div>

        <!-- <span class="add" (click)="addCondition()">
              <i class="fas fa-plus"></i>
            </span> -->

      </div>
    </div>


    <!-- Pricing Parameters -->

    <div *ngIf="isDataLoaded" class="tab-container card">

      <div class="card-header">
        <div class="menu-item active">
          Pricing Parameters
        </div>
      </div>


      <!-- Flat Charges -->
      <div class="form-row">
        <div class="form-group theme col-md-6 conditionLabel pl-4">
          <label for="conditionLabel">Flat Charges</label>
        </div>
      </div>


      <div id="conditionLabel" class="conditions">
        <div class="controls d-flex justify-content-end mb-2">
          <span class="add" (click)="addCondition('flatCharges')">
            <i class="fas fa-plus"></i>
          </span>
        </div>
        <!-- Insert Table here -->
        <div class="input-wrapper">
          <div class="form-row">
            <div class="table theme-table">
              <ag-grid-angular style="height: 100%;" class="ag-theme-balham" [rowData]="flatRowData"
                [editType]="fullRow" [gridOptions]="flatGridOptions" (gridReady)="autoSizeColumns('flatCharges')">
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </div>

      <!-- End of Flat Charges -->

      <!-- Variable Charges -->
      <div class="form-row">
        <div class="form-group theme col-md-6 conditionLabel pl-4">
          <label for="conditionLabel">Variable Charges</label>
        </div>
      </div>


      <div id="conditionLabel" class="conditions">
        <div class="controls d-flex justify-content-end mb-2">
          <span class="add" (click)="addCondition('variableCharges')">
            <i class="fas fa-plus"></i>
          </span>
        </div>
        <!-- Insert Table here -->
        <div class="input-wrapper">
          <div class="form-row">
            <div class="table theme-table">
              <ag-grid-angular style="height: 100%;" class="ag-theme-balham" [rowData]="variableRowData"
                [editType]="editType" [gridOptions]="variableGridOptions"
                (gridReady)="autoSizeColumns('variableCharges')">
              </ag-grid-angular>
            </div>
          </div>
        </div>
        <!-- Insert Table here -->

      </div>
      <!-- End of Variable Charges -->

      <!-- Multiplier Charges -->
      <div class="form-row">
        <div class="form-group theme col-md-6 conditionLabel pl-4">
          <label for="conditionLabel">Multiplier Charges</label>
        </div>
      </div>


      <div id="conditionLabel" class="conditions">
        <div class="controls d-flex justify-content-end mb-2">
          <span class="add" (click)="addCondition('multiplierCharges')">
            <i class="fas fa-plus"></i>
          </span>
        </div>
        <!-- Insert Table here -->
        <div class="input-wrapper">
          <div class="form-row">
            <div class="table theme-table">
              <ag-grid-angular style="height: 100%;" class="ag-theme-balham" [rowData]="multiplierRowData"
                [gridOptions]="multiplierGridOptions" (gridReady)="autoSizeColumns('multiplierCharges')">
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Multiplier Charges -->


    </div>

    <!-- End of Pricing Parameters -->

    <div class="row button-section">

      <div class="col-md-7 col-sm-4"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>
      <div class="form-group col-md-3 col-sm-4" style="width: 200px;">
        <button type="button" (click)="onSaveAndCreateAnother($event)" class="btn btn-primary theme">Save And Create
          Another</button>
      </div>

    </div>
  </form>
</div>
