.wrapper {
  height: 100%;
  background: white;
  border-radius: 4px;
  padding: 40px;
}

/* Styles go here */

.ag-cell {
  overflow: visible;
}

.ag-row {
  z-index: 0;
}


.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #dfdfff !important;
}

.ag-row-hover .ag-cell {
  border: 1px solid var(--theme-table-border) !important;
  border-radius: 6px !important;
  background: red;
}


.ag-row.ag-row-focus {
  z-index: 1;
}

.ag-root.ag-layout-auto-height,
.ag-body-viewport.ag-layout-auto-height,
.ag-body-viewport-wrapper.ag-layout-auto-height {
  overflow: visible;
}

.table .ag-header-cell {
  font-size: 14px !important;
}

.table select,
.table input {
  font-size: 15px !important;
}

.table-control {
  width: 220px;
  height: 400px;
  margin-right: 10px;
}

.table {
  /* width: 100%; */
  height: 250px;
}


.form-row>.col:first-child,
.form-row>[class*=col-]:first-child {
  padding-right: 5px;
  /* padding-left: 5px; */
}

.form-row>.col:only-child,
.form-row>[class*=col-]:only-child {
  padding-right: 5px;

}

.form-group.conditionLabel,
.form-group.pricingParameter {
  height: 10px
}

.form-group.icon-attached {
  display: flex;
  align-items: flex-start;
}


.title-bar {
  margin-bottom: 20px;
}

.title-bar>h4 {
  color: var(--theme-secondary-blue);
}

.title-bar>span {
  color: var(--theme-light-green);
}



.tab-container {
  margin-bottom: 30px;
}

.card .card-header {
  background: white;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  padding: 5px;
  height: 50px;
  margin-bottom: 20px
}

.card .card-header .menu-item {
  display: inline-flex;
  align-items: center;
  margin: 0px 20px;
}

.card .card-header .menu-item.error {
  color: red;
}

.card .card-header .menu-item:hover {
  cursor: pointer;
}

.card .card-header .separator {
  border-left: 6px solid rgba(9, 40, 70, .36);
}


.card .card-header .menu-item.active {
  color: var(--theme-light-green);
  border-bottom: 5px solid var(--theme-light-green);
}

.form-group.conditionLabel {
  height: 10px
}

.conditions {
  margin: 0px 0px 40px 0px;
  padding: 20px 20px 0px 20px;
  border: 2px solid var(--theme-table-border);
  border-radius: 8px;
}

.conditions .info {
  font-size: 13px;
  margin-bottom: 20px;
  color: var(--theme-secondary-blue);
  display: flex;
  justify-content: space-between;
}

.condition-wrapper {
  display: flex;
}

.conditions>.form-group.nickname {
  padding: 0px 25px 0px 0px;
}

.conditions .input-wrapper {
  flex-grow: 1;
}

.conditions .add,
.conditions .mins {
  display: flex;
  /* margin-top: 6px; */
  font-size: 16px;
  color: var(--theme-light-green);
  margin-left: 12px;
  user-select: none;
  height: fit-content;
}

.conditions .minus {
  margin-left: 10px;
}

.conditions .minus.invisible {
  width: 15px;
}

.conditions .add:hover,
.conditions .minus:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 40px 20px;
  }

  .form-row>.col:first-child,
  .form-row>[class*=col-]:first-child,
  .form-row>.col:only-child,
  .form-row>[class*=col-]:only-child {
    padding-right: 5px;
    padding-left: 5px;

  }

  .conditions {
    margin: unset;
  }

  .condition-wrapper {
    flex-direction: column;
  }

  .conditions .input-wrapper>div {
    border: 1px solid var(--theme-table-border);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .conditions .add {
    justify-content: flex-end;
  }
}
