<div class="wrapper shadow">

  <form [formGroup]="form" novalidate class="needs-validation" (submit)="save($event)">
    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="pricingProfileName">Pricing Profile Name</label>
        <input type="text" formControlName="pricingProfileName" class="form-control" id="pricingProfileName"
          name="pricingProfileName" placeholder="Pricing Profile Name">
        <span class="footnote">* If left blank, we will auto-generate one for you.</span>
      </div>

      <div class="form-group theme col-md-6">
        <label for="processProfileName">Process Profile Name</label>
        <select required id="processProfileName" name="processProfileName" formControlName="processProfileName"
          class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of processProfiles" [value]="item.id">{{item.name}}</option>
        </select>
        <span class="footnote">* If you don’t see a profile, update your Process profile.</span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group theme col-md-6 conditionLabel">
        <label for="conditionLabel">Conditions</label>
      </div>
    </div>


    <div id="conditionLabel" class="conditions">
      <div class="info">
        <span>
          Define the condition under which this profile should be used.
        </span>
        <span class="add" (click)="addCondition()">
          <i class="fas fa-plus"></i>
        </span>

      </div>
      <div class="condition-wrapper">
        <span>
          If
        </span>

        <div class="input-wrapper">

          <div *ngFor="let item of selectedConditions; let index = index" class="form-row">

            <div class="form-group theme col-md-3">
              <select required id="name" name="name" [(ngModel)]="selectedConditions[index].name"
                [ngModelOptions]="{standalone: true}" class="form-control">
                <option selected value="">Choose...</option>
                <option *ngFor="let item of conditionNames" [value]="item.id">{{item.name}}</option>
              </select>
            </div>

            <div class="form-group theme col-md-3">
              <select required id="condition" name="condition" [(ngModel)]="selectedConditions[index].condition"
                [ngModelOptions]="{standalone: true}" class="form-control">
                <option selected value="">Choose...</option>
                <option *ngFor="let item of conditions" [value]="item.id">{{item.name}}</option>
              </select>
            </div>

            <div class="form-group theme col-md-3">
              <input required type="text" [(ngModel)]="selectedConditions[index].value"
                [ngModelOptions]="{standalone: true}" class="form-control" id="value" name="value" placeholder="Value">
            </div>

            <div class="form-group theme col-md-3 icon-attached">
              <select required id="unit" name="unit" [(ngModel)]="selectedConditions[index].unit"
                [ngModelOptions]="{standalone: true}" class="form-control">
                <option selected value="">Choose...</option>
                <option *ngFor="let item of units" [value]="item.id">{{item.name}}</option>
              </select>

              <span class="minus" (click)="removeCondition(index, 'conditions')">
                <i class="fas fa-minus"></i>
              </span>
            </div>

          </div>

        </div>

        <!-- <span class="add" (click)="addCondition()">
          <i class="fas fa-plus"></i>
        </span> -->

      </div>
    </div>


    <div class="form-row">
      <div class="form-group theme col-md-6 pricingParameter">
        <label for="pricingParameter">Pricing Parameters</label>
      </div>
    </div>


    <div id="pricingParameter" class="conditions">
      <div class="info">
        <span>
          Define the Pricing Parameters for this Process Profile.
        </span>
        <span class="add" (click)="addPricingParameter()">
          <i class="fas fa-plus"></i>
        </span>
      </div>

      <div class="condition-wrapper">
        <!-- <span>
          If
        </span> -->

        <div class="input-wrapper">

          <div *ngFor="let item of selectedPricingParameters; let index = index" class="form-row">

            <div class="form-group theme col-md-4">
              <input required type="text" [(ngModel)]="selectedPricingParameters[index].value1"
                [ngModelOptions]="{standalone: true}" class="form-control" id="value1" name="value1"
                placeholder="$0.05">
            </div>

            <div class="form-group col-md-1">

              <div class="text-center d-flex justify-content-center align-items-center h-100">Per</div>

            </div>

            <div class="form-group theme col-md-3">
              <input required type="text" [(ngModel)]="selectedPricingParameters[index].value2"
                [ngModelOptions]="{standalone: true}" class="form-control" id="value2" name="value2" placeholder="1">
            </div>

            <div class="form-group theme col-md-4 icon-attached">
              <input required type="text" [(ngModel)]="selectedPricingParameters[index].unit"
                [ngModelOptions]="{standalone: true}" class="form-control" id="value" name="value"
                placeholder="Part Volume (cc)">
              <span class="minus" (click)="removeCondition(index, 'pricingParameters')">
                <i class="fas fa-minus"></i>
              </span>
            </div>
          </div>
        </div>

      </div>
      <div class="info">Adjust the generic characteristics for this build to match your internal capability, as
        necessary.</div>

    </div>


    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>

    </div>
  </form>
</div>
