<div class="wrapper shadow">

  <form [formGroup]="form" novalidate class="needs-validation" (submit)="save($event)">
    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="pricingProfileName">Pricing Profile Name</label>
        <input type="text" formControlName="pricingProfileName" class="form-control" id="pricingProfileName"
          name="pricingProfileName" placeholder="Pricing Profile Name">
        <span class="footnote">* If left blank, we will auto-generate one for you.</span>
      </div>

      <div class="form-group theme col-md-6">
        <label for="processProfileId">Process Profile Name</label>
        <select (change)="processProfileChanged()" required id="processProfileId" name="processProfileId" formControlName="processProfileId"
          class="form-control">
          <option selected value=''>Choose...</option>
          <option *ngFor="let item of processProfiles" [value]="item.id">{{item.name}}</option>
        </select>
        <div class="invalid-feedback">
          Please choose a process profile.
        </div>
        <span class="footnote">* If you don’t see a profile, update your Process profile.</span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group theme col-md-6 conditionLabel">
        <label for="conditionLabel">Conditions</label>
      </div>
    </div>


    <div id="conditionLabel" class="conditions">
      <div class="info">
        <span>
          Define the condition under which this profile should be used.
        </span>
        <span class="add" (click)="addCondition()">
          <i class="fas fa-plus"></i>
        </span>

      </div>
      <div class="condition-wrapper">
        <span>
          If
        </span>

        <div class="input-wrapper">

          <div *ngFor="let item of selectedPricingConditionList; let index = index" class="form-row">
            <div class="form-group theme col-md-3">
              <select required id="name" name="name"
                [(ngModel)]="selectedPricingConditionList[index].processPricingConditionType.id"
                (ngModelChange)="getProperOperands(selectedPricingConditionList[index].processPricingConditionType.id, index)"
                [ngModelOptions]="{standalone: true}" class="form-control">
                <option selected value="">Choose...</option>
                <option *ngFor="let item of filteredPricingConditionTypes" [value]="item.id">{{item.name}}
                </option>
              </select>
              <div class="invalid-feedback">
                Required.
              </div>
            </div>

            <div class="form-group theme col-md-2">
              <select [disabled]="selectedPricingConditionList[index].processPricingConditionType.id.length == 0"
                required id="condition" name="condition"
                [(ngModel)]="selectedPricingConditionList[index].operatorType.id" [ngModelOptions]="{standalone: true}"
                class="form-control">
                <option selected value="">Choose...</option>
                <option *ngFor="let item of selectedPricingConditionList[index].operandTypeList" [value]=" item.id">
                  {{item.symbol}}</option>
              </select>
              <div class="invalid-feedback">
                Required.
              </div>
            </div>
            <div class="form-group theme col-md-1">
              <select required id="condition" name="condition"
                [(ngModel)]="selectedPricingConditionList[index].valueSignType.id" [ngModelOptions]="{standalone: true}"
                class="form-control">
                <option selected value="">Choose...</option>
                <option *ngFor="let item of signTypes" [value]="item.id">{{item.symbol}}</option>
              </select>
              <div class="invalid-feedback">
                Required.
              </div>
            </div>

            <div class="form-group theme col-md-3">
              <input required type="number" step="0.00001" maxlength="4" min="0" max="9999"
                [(ngModel)]="selectedPricingConditionList[index].value" [ngModelOptions]="{standalone: true}"
                class="form-control" id="value" name="value" placeholder="Value">
              <div class="invalid-feedback">
                Required.
              </div>
            </div>

            <div class="form-group theme col-md-3 icon-attached">
              <div>
                <select required id="condition" name="condition"
                  [(ngModel)]="selectedPricingConditionList[index].unitType.id" [ngModelOptions]="{standalone: true}"
                  class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of units" [value]="item.id">
                    <ng-container *ngIf="item.id < 13">
                      {{item.name}}({{item.symbol}})
                    </ng-container>
                    <ng-container *ngIf="item.id >= 13">
                      {{item.name}}
                    </ng-container>
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>

              </div>

              <span *ngIf="index !== 0" class="minus" (click)="removeCondition(index, 'Condition')">
                <i class="fas fa-minus"></i>
              </span>

              <span *ngIf="index === 0" class="minus invisible">
                <i class=""></i>
              </span>

            </div>

          </div>

        </div>

        <!-- <span class="add" (click)="addCondition()">
          <i class="fas fa-plus"></i>
        </span> -->

      </div>
    </div>


    <div class="form-row">
      <div class="form-group theme col-md-6 pricingParameter">
        <label for="pricingParameter">Pricing Parameters</label>
      </div>
    </div>


    <div id="pricingParameter" class="conditions">
      <div class="info">
        <span>
          Define the Pricing Parameters for this Process Profile.
        </span>
        <span class="add" (click)="addPricingParameter()">
          <i class="fas fa-plus"></i>
        </span>
      </div>

      <div class="condition-wrapper">
        <!-- <span>
          If
        </span> -->

        <div class="input-wrapper">

          <div *ngFor="let item of selectedParameterList; let index = index" class="form-row">

            <div class="form-group theme col-md-2">
              <select required id="name" name="name" [(ngModel)]="selectedParameterList[index].currency.id"
                [ngModelOptions]="{standalone: true}" class="form-control">
                <option selected value="">Choose...</option>
                <option *ngFor="let item of currencyList" [selected]="item.symbole == $" [value]="item.id">
                  {{item.symbol}}</option>
              </select>
              <div class="invalid-feedback">
                Required.
              </div>
            </div>

            <div class="form-group theme col-md-2">
              <input required type="number" step="0.00001" maxlength="4" min="0" max="9999"
                [(ngModel)]="selectedParameterList[index].price" [ngModelOptions]="{standalone: true}"
                class="form-control" id="price" name="price" placeholder="Value">
              <div class="invalid-feedback">
                Required.
              </div>
            </div>

            <div class="form-group col-md-1">

              <div class="text-center d-flex justify-content-center align-items-flex-start h-100">Per</div>

            </div>

            <div class="form-group theme col-md-2">
              <input required type="number" step="0.00001" maxlength="4" min="0" max="9999"
                [(ngModel)]="selectedParameterList[index].quantity" [ngModelOptions]="{standalone: true}"
                class="form-control" id="quantity" name="quantity" placeholder="Value">
              <div class="invalid-feedback">
                Required.
              </div>
            </div>

            <div class="form-group theme col-md-2 icon-attached">
              <div>

                <select required id="condition" name="condition"
                  [(ngModel)]="selectedParameterList[index].quantityUnitType.id" [ngModelOptions]="{standalone: true}"
                  class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of units" [value]="item.id">
                    <ng-container *ngIf="item.id < 13">
                      {{item.name}}({{item.symbol}})
                    </ng-container>
                    <ng-container *ngIf="item.id >= 13">
                      {{item.name}}
                    </ng-container>
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

            </div>

            <div class="form-group theme col-md-3 icon-attached">
              <div>

                <select required id="type" name="type"
                  [(ngModel)]="selectedParameterList[index].processPricingParameterType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of filteredProcessPricingParameterTypeList" [value]="item.id">{{item.name}}</option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <span *ngIf="index === 0" class="minus invisible">
                <i class=""></i>
              </span>

              <span *ngIf="index !== 0" class="minus" (click)="removeCondition(index, 'Parameter')">
                <i class="fas fa-minus"></i>
              </span>

            </div>
          </div>
        </div>

      </div>
      <div class="info">Adjust the generic characteristics for this build to match your internal capability, as
        necessary.</div>

    </div>


    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>

    </div>
  </form>
</div>
