<aside
  id="leftsidebar"
  class="app-sidebar sidebar">
  <div class="app-header">
    <div class="app-logo">
      <img class="logo-img"  (click)="navigatePath('login')" src="assets/img/side-bar-logo.svg"
           title="Logo"/>
    </div>
  </div>
  <div class="">
    <ul class="list">
      <li *ngFor="let sidebarItem of sidebarItems">
        <div class="header text-right"
             [ngClass]="activePath(sidebarItem.path) ? 'active': '' ">
          <a
            [routerLink]="sidebarItem.path" class="nonactive" [ngClass]="activePath(sidebarItem.path) ? 'active': '' ">
          <span style="padding-right: 9px;">
            <img [src]="activePath(sidebarItem.path)? sidebarItem.active: sidebarItem.nonActive" alt="name">
          </span>
          {{ sidebarItem.title }}
          </a>
        </div>
      </li>
    </ul>
  </div>
  <!-- #Menu -->
</aside>
