<div class="edit-subs-container">
  <div class="card">
    <h3 class="title-bar">Edit Subscription</h3>
    <div class="left-sec">
      <div class="package-tabheader">
        <button [ngClass]="getClass('indivual')" class="tab-btn" (click)="option = !option">Individual</button>
        <button [ngClass]="getClass('teams')" class="tab-btn" (click)="option = !option">Teams</button>
      </div>

      <div class="package-container" *ngIf="option">
        <div class="package-box">
          <div class="package-header">
            <h3 class="box-title">BASIC</h3>
          </div>
          <div class="package-icon">
            <img src="assets/img/basic_plan.svg"/>
          </div>
          <div class="package-content">
            <h3 class="package-price"><span class="price-txt">&#36;19.95/</span>month</h3>
            <ul class="package-list">
              <li>3 Properties</li>
              <li>One user profile</li>
              <li>Unlimited Reports</li>
              <li>Customized Agent Page</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" (click)="navigateTo()">ACTIVATE</button>
            </div>
          </div>
        </div>
        <div class="package-box">
          <div class="package-header">
            <h3 class="box-title">ADVANCED</h3>
          </div>
          <div class="package-icon">
            <img src="assets/img/advanced_plan.svg"/>
          </div>
          <div class="package-content">
            <h3 class="package-price"><span class="price-txt">&#36;19.95/</span>month</h3>
            <ul class="package-list">
              <li>10 Properties</li>
              <li>one user Profile</li>
              <li>Unlimited Reports</li>
              <li>Customized Agent Page</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" (click)="navigateTo()">ACTIVATE</button>
            </div>
          </div>
        </div>
        <div class="package-box">
          <div class="package-header">
            <h3 class="box-title">UNLIMITED</h3>
            <span class="mp-badge">MOST POPULAR</span>
          </div>
          <div class="package-icon">
            <img src="assets/img/unlimited_plan.svg"/>
          </div>
          <div class="package-content">
            <h3 class="package-price"><span class="price-txt">&#36;49.95/</span>month</h3>
            <ul class="package-list">
              <li>Unlimited Properties</li>
              <li>One User Profile</li>
              <li>Unlimited Reports</li>
              <li>Customized Agent Page</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" (click)="navigateTo()">ACTIVATE</button>
            </div>
          </div>
        </div>
      </div>
      <div class="package-container" *ngIf="!option">
        <div class="package-box">
          <div class="package-header">
            <h3 class="box-title">TEAMS</h3>
          </div>
          <div class="package-icon">
            <img src="assets/img/teams_plan.svg"/>
          </div>
          <div class="package-content">
            <h3 class="package-price"><span class="price-txt">&#36;99.95/</span>month</h3>
            <ul class="package-list">
              <li>50 properties</li>
              <li>One User Profile</li>
              <li>Unlimited Reports</li>
              <li>Customized Agent Page</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" (click)="navigateTo()">ACTIVATE</button>
            </div>
          </div>
        </div>
        <div class="package-box">
          <div class="package-header">
            <h3 class="box-title">AGENCY</h3>
          </div>
          <div class="package-icon">
            <img src="assets/img/agency_plan.svg"/>
          </div>
          <div class="package-content">
            <h3 class="package-price"><span class="price-txt">&#36;149.95/</span>month</h3>
            <ul class="package-list">
              <li>100 Properties</li>
              <li>One User Profile</li>
              <li>Unlimited Reports</li>
              <li>Customized Agent Page</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" (click)="navigateTo()">ACTIVATE</button>
            </div>
          </div>
        </div>
        <div class="package-box">
          <div class="package-header">
            <h3 class="box-title">ENTERPRISE</h3>
            <span class="mp-badge">MOST POPULAR</span>
          </div>
          <div class="package-icon">
            <img src="assets/img/enterprise_plan.svg"/>
          </div>
          <div class="package-content">
            <h3 class="package-price"><span class="price-txt">&#36;199.95/</span>month</h3>
            <ul class="package-list">
              <li>Unlimited Properties</li>
              <li>One User Profile</li>
              <li>Unlimited Reports</li>
              <li>Customized Agent Page</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" (click)="navigateTo()">ACTIVATE</button>
            </div>
          </div>
        </div>
      </div>






      <!-- <div class="package-container" *ngIf="option">
        <div class="package-box" [ngClass]="'basic' === active ? 'active-bg': '' ">
          <div class="package-header">
            <h3 class="box-title" [ngClass]="'basic' === active ? 'active-color': '' ">BASIC</h3>
          </div>
          <div class="package-icon">
            <img src="assets/img/basic_plan.svg" class="package-ic" [ngClass]="'basic' === active ? 'active-img': '' "/>
          </div>
          <div class="package-content">
            <h3 class="package-price" [ngClass]="'basic' === active ? 'active-color': '' "><span class="price-txt" [ngClass]="'basic' === active ? 'active-color': '' ">&#36;19.95/</span>month</h3>
            <ul class="package-list">
              <li *ngFor="let comment of packageList.basic" [ngClass]="'basic' === active ? 'active-color active-list': '' ">{{comment}}</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" [ngClass]="'basic' === active ? 'activated-btn': '' " (click)="activate('basic')">ACTIVATE</button>
            </div>
          </div>
        </div>
        <div class="package-box" [ngClass]="'advanced' === active ? 'active-bg': '' ">
          <div class="package-header">
            <h3 class="box-title" [ngClass]="'advanced' === active ? 'active-color': '' ">ADVANCED</h3>
          </div>
          <div class="package-icon">
            <img src="assets/img/advanced_plan.svg" class="package-ic" [ngClass]="'advanced' === active ? 'active-img': '' " />
          </div>
          <div class="package-content">
            <h3 class="package-price" [ngClass]="'advanced' === active ? 'active-color': '' "><span class="price-txt" [ngClass]="'advanced' === active ? 'active-color': '' ">&#36;19.95/</span>month</h3>
            <ul class="package-list">
              <li *ngFor="let comment of packageList.advanced" [ngClass]="'advanced' === active ? 'active-color active-list': '' ">{{comment}}</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" [ngClass]="'advanced' === active ? 'activated-btn': '' " (click)="activate('advanced')">ACTIVATE</button>
            </div>
          </div>
        </div>
        <div class="package-box" [ngClass]="active === 'unlimited'? 'active-bg': '' ">
          <div class="package-header">
            <h3 class="box-title" [ngClass]="'unlimited' === active ? 'active-color': '' ">UNLIMITED</h3>
            <span class="mp-badge">MOST POPULAR</span>
          </div>
          <div class="package-icon">
            <img src="assets/img/unlimited_plan.svg" class="package-ic" [ngClass]="'unlimited' === active ? 'active-img': '' " />
          </div>
          <div class="package-content">
            <h3 class="package-price" [ngClass]="'unlimited' === active ? 'active-color': '' "><span class="price-txt" [ngClass]="'unlimited' === active ? 'active-color': '' ">&#36;49.95/</span>month</h3>
            <ul class="package-list">
              <li *ngFor="let comment of packageList.unlimited" [ngClass]="'unlimited' === active ? 'active-color active-list': '' ">{{comment}}</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" [ngClass]="'unlimited' === active ? 'activated-btn': '' " (click)="activate('unlimited')">ACTIVATE</button>
            </div>
          </div>
        </div>
      </div>
      <div class="package-container" *ngIf="!option">
        <div class="package-box" [ngClass]="'teams' === active ? 'active-bg': '' " >
          <div class="package-header">
            <h3 class="box-title" [ngClass]="'teams' === active ? 'active-color': '' " >TEAMS</h3>
          </div>
          <div class="package-icon">
            <img src="assets/img/teams_plan.svg" [ngClass]="'teams' === active ? 'active-img': '' " class="package-ic"/>
          </div>
          <div class="package-content">
            <h3 class="package-price" [ngClass]="'teams' === active ? 'active-color': '' " ><span class="price-txt" [ngClass]="'teams' === active ? 'active-color': '' ">&#36;99.95/</span>month</h3>
            <ul class="package-list">
              <li *ngFor="let comment of packageList.team" [ngClass]="'teams' === active ? 'active-color active-list': '' " >{{comment}}</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" [ngClass]="'teams' === active ? 'activated-btn': '' " (click)="activate('teams')">ACTIVATE</button>
            </div>
          </div>
        </div>
        <div class="package-box" [ngClass]="'agency' === active ? 'active-bg': '' ">
          <div class="package-header">
            <h3 class="box-title" [ngClass]="'agency' === active ? 'active-color': '' ">AGENCY</h3>
          </div>
          <div class="package-icon">
            <img src="assets/img/agency_plan.svg" class="package-ic" [ngClass]="'agency' === active ? 'active-img': '' "/>
          </div>
          <div class="package-content">
            <h3 class="package-price" [ngClass]="'agency' === active ? 'active-color': '' "><span class="price-txt" [ngClass]="'agency' === active ? 'active-color': '' ">&#36;149.95/</span>month</h3>
            <ul class="package-list">
              <li *ngFor="let comment of packageList.agency" [ngClass]="'agency' === active ? 'active-color active-list': '' ">{{comment}}</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" [ngClass]="'agency' === active ? 'activated-btn': '' " (click)="activate('agency')">ACTIVATE</button>
            </div>
          </div>
        </div>
        <div class="package-box" [ngClass]="'enterprise' === active ? 'active-bg': '' ">
          <div class="package-header">
            <h3 class="box-title" [ngClass]="'enterprise' === active ? 'active-color': '' ">ENTERPRISE</h3>
            <span class="mp-badge">MOST POPULAR</span>
          </div>
          <div class="package-icon">
            <img src="assets/img/enterprise_plan.svg" class="package-ic" [ngClass]="'enterprise' === active ? 'active-img': '' "/>
          </div>
          <div class="package-content">
            <h3 class="package-price" [ngClass]="'enterprise' === active ? 'active-color': '' " ><span class="price-txt" [ngClass]="'enterprise' === active ? 'active-color': '' ">&#36;199.95/</span>month</h3>
            <ul class="package-list">
              <li *ngFor="let comment of packageList.enterprise" [ngClass]="'enterprise' === active ? 'active-color active-list': '' ">{{comment}}</li>
            </ul>
            <div class="active-wrapper">
              <button class="active-btn" [ngClass]="'enterprise' === active ? 'activated-btn': '' " (click)="activate('enterprise')">ACTIVATE</button>
            </div>
          </div>
        </div>
      </div> -->





    </div>
  </div>
</div>


