<div class="wrapper shadow">
  <form [formGroup]="contactForm" class="needs-validation">
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Email Address(username)</label>
        <input readonly formControlName="email" class="form-control" placeholder="Email" />
      </div>

      <div class="col-md-6"></div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>First Name</label>
        <input readonly formControlName="firstName" class="form-control" placeholder="First Name" />
      </div>
      <div class="form-group theme col-md-6">
        <label>Last Name</label>
        <input readonly formControlName="lastName" class="form-control" placeholder="Last Name" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group theme col-md-6 phone">
        <label>Phone</label>
        <international-phone-number
          aria-disabled="true"
          disabled
          aria-readonly="true"
          readonly
          formControlName="phoneNo"
          placeholder="Enter phone number"
          name="phone_number"
        >
        </international-phone-number>
      </div>
      <div class="col-md-6"></div>
    </div>
  </form>
</div>
