:host {
  font-size: 12px;
}

.shipment {
  background: #f0f8ff;
  border-radius: 5px;
}

:host .shipment .table td {
  border: unset;
  padding: 0 1em 1em 1em;
}

.border {
  border-radius: 5px;
}

.label {
  margin-bottom: 3px;
}

.label.target-delivery {
  color: var(--theme-sky-blue);
}

.value-text {
  margin-left: 5px;
  word-break: break-all;
}
