<ng-sidebar-container>
  <ng-sidebar
    [(opened)]="sideBarOpened"
    mode="over"
    position="right"
    [sidebarClass]="'right-sidebar'"
    [closeOnClickOutside]="closeOnClickOutside"
    (onClosed)="onClosed()"
  >
    <a closeSidebar class="close-icon"><i class="fa fa-times"></i></a>

    <!-- User Information Block -->
    <div class="row pt-2">
      <div class="col-4 pl-5">
        <img [src]="userInfo.img" class="rounded-circle" [alt]="userInfo.firstName" width="80" height="80" />
      </div>
      <div class="col-6 pt-1 text-theme">
        <h5>{{ userInfo.firstName }} {{ userInfo?.lastName }}</h5>
        <div class="pt-1">{{ userInfo.email }}</div>
        <div class="pt-1">
          <button type="button" class="btn btn-link p-0" (click)="onLogout()">Logout</button>
        </div>
      </div>
    </div>
    <hr />

    <!-- Search Customer or Vendor Block -->
    <div class="text-theme shadow-block p-2 pl-3" *ngIf="showSearch">
      <h6 class="text-blue m-0">Search Customer or Vendor</h6>
      <div class="text-center w-100 pt-2">
        <label class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="customerOrVendor"
            [value]="true"
            [(ngModel)]="isCustomer"
            (change)="onCustomerSelect()"
          />
          Customer
        </label>
        <label class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="customerOrVendor"
            [value]="false"
            [(ngModel)]="isCustomer"
            (change)="onVendorSelect()"
          />
          Vendor
        </label>
        <div class="pt-1">
          <ng-select
            *ngIf="isCustomer"
            class="customerSearchSidebar"
            [items]="customers | async"
            bindLabel="fullName"
            [loading]="searchLoading"
            typeToSearchText="Please enter 2 or more characters"
            [typeahead]="searchInput"
            placeholder="Search Customer"
            (close)="closeOnClickOutside = true"
            (open)="closeOnClickOutside = false"
            [(ngModel)]="selectedCustomer"
          >
          </ng-select>
          <ng-select
            *ngIf="!isCustomer"
            class="vendorSearchSidebar"
            [items]="vendors | async"
            bindLabel="fullName"
            [loading]="searchLoading"
            typeToSearchText="Please enter 2 or more characters"
            [typeahead]="searchInput"
            placeholder="Search Vendor"
            (close)="closeOnClickOutside = true"
            (open)="closeOnClickOutside = false"
            [(ngModel)]="selectedVendor"
          >
          </ng-select>
        </div>
      </div>
    </div>

    <!-- Communication Block -->
    <div class="text-theme shadow-block p-2 pl-3 font-weight-500" *ngIf="selectedCustomer || selectedVendor">
      <h6 class="text-blue">Communication with {{ selectedCustomer?.customerName }} {{ selectedVendor?.name }}</h6>
      <div class="row clickable">
        <!--<div class="col-5 pt-3 pb-2">
          <span (click)="openNote()"><i class="far fa-comment-alt pr-1"></i> Note Us</span>
        </div>
        <div class="col-7 pt-3 pb-2">
          <span (click)="openMessageModal(true)">
            <i class="far fa-envelope pr-1"></i> Mail US</span>
        </div>
        <div class="col-5 pt-3 pb-2">
          <span (click)="openChat()"><i class="far fa-comments pr-1"></i> Chat with US</span>
        </div>
        <div class="col-7 pt-3 pb-2 pr-1">
          <span (click)="openScheduleMeet()"><i class="far fa-calendar pr-1"></i> Schedule Meeting</span>
        </div>
        <div class="col-12 pt-3 pb-2">
          <span (click)="openNextMeet()">
            <i class="fa fa-video pr-1"></i>
            <span class="font-weight-normal pl-1">Next Meeting Time:</span> 03/12/2020 4:30pm
          </span>
        </div>
        <div class="col-12 pt-3 pb-2">
          <span (click)="openText()"><i class="fa fa-phone-alt pr-1"></i> Text/Voice Message</span>
        </div>-->
        <div class="col-7 pt-3 pb-2">
          <span (click)="openMessageModal(false)"><i class="fa fa-phone-alt pr-1"></i> Text/Voice Message</span>
        </div>
        <div class="col-5 pt-3 pb-2">
          <span (click)="openEmail()"><i class="far fa-envelope pr-1"></i> Mail US</span>
        </div>
      </div>
    </div>
  </ng-sidebar>
</ng-sidebar-container>
