<div class="pre-header">
  <a href="#" class="logo-img">
    <img src="assets/img/home-page-logo.svg" (click)="this.isLogined ? this.navigateToAddProperty() : this.loginPopUp();"/>
  </a>
  <div class="header_links">
    <a class="txt-right" [ngClass]="getActiveRoutes('pricing') ? 'active': '' " routerLink="/pricing">Pricing</a>
    <a class="txt-right" [ngClass]="getActiveRoutes('features') ? 'active': '' " routerLink="/features">Features</a>
    <a class="txt-right" [ngClass]="getActiveRoutes('about') ? 'active': '' " routerLink="/about">About</a>
    <button class="tab-btn mr-0" (click)="navigateToAddProperty()" *ngIf="isLogined" style="width: 150px;">Pricing Meter</button>
    <button class="tab-btn" (click)="loginPopUp()" *ngIf="!isLogined">Login</button>
    <button class="tab-btn btn-active" (click)="navigateTo()" *ngIf="!isLogined">Sign Up</button>
  </div>
</div>