.pre-header {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .txt-right {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #000000;
    margin-right: 30px;

    &:hover {
      text-decoration: none;
    }
  }
  .header_links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .active {
    color:  #006AFF;
  }

  .tab-btn {
    font-family: 'Poppins-Regular';
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #006AFF;
    background: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-right: 15px;
    letter-spacing: 0.1em;
    color: #407BFF;

    &:last-child {
      margin-right: 0px;
    }

    &.btn-active {
      color: #ffffff;
      background-color: #006AFF;
    }
  }
}