<div class="wrapper shadow">
  <form [formGroup]="contactForm" class="needs-validation">
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Company</label>
        <input formControlName="name" class="form-control" placeholder="Company" readonly />
      </div>

      <div class="col-md-2"></div>

      <div class="form-group col-md-2 mt-3">
        <button
          *ngIf="contactForm.value.userLocked === true"
          type="button"
          class="btn btn-primary theme btn-sky-blue w-75"
          (click)="onUnlock()"
        >
          Unlock
        </button>
      </div>

      <div *ngIf="contactForm.value.customerActive === false" class="form-group col-md-2 mt-3">
        <button type="button" class="btn btn-primary theme w-75" (click)="onActivate()">Activate</button>
      </div>

      <div *ngIf="contactForm.value.customerActive === true" class="form-group col-md-2 mt-3">
        <button type="button" class="btn btn-primary theme orange-btn w-75" (click)="onDeactivate()">Deactivate</button>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Company Division</label>
        <input formControlName="division" class="form-control" placeholder="Company Division" readonly />
      </div>

      <div class="form-group theme col-md-6">
        <label>Industry</label>
        <ng-select
          [multiple]="true"
          [searchable]="false"
          [clearable]="false"
          dropdownPosition="bottom"
          [virtualScroll]="true"
          [hideSelected]="true"
          placeholder="Industry"
          [selectOnTab]="true"
          [(ngModel)]="industries"
          [ngModelOptions]="{ standalone: true }"
        >
          <ng-option *ngFor="let item of vendorIndustries" [value]="item.id">{{ item.name }}</ng-option>
        </ng-select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group theme col-md-6 phone">
        <label>Company Phone</label>
        <international-phone-number
          formControlName="phoneNo"
          placeholder="Enter phone number"
          [required]="true"
          name="phone_number"
        ></international-phone-number>
      </div>
    </div>
  </form>
</div>
