<div class="wrapper">
  <div *ngIf="tableControlReady" class="table-control">
    <app-column-search-filter width="200px" height="295px" [type]="type" [(filterColumns)]="filterColumns"
      (filterColumnsChange)="filterColumnsChange($event)" [(searchColumns)]="searchColumns"
      (searchColumnsChange)="searchColumnsChange($event)">
    </app-column-search-filter>
  </div>
  <div *ngIf="tableControlReady" class="table theme-table">

    <div class="page-size">
      Page Size:
      <select id="page-size" [(ngModel)]="pageSize" (ngModelChange)="pageSizeChanged($event)">
        <option selected value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
    </div>

    <ag-grid-angular style="height: 100%;" class="ag-theme-balham" [rowData]="rowData" [gridOptions]="gridOptions">
    </ag-grid-angular>


  </div>
</div>



<!-- Button trigger modal -->
<button #copyModal type="button" class="btn btn-primary d-none" data-toggle="modal"
  data-target="#processProfileCopyModal">
</button>

<!-- Modal -->
<div class="modal fade theme" id="processProfileCopyModal" tabindex="-1" role="dialog"
  aria-labelledby="processProfileCopyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="processProfileCopyModalLabel">Confirm Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please provide a new name for the cloned Process Profile Name.

        <div class="form-row">
          <div class="form-group col-md-2"></div>

          <div class="form-group theme col-md-8">
            <label for="name"></label>
            <input type="text" class="form-control" [(ngModel)]="newProfileName" [ngModelOptions]="{standalone: true}"
              id="name" name="name" placeholder="New Process Profile Name">
          </div>

          <div class="form-group col-md-2"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn theme theme-reverse btn-primary " [disabled]="newProfileName.length <= 4"
          (click)="copyRow()">Clone</button>
      </div>
    </div>
  </div>
</div>
