<div class="app-agent-register">
  <div class="left-sec">
    <div class="logo-header">
      <img src="assets/img/app-logo.svg" class="logo-img" (click)="homePage()" />
    </div>
    <div class="form-content">
      <h2 class="form-title">Registration</h2>
      <form class="register-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" >
          <!--                    <mat-error *ngIf="loginForm.controls['name'].invalid">-->
          <!--                        {{validateUserInput('username')}}-->
          <!--                    </mat-error>-->
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" >
          <!--                    <mat-error *ngIf="loginForm.controls['name'].invalid">-->
          <!--                        {{validateUserInput('username')}}-->
          <!--                    </mat-error>-->
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Your Email</mat-label>
          <input matInput formControlName="email" >
          <!--                    <mat-error *ngIf="loginForm.controls['name'].invalid">-->
          <!--                        {{validateUserInput('username')}}-->
          <!--                    </mat-error>-->
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Your Password</mat-label>
          <input matInput formControlName="password">
          <!--                    <mat-error *ngIf="loginForm.controls['name'].invalid">-->
          <!--                        {{validateUserInput('username')}}-->
          <!--                    </mat-error>-->
        </mat-form-field>
        <div class="form-footer">
          <button class="submit-btn" (click)="navigateTo()">NEXT</button>
          <div class="sub-wrap">Already have an account? <a href="" class="sign-lynk">Sign In</a></div>
        </div>
      </form>
    </div>
  </div>
  <div class="right-sec">
    <h2 class="right-header">Use Pricing Meter and NEVER lose a<br /> listing due to pricing.</h2>
    <div class="right-bg-wrapper">
      <img src="assets/img/reg-pricing-bg.svg" class="pricing-bg" />
    </div>
    <div class="bottom-control">
      <span class="dot-nav dot-active"></span>
      <span class="dot-nav"></span>
      <span class="dot-nav"></span>
      <span class="dot-nav"></span>
    </div>
  </div>
</div>


