.app-agent-register {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  position: relative;

  .left-sec {
    flex: 1;

    .logo_img {
      position: absolute;
      top: 30px;
      left: 30px;
    }

    .form-content {
      margin: auto 0;

      .form-title {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 28px;
        line-height: 1.5;
        letter-spacing: 0.05em;
        color: #407BFF;
        text-align: center;
        margin: 35px 0;
      }

      form.register-form {
        width: 530px;display: flex;flex-flow: column;margin: 0 auto;

        .form-field {
          font-family: Poppins-Regular;
          font-size: 16px;
          font-weight: 300;

          ::ng-deep {
            .mat-form-field-outline {
              color: #ccc;
            }
            .mat-form-field-outline-start {
              border-radius: 2px 0 0 2px;
            }
            .mat-form-field-infix .mat-form-field-label {
              color: #AAAAAB;
            }
            .mat-form-field-invalid .mat-form-field-label {
              color: #f44336 !important;
            }
            .mat-form-field-infix {
              padding: 18px 0 18px 0;
            }
            .mat-form-field-label {
              margin-top: -2px;
            }
          }
        }

        .form-footer {
          margin-top: 20px;
        }

        button.submit-btn {
          background: #407BFF;
          border-radius: 3px;
          border: none;
          height: 68px;
          width: 100%;
          font-family: Poppins-Regular;
          font-style: normal;
          font-size: 25px;
          line-height: 37px;
          letter-spacing: 0.05em;
          color: #FFFFFF;
        }

        .sub-wrap {
          padding: 10px;
          text-align: center;
          font-family: Poppins-Regular;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 0.05em;
          color: #6D6D6D;

          a.sign-lynk {
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.05em;
            color: #006AFF;
            text-decoration: none;
          }
        }
      }
    }
  }

  .right-sec {
    position: relative;
    flex: 1;
    //background-image: url('src/assets/img/regester-bg.svg');
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: auto;
    background-color: rgba(0, 106, 255, 0.1);

    .right-header {
      position: relative;
      top: 30px;
      line-height: 44px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #006AFF;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      word-break: break-word;
      padding: 30px;
    }

    img.pricing-bg {
      width: 100%;
      height: calc(100vh - 250px);
    }
    .bottom-control {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
      .dot-nav {
        display: inline-block;
        width: 20px;
        height: 2px;
        background: #E0E0E0;
        margin-right: 5px;
        &.dot-active {
          background: #006AFF;
        }
      }
    }
  }
}


@media (max-width:1200px) {
  .app-agent-register .left-sec .form-content form.register-form{
    width: auto;
  }
  .app-agent-register .right-sec .right-header {
    top: auto;
  }
}

@media (max-width:1030px) {
  .app-agent-register .right-sec .right-header {
    br {
      display:none;
    }
  }
}

@media (max-width:980px) and (min-width: 768px) {
  .app-agent-register .left-sec {
    padding: 20px;
  }

  .app-agent-register .right-sec .right-header {
    padding: 20px;
  }
}

@media (max-width:767px) {
  .app-agent-register .right-sec .right-header {
    padding: 20px;
  }
  .app-agent-register {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
  }

  .app-agent-register .right-sec {
    height: 90vh;
  }

  .app-agent-register .left-sec .logo-header {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .app-agent-register .left-sec .form-content .form-title {
    margin-bottom: 15px;
    font-size: 25px;
  }
}

@media (max-width:480px) {
  .app-agent-register .right-sec .right-header {
    padding: 20px;
    margin-bottom: 0;
    font-size: 27px;
    line-height: 36px;
  }
}
