
.page-body.expanded {
    padding-left: 75px;
  }
  
  .page-body.collapsed {
    padding-left: 0px;
  }
  
  @media(max-width: 768px) {
    .page-body.expanded {
      padding-left: 65px;
    }
  }
  