<div class="app-forget-password">
  <div class="left-sec">
    <a href="#" class="logo_img">
      <img src="assets/img/app-logo.svg" class="img-fluid"/>
    </a>
    <div class="form-content">
      <h2 class="form-title">Forgot Password</h2>
      <div class="forget-form">
        <div class="form-main">
          <div class="form-group">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput />
            </mat-form-field>
<!--            <input type="text" placeholder="Email" class="form-control form-ip"/>-->
          </div>
        </div>
        <div class="form-footer">
          <button class="submit-btn">Recover Password</button>
          <!-- <span class="skip-lbl" (click)="navigateTo()">Skip</span>-->
        </div>
      </div>
    </div>
  </div>
  <div class="right-sec">
    <div class="right_illustration">
      <img src="assets/img/forgot-password.svg" class="img-fluid" alt="Registration_Step_4">
    </div>
  </div>
</div>
