.main-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 260px auto;

  .sidbar-layout {
    position: relative;

    width: 100%;
    z-index: 999;
  }
  //.sidbar-layout-open {
  //  transition: 0.5s;
  //  left: 0;
  //}

  .main-layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    .header-layout {
      width: 100%;
      height: 70px;
    }

    .router-Layout {
      width: 100%;
      height: calc(100vh - 70px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
