.playground {
  background: #e0e0e080;
  min-height: 100vh;
  padding: 120px 30px 20px 30px;
  z-index: 4;
}

.playground.wide {
  padding-left: 30px;
}

.wrapper {
  height: 100%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .playground {
    padding: 120px 20px 20px 20px;
  }
}
