<div class="wrapper shadow">
  <span class="form-notification"><i>Provided us some basic personal information.</i></span>
  <form [formGroup]="form" class="needs-validation">
    <div class="form-row">
      <div class="form-group theme col-md-12">
        <label>Email Address (username)</label>
        <input required  type="email" formControlName="email" class="form-control" placeholder="Email">
        <span *ngIf="showRequired('email', 1)" class="footnote red">* Required</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>First Name</label>
        <input required  formControlName="firstName" class="form-control" placeholder="First Name">
        <span *ngIf="showRequired('firstName', 1)" class="footnote red">* Required</span>
      </div>
      <div class="form-group theme col-md-6">
        <label> Last Name </label>
        <input required  formControlName="lastName" class="form-control" placeholder="Last Name">
        <span *ngIf="showRequired('lastName', 1)" class="footnote red">* Required</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-12 phone">
        <label>Phone</label>
        <international-phone-number formControlName="phone" placeholder="Enter phone number"
          [required]="true" name="phone_number"></international-phone-number>
        <span *ngIf="showRequired('phone', 1)" class="footnote red">* Required</span>
        <span *ngIf="!showRequired('phone', 1) && form.controls.phone.status === 'INVALID'" class="footnote red">* Phone
          number is invalid.</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Company</label>
        <input required  formControlName="company" class="form-control" placeholder="Company">
        <span *ngIf="showRequired('company', 1)" class="footnote red">* Required</span>
      </div>
      <div class="form-group theme col-md-6">
        <label>Department</label>
        <input  formControlName="department" class="form-control" placeholder="Department" />
      </div>
    </div>

    <div class="form-row " style="justify-content: center">
      <div class="form-group col-md-3">
        <button type="button" (click)="onSaveUserInformation($event)" class="btn btn-primary theme">Continue</button>
      </div>
    </div>
  </form>
</div>
