<div class="wrapper shadow">
  <form [formGroup]="detailForm" (submit)="save()">
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Vendor Name</label>
        <input required formControlName="name" class="form-control" placeholder="Vendor Name">
      </div>
      <div class="form-group theme col-md-6">
        <label>Vendor Type</label>
        <input required formControlName="vendorType" class="form-control" placeholder="Vendor Type">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Email</label>
        <input required type="email" formControlName="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group theme col-md-6">
        <label>Phone</label>
        <input required type="tel" formControlName="phone" class="form-control" placeholder="Phone">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col">
        <label>Primary Address</label>
        <input required formControlName="street" class="form-control" placeholder="1234 Main St">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-4">
        <label>City</label>
        <input required formControlName="city" class="form-control">
      </div>
      <div class="form-group theme col-md-4">
        <label>State</label>
        <input required formControlName="state" class="form-control">
      </div>
      <div class="form-group theme col-md-4">
        <label>Country</label>
        <select required formControlName="country" class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of internationalCode" [value]="item.name">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Certifications</label>
        <select formControlName="certification" class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of certificationsOption" [value]="item">{{item}}</option>
        </select>
      </div>
      <div class="form-group theme col-md-6">
        <label>Confidentiality</label>
        <select formControlName="certification" class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of confidentialityOption" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="row button-section">
      <div class="col-md-10 col-sm-8"></div>
      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme" [disabled]="!detailForm.valid">Save</button>
      </div>
    </div>
  </form>
</div>
