<div class="wrapper shadow">
  <form [formGroup]="detailForm" class="needs-validation" (submit)="save($event)">
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Vendor Name</label>
        <input required formControlName="name" class="form-control" placeholder="Vendor Name">
      </div>
      <div class="form-group theme col-md-6">
        <label>Vendor Type</label>
        <select required formControlName="vendorType" class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of vendorTypes" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col">
        <label>Vendor Industry</label>
        <ng-select [multiple]="true" dropdownPosition="bottom" [virtualScroll]="true" [hideSelected]="true"
          [selectOnTab]="true" [(ngModel)]="selectedVendorIndustry" [ngModelOptions]="{standalone: true}">
          <ng-option *ngFor="let item of vendorIndustries" [value]="item.id">{{item.name}}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Email</label>
        <input required type="email" formControlName="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group theme col-md-6">
        <label>Phone</label>
        <input required type="tel" formControlName="phone" class="form-control" placeholder="Phone">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col">
        <label>Street 1</label>
        <input required formControlName="street1" class="form-control" placeholder="1234 Main St">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Street 2</label>
        <input required formControlName="street2" class="form-control" placeholder="1234 Main St">
      </div>
      <div class="form-group theme col-md-6">
        <label>Zip</label>
        <input required formControlName="zipCode" class="form-control" placeholder="Zip Code" pattern="^[0-9\s]{5}$">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-4">
        <label>City</label>
        <input required formControlName="city" class="form-control">
      </div>
      <div class="form-group theme col-md-4">
        <label>State</label>
        <input required formControlName="state" class="form-control">
      </div>
      <div class="form-group theme col-md-4">
        <label>Country</label>
        <select required formControlName="country" class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of countries" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Certifications</label>
        <ng-select [multiple]="true" dropdownPosition="bottom" [virtualScroll]=" true" [hideSelected]="true"
          [selectOnTab]="true" [(ngModel)]="selectedCertifications" [ngModelOptions]="{standalone: true}">
          <ng-option *ngFor="let item of certifications" [value]="item.id">{{item.name}}</ng-option>
        </ng-select>
      </div>
      <div class="form-group theme col-md-6">
        <label>Confidentiality</label>
        <select formControlName="confidentiality" class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of confidentialities" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="row button-section">
      <div class="col-md-10 col-sm-8"></div>
      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme" [disabled]="!detailForm.valid">Save</button>
      </div>
    </div>
  </form>
</div>
