/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Regular'), url('assets/fonts/Poppins/Poppins-Regular.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Italic'), url('assets/fonts/Poppins/Poppins-Italic.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Thin'), url('assets/fonts/Poppins/Poppins-Thin.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-ThinItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-ThinItalic'), url('assets/fonts/Poppins/Poppins-ThinItalic.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-ExtraLight'), url('assets/fonts/Poppins/Poppins-ExtraLight.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-ExtraLightItalic'), url('assets/fonts/Poppins/Poppins-ExtraLightItalic.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Light'), url('assets/fonts/Poppins/Poppins-Light.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-LightItalic'), url('assets/fonts/Poppins/Poppins-LightItalic.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Medium'), url('assets/fonts/Poppins/Poppins-Medium.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-MediumItalic'), url('assets/fonts/Poppins/Poppins-MediumItalic.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-SemiBold'), url('assets/fonts/Poppins/Poppins-SemiBold.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-SemiBoldItalic'), url('assets/fonts/Poppins/Poppins-SemiBoldItalic.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Bold'), url('assets/fonts/Poppins/Poppins-Bold.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-BoldItalic'), url('assets/fonts/Poppins/Poppins-BoldItalic.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-ExtraBold'), url('assets/fonts/Poppins/Poppins-ExtraBold.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins ExtraBold Italic'), url('assets/fonts/Poppins/Poppins-ExtraBoldItalic.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-Black';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Black'), url('assets/fonts/Poppins/Poppins-Black.otf') format('otf');
}


@font-face {
  font-family: 'Poppins-BlackItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-BlackItalic'), url('assets/fonts/Poppins/Poppins-BlackItalic.otf') format('otf');
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
