/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Regular'), url('assets/fonts/Poppins/Poppins-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Italic'), url('assets/fonts/Poppins/Poppins-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Thin'), url('assets/fonts/Poppins/Poppins-Thin.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-ThinItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-ThinItalic'), url('assets/fonts/Poppins/Poppins-ThinItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-ExtraLight'), url('assets/fonts/Poppins/Poppins-ExtraLight.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-ExtraLightItalic'), url('assets/fonts/Poppins/Poppins-ExtraLightItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Light'), url('assets/fonts/Poppins/Poppins-Light.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-LightItalic'), url('assets/fonts/Poppins/Poppins-LightItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Medium'), url('assets/fonts/Poppins/Poppins-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-MediumItalic'), url('assets/fonts/Poppins/Poppins-MediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-SemiBold'), url('assets/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-SemiBoldItalic'), url('assets/fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Bold'), url('assets/fonts/Poppins/Poppins-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-BoldItalic'), url('assets/fonts/Poppins/Poppins-BoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-ExtraBold'), url('assets/fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins ExtraBold Italic'), url('assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-Black';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-Black'), url('assets/fonts/Poppins/Poppins-Black.woff') format('woff');
}


@font-face {
  font-family: 'Poppins-BlackItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins-BlackItalic'), url('assets/fonts/Poppins/Poppins-BlackItalic.woff') format('woff');
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/dosis-v18-latin/dosis-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/dosis-v18-latin/dosis-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/dosis-v18-latin/dosis-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/dosis-v18-latin/dosis-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/dosis-v18-latin/dosis-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/dosis-v18-latin/dosis-v18-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
}
