<div class="action-column col-12 p-0">
  <span #approve class="approve col-3 p-0 m-0" (click)="onApprove()" *ngIf="params.action.canApprove(params)">Approve</span>
  <span #decline class="decline col-3 p-0 m-0" (click)="onDecline()" *ngIf="params.action.canDecline(params)">Decline</span>
  <span #view class="view-cell col-3" (click)="onCommunicate()"><i class="far fa-comments"></i></span>
  <span #view class="view-cell col-3 p-0 m-0" (click)="onView()">View</span>
  <span #edit class="edit-cell nav-link col-3" (click)="onEdit()">Edit</span>
</div>
