<div class="add-property-container">
  <div class="row">
    <div class="col-sm-6">
      <a class="btn header-component" style="padding: 2rem;">PROPERTY DETAILS</a>
      <div class="image-wrapper">
        <img src="assets/img/add-property-image.svg" class="image-fit">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row review-section">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4" style="padding: 2rem;">
          <a class="btn detail-btn" (click)="navigateToCSV()">Upload CSV</a>
        </div>
      </div>
      <div  class="form-content-fluid">
        <form class="register-form" [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Property Owner Name</mat-label>
            <input matInput formControlName="ownerName">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Property Owner Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>City</mat-label>
                <mat-select formControlName="city">
                  <mat-option *ngFor="let city of cities" [value]="city">
                    {{city}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>State</mat-label>
                <mat-select formControlName="state">
                  <mat-option *ngFor="let city of cities" [value]="city">
                    {{city}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Street Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Zipcode</mat-label>
            <input matInput formControlName="zipcode">
          </mat-form-field>
          <div class="form-footer text-center">
            <button class="submit-btn">NEXT</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
