::ng-deep .part-detail .modal-dialog {
  max-width: 1200px;
}

.wrapper {
  border: 1px solid var(--theme-table-border);
  border-radius: 10px;
}

.tabs {
  border-bottom: 1px solid var(--theme-table-border);
}

.tab {
  padding: 10px 40px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: var(--theme-dark-blue);
}
.tab.active {
  color: var(--theme-light-green);
}
.tab.active:before {
  content: '';
  border-top: 4px solid var(--theme-light-green);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
