<div class="wrapper shadow">

  <form novalidate class="needs-validation">
    <div class="form-row">

      <div class="form-group theme col">
        <label for="facility_name">Facility Name</label>
        <input required type="text" [(ngModel)]="form.facility_name" class="form-control" id="facility_name"
          name="facility_name" placeholder="Facility Name">
      </div>



    </div>
    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="email">Email</label>
        <input required type="email" [(ngModel)]="form.email" class="form-control" id="email" name="email"
          placeholder="Email">
      </div>

      <div class="form-group theme col-md-6">
        <label for="phone">Phone</label>
        <input required type="tel" [(ngModel)]="form.phone" class="form-control" id="phone" name="phone"
          placeholder="Phone">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label for="address">Address</label>
        <input required type="text" [(ngModel)]="form.address" class="form-control" id="address" name="address"
          placeholder="1234 Main St">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col-md-4">
        <label for="city">City</label>
        <input required type="text" [(ngModel)]="form.city" class="form-control" id="city" name="city">
      </div>

      <div class="form-group theme col-md-4">
        <label for="state">State</label>
        <input required type="text" [(ngModel)]="form.state" class="form-control" id="state" name="state">
      </div>

      <div class="form-group theme col-md-4">
        <label for="country">Country</label>
        <select required id="country" name="country" [(ngModel)]="form.country" class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of internationalCode" [value]="item.name">{{item.name}}</option>
        </select>
      </div>

    </div>
    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="certifications">Certifications</label>
        <select required id="certifications" name="certifications" [(ngModel)]="form.certifications"
          class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of certificationsOption" [value]="item">{{item}}</option>
        </select>
      </div>


    </div>

    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme" (submit)="save()">Save</button>
      </div>

    </div>
  </form>
</div>
