.header-wrapper {
  background-color: #FAFCFF;;
  height: 70px;
  padding: 0 40px;
  //position: fixed;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  .material-icons{
    //padding-right: 27px;
    //padding-top: 2px;
  }


}
.right-sec {
  display: inline-flex;
  align-items: center;
  .mail-icon {
    display: none;
  }
}
.property-font {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #555555;
}

.profile-img {
  width: 50px;
  border-radius: 27px;
  border: 2px solid  #555555;

}

.txt-dropdown {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #989797;
  margin: 0 7%;
}

::ng-deep.mat-menu-panel {
  width: 230px !important;
}
