<div class="modal-container">
  <div class="modal-header align-items-center justify-content-center">
    <h5 class="modal-title text-theme-green pt-2">
      Send Mail
    </h5>
  </div>
  <div class="modal-container p-5">
    <form [formGroup]="mailForm" class="needs-validation">
      <div class="form-row">
        <div class="form-group theme col-12">
          <label>From</label>
          <input
            formControlName="from"
            value="noreply@3diligent.com"
            type="email"
            class="form-control"
            placeholder="From"
          />
          <span *ngIf="mailForm.controls.from.status === 'INVALID'" class="footnote red">
            This field is invalid.
          </span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group theme col-12">
          <label>To</label>
          <input formControlName="to" value="admin@3diligent.com" type="email" class="form-control" placeholder="To" />
          <span *ngIf="mailForm.controls.to.status === 'INVALID'" class="footnote red">
            This field is invalid.
          </span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group theme col-12">
          <label>CC</label>
          <ng-select
            [multiple]="true"
            [hideSelected]="true"
            [addTag]="addTagFn"
            [isOpen]="false"
            [selectOnTab]="true"
            formControlName="cc"
            placeholder="Add Emails"
          >
          </ng-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group theme col-12">
          <label>Bcc</label>
          <ng-select
            [multiple]="true"
            [hideSelected]="true"
            [addTag]="addTagFn"
            [selectOnTab]="true"
            [isOpen]="false"
            formControlName="bcc"
            placeholder="Add Emails"
          >
          </ng-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group theme col-12">
          <label>Subject</label>
          <input formControlName="subject" type="text" class="form-control" placeholder="subject" />
          <span *ngIf="mailForm.controls.subject.status === 'INVALID'" class="footnote red">
            This field is invalid.
          </span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group theme col-12">
          <label>Body</label>
          <textarea formControlName="body" class="form-control" placeholder="body"></textarea>
          <span *ngIf="mailForm.controls.body.status === 'INVALID'" class="footnote red">
            This field is invalid.
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex px-4 py-4 align-items-center justify-content-center">
    <button class="btn orange-btn m-0" (click)="onClose()">
      Cancel
    </button>
    <button class="btn green-btn m-0 ml-5" (click)="onSend()">
      Send
    </button>
  </div>
</div>
