<div class="app-agent-register-3">
  <div class="left-sec">
    <a href="#" class="logo_img"><img src="assets/img/app-logo.svg" class="img-fluid" (click)="homePage()"/></a>
    <div class="prfile-conatiner">
      <h3 class="up-title" *ngIf="!fileUploader">Update Profile</h3>
      <h3 class="up-title" *ngIf="fileUploader">Update Profile - Part 2</h3>
        <div class="profile-daggbox">
        <img src="assets/img/agn-reg-3-upload.svg" alt="upload image" class="upload-img" />
        <label class="upload-txt">Upload Your Brokerage Logo</label>
        <input type="file" class="file-input" />
      </div>
      <div class="action-wrapper">
        <button class="next-btn" (click)="nextPage()">NEXT</button>
<!--        <span class="skip-lbl" (click)="nextPage()">Skip</span>-->
      </div>
    </div>
  </div>
  <div class="right-sec">
    <h2 class="right-header">Use Pricing Meter to show the True <br/>Market Value of your client's property.<br/> Backed by a collected dataset -<br/>presented in your Agency's design.</h2>
    <div class="right_illustration">
      <img src="assets/img/Registration_step3.svg" class="img-fluid" alt="Registration_Step_3">
    </div>
  </div>
</div>
