<div class="app-agent-register-3">
  <div class="left-sec">
    <div class="logo-header">
      <img src="assets/img/app-logo.svg" class="logo-img" />
    </div>
    <div class="prfile-conatiner">
      <h3 class="up-title">Update Profile</h3>
      <div class="profile-daggbox">
        <img src="assets/img/agn-reg-3-upload.svg" alt="upload image" class="upload-img" />
        <label class="upload-txt">Upload your company logo</label>
        <input type="file" class="file-input" />
      </div>
      <div class="action-wrapper">
        <button class="next-btn" (click)="nextPage()">NEXT</button>
        <span class="skip-lbl" (click)="nextPage()">Skip</span>
      </div>
    </div>
  </div>
  <div class="right-sec">
    <h2 class="right-header">
      Use Pricing Meter to show the True <br/>
      Market Value of your client's property.<br/>
      Backed by a collected dataset -<br/>
      presented in your Agency's design.
    </h2>
    <div class="right-bg-wrapper">
      <img src="assets/img/agn-reg-3-right.svg" class="pricing-bg" />
    </div>
    <div class="bottom-control">
      <span class="dot-nav"></span>
      <span class="dot-nav "></span>
      <span class="dot-nav dot-active"></span>
      <span class="dot-nav"></span>
    </div>
  </div>
</div>
