.property-detail-container {
  padding: 30px;
  display: flex;
  flex-direction: column;

  .share-btn {
    font-family: "Poppins";
    padding-left: 1rem;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #006AFF;
    border: 1.5px solid #006AFF;
    border-radius: 100px;
    width: 275px;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    .share-icon {
      background-color: #006AFF;
      border-radius: 100px;
      height: 45px;
      width: 45px;
    }
  }
  .pricing-analog {
    padding: 10px;
    display: grid;
    border-radius: 5px;
    background: #FFFFFF;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 4px 20px rgba(220, 220, 220, 0.25);
  }
  .pricing-value {
    display: grid;
    justify-content: space-evenly;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 15px 0;

    .card{
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-color: white;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgba(220, 220, 220, 0.25);
    }
    .txt-field {
      font-family: 'Poppins';
      font-weight: 500;
      margin-bottom: 0;
      text-transform: uppercase;
      color: #1F8CF5;
    }
    .price-field {
      font-family: "Roboto";
      font-weight: 600;
      font-size: 27px;
      line-height: 1.5;
      letter-spacing: 0.05em;
      color: #007CF4;
    }
    .txt-warning {
      font-family: 'Poppins';
      font-size: 12px;
      font-weight: 500;
      color: #9E9E9E;
      text-transform: uppercase;
    }
  }
  .engagement-container {
    display: grid;
    grid-template-columns: 1.0fr 0.6fr;
    border-radius: 5px;
    margin: 15px 0;
    .engagement-image {
      object-fit: cover;
      width: 100%;
      border-radius: 5px;
      height: min-content;
    }
    .engagement-text {
      display: flex;
      padding: 40px;
      margin-left: 15px;
      border-radius: 3px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgba(220, 220, 220, 0.25);
    }
    //.text-head {
    //  font-family: Poppins-Regular;
    //  font-style: normal;
    //  font-weight: 500;
    //  font-size: 24px;
    //  line-height: 36px;
    //  letter-spacing: 0.05em;
    //  color: #006AFF;
    //}

  }
  .text-head {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #006AFF;
    margin-bottom: 0;
  }
  .text-tail {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.05em;
    color: #919191;

    span {
      color: #006AFF;
      font-weight: 600;
    }

  }
  .page-link{
    color: #006AFF;
    border-color:  #006AFF;
  ;
  }
  .rating-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(185, 183, 183, 0.25);
    border-radius: 5px;
  }
  .rate-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    background-color: #006AFF;
    border-color: white;
    margin-top: 5px;

  }
  .similar-card {
    display: flex;
    flex-direction: column;
    .property-cards {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin: 30px;
    }
    .property-card {
      background: #407BFF;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 300px;
      row-gap: 10px
    }
    .pro-img {
      width: 50px;
      border-radius: 27px;

    }
    .content {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
    }
    .active-content {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 8px;
      line-height: 12px;
      letter-spacing: 0.05em;
      color: #407BFF;
    }
    .card-btn {
      background: #FFFFFF;
      border-radius: 10px;
      width: 90px;
      height: 31px;
      border-color: white;
    }
  }
  .info-footer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
  }

  .progress_meter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
  .main_progress_meter {
    width: 400px;
    height: 400px;
    position: relative;
  }

  polygon.pointer {
    animation: pointer 1.5s 1;
    transform: rotateZ(-120deg);
    transition-delay: 0.5s;
    transform-origin: bottom;
    transform-box: fill-box;
    transition-timing-function: cubic-bezier(0.39, -0.01, 0, 1.04);
  }

  @keyframes pointer {
    from {
      transform: rotateZ(-120deg);
    }
    to {
      transform: rotateZ(120deg);
    }
  }

  .left-progress-meter {
    width: 189.26px;
    height: 187.57px;
    position: relative;
  }
  .right-progress-meter {
    width: 189.26px;
    height: 187.57px;
    position: relative;
  }
  .pricing-meter-txt {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    color: #6D6D6D;
  }

  .money_counter {
    position: absolute;
    margin-bottom: 0;
    bottom: 15%;
    justify-content: center;
    width: 100%;
  }
  .money_counter li.page-item a.page-link {
    color: #231F20;
    font-weight: 600;
    border-color: #555555;
  }
  .money_counter_left li.page-item a.page-link {
    background-image: linear-gradient(to bottom, #FEF7B3, #FFFFFF, #FFFEFB, #FFFEF1, #FCFFDF, #FEFCC5, #FCFEA7);
    font-family: open-sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #231F20;
    font-weight: 600;
    border-color: #696A6D;
    padding: 0.20rem;
  }
  .money_counter_center li.page-item a.page-link {
    background-image: linear-gradient(to bottom, #B3FEBF, #FFFFFF, #FBFFFC, #F1FFF1, #E3FFDF, #C5FECE, #A7FEBF);
    font-family: open-sans;
    font-style: normal;
    font-weight: 600;
    color: #231F20;
    border-color: #696A6D;
    padding: 0.35rem;
    font-size: 20px;
    line-height: 27px;

  }
  .money_counter_right li.page-item a.page-link {
    background-image: linear-gradient(to bottom, #FEB3B3, #FFFFFF, #FFFBFB, #FFF1F1, #FFDFDF, #FEC5C5, #FEA7A7);
    font-family: open-sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #231F20;
    font-weight: 600;
    border-color: #696A6D;
    padding: 0.20rem;
  }

}
