<div class="wrapper shadow">
  <ul>
    <li *ngFor="let menu of menus">
      <div>
        <span (click)="selectTab(menu)" class="name" [class.active]="selectedTab == menu.name">{{menu.name}}</span>
        <span class="icon" data-toggle="tooltip" data-placement="right" [title]="menu.tooltipMessage">
          <i class="fas fa-question-circle"></i>
        </span>
      </div>
    </li>
  </ul>

  <!-- Profile Screener -->
  <ng-container *ngIf="activeMode == 'profile-screener'">
    <div class="info-section">
      <h6>Profile Screener</h6>
    </div>

    <div class="action-button">
    <button type="button" class="btn theme btn-primary" (click)="startProfileScreening()">
        Process
      </button>
    </div>
  </ng-container>

  <!-- End of Profile Screener -->



  <!-- Profile Screener : Process -->

  <ng-container *ngIf="activeMode == 'profile-screener-process'">
    <div class="info-section profile d-flex flex-column text-theme font-italic">
      <p class="mb-0">
        <span class="font-weight-bold">3 process</span> profiles were deemed eligable for your test RFQ
      </p>
      <p class="font-weight-bold mb-0">
        Click <span class="text-highlight" (click)="navigateToPricingEstimator()">here</span> to calculate the price
      </p>
    </div>

    <div class="action-button">
      <button type="button" class="btn theme btn-primary" (click)="navigateToProfile()">
        Done
      </button>

      <button type="button" class="btn theme white" (click)="navigateToProfileScreener()">
        Edit Profile Screener
      </button>
    </div>
  </ng-container>


  <!-- End of Profile Screener : Process  -->



  <!-- Pricing Estimator -->
  <ng-container *ngIf="activeMode == 'pricing-estimator'">
    <div class="info-section">
      <h6>Pricing Estimator</h6>
    </div>

    <div class="action-button">
      <button type="button" class="btn theme btn-primary" (click)="addButton('process')">
        Process
      </button>
    </div>
  </ng-container>

  <!-- End of Pricing Estimator -->



  <!-- Pricing Estimator : Process -->

  <ng-container *ngIf="activeMode == 'pricing-estimator-process'">
    <div class="info-section profile d-flex flex-column text-theme font-italic">
      <p class="mb-0">
        Of your pricing profile, 4 qualified. The best price is <span class="font-weight-bold">$375</span>
      </p>
    </div>

    <div class="action-button">
      <button type="button" class="btn theme btn-primary" (click)="navigateToPricing()">
        Done
      </button>

      <button type="button" class="btn theme white" (click)="navigateToPricingEstimator()">
        Edit Pricing Estimator
      </button>
    </div>
  </ng-container>


  <!-- End of Edit Pricing Estimator : Process  -->


  <ng-container *ngIf="activeMode == 'default'">
    <div class="action-button"
      *ngIf="menus[activeTabIndex].actions.length && ( !route.url.includes('add') && !route.url.includes('edit') && !route.url.includes('clone') )">
      <button *ngFor="let item of menus[activeTabIndex].actions" type="button" class="btn theme"
        [ngClass]="item.name==='Profile Screener' || item.name==='Pricing Estimator'?'white':'btn-primary'"
        (click)="addButton(item.route)">
        {{item.name}}
      </button>
    </div>

    <div class="action-button"
      *ngIf="menus[activeTabIndex].actions.length && ( route.url.includes('add') || route.url.includes('edit') || route.url.includes('clone') )">
      <button type="button" class="btn btn-add theme white" (click)="backButton()">
        <i class="fas fa-chevron-left"></i>
        <span>
          Back
        </span>
      </button>
    </div>
  </ng-container>

</div>
