.wrapper {
  height: 90px;
  background: white;
  color: var(--theme-main-blue-opaque);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  margin-bottom: 10px;
  position: relative;
}

ul {
  height: 50px;
  list-style: none;
  margin: unset;
  padding: unset;
  display: inline-flex;
}

ul li {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  margin-right: 20px;
  height: 100%;
  color: var(--theme-action-bar-color);
  border-left: 6px solid rgba(9, 40, 70, 0.36);
  user-select: none;
}

ul li:first-child {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 10px;
}

ul li .name.active,
ul li .name:hover {
  cursor: pointer;
  color: var(--theme-light-green);
}

.icon {
  font-size: 12px;
  top: 4px;
  right: 0px;
}

.action-button {
  z-index: 100;
}
.action-button button {
  font-weight: 400;
  font-size: 14px;
  width: 160px;
  float: right;
  margin-left: 10px;
  padding: 10px 10px;
}

.action-button span {
  margin-left: 10px;
}

.progress-section {
  width: 50%;
}

.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 5px;
}

.info-section.profile {
  font-size: 13px;
}

.info-section.profile .text-highlight:hover {
  text-decoration: underline;
  cursor: pointer;
}

.info-section h6 {
  color: var(--theme-light-green);
  font-size: 20px;
}

@media (max-width: 1200px) {
  ul li {
    font-size: 15px;
  }

  .action-button button {
    font-size: 13px;
  }
}

@media (max-width: 1050px) {
  ul li {
    margin-right: 28px;
  }
}

@media (max-width: 992px) {
  ul li {
    display: block;
  }

  .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  ul {
    height: 100%;
    width: unset;
  }

  ul li {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
  }

  .action-button {
    width: unset;
  }

  .action-button button {
    font-size: 13px;
    padding: 9px 12px;
  }
}

@media (max-width: 1400px) {
  .orders.name {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .orders.name {
    font-size: 12px;
  }
  .name {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0px 20px;
  }
  .name {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .action-button button {
    font-size: 8px;
  }

  ul li {
    font-size: 13px;
  }
}
