<div class="wrapper shadow">
  <ul>
    <li *ngFor="let menu of menus">
      <div>
        <span (click)="selectTab(menu)" class="name" [class.active]="selectedTab == menu.name">{{menu.name}}</span>
        <span class="icon" data-toggle="tooltip" data-placement="right" [title]="menu.tooltipMessage">
          <i class="fas fa-question-circle"></i>
        </span>
      </div>
    </li>
  </ul>
  <div *ngIf="isProfileScreener" class="info-section">
    <h6>Profile Screener</h6>
  </div>
  <div class="action-button"
    *ngIf="menus[activeTabIndex].actions.length && ( !route.url.includes('add') && !route.url.includes('edit') && !route.url.includes('clone') )">
    <button *ngFor="let item of menus[activeTabIndex].actions" type="button" class="btn theme" [ngClass]="{white: item.name==='Profile Screener', 'btn-primary': item.name!=='Profile Screener'}"
      (click)="addButton(item.route)">
      {{item.name}}
    </button>
  </div>

  <div class="action-button"
    *ngIf="menus[activeTabIndex].actions.length && ( route.url.includes('add') || route.url.includes('edit') || route.url.includes('clone') )">
    <button type="button" class="btn btn-add theme white" (click)="backButton()">
      <i class="fas fa-chevron-left"></i>
      <span>
        Back
      </span>
    </button>
  </div>

</div>
