<div class="wrapper shadow">
  <ul style="z-index: 90;">
    <!-- <button type="button" class="btn btn-outline-secondary mr-2" p>
      Tooltip on right
    </button> -->
    <li *ngFor="let menu of menus">
      <div class="d-flex">
        <span
          (click)="selectTab(menu)"
          class="name"
          [class.orders]="baseURL === 'pricing/orders'"
          [class.active]="selectedTab == menu.name"
          >{{ menu.name }}</span
        >
        <span class="icon" placement="right" [ngbTooltip]="menu.tooltipMessage">
          <i class="fas fa-question-circle"></i>
        </span>
      </div>
    </li>
  </ul>

  <ng-container>
    <div
      class="action-button"
      *ngIf="
        menus[activeTabIndex].actions.length &&
        !route.url.includes('add') &&
        !route.url.includes('edit') &&
        !route.url.includes('clone')
      "
    >
      <button
        *ngFor="let item of menus[activeTabIndex].actions"
        type="button"
        class="btn theme"
        (click)="addButton(item.route)"
      >
        {{ item.name }}
      </button>
    </div>

    <div
      class="action-button"
      *ngIf="
        !route.url.includes('pricing-profile') &&
        (route.url.includes('referral/') ||
          route.url.includes('auto-prices/') ||
          route.url.includes('manual-price/') ||
          route.url.includes('billing/payment/details/') ||
          route.url.includes('user-manage/customers/view') ||
          route.url.startsWith('/projects/project-release-queue/') ||
          route.url.startsWith('/projects/vendor-confirmation-queue/') ||
          route.url.startsWith('/projects/released-projects/') ||
          route.url.startsWith('/pricing/production-orders/released-orders/') ||
          route.url.startsWith('/pricing/connect-orders/released-orders/') ||
          route.url.startsWith('/prodex/connect/release-queue/') ||
          route.url.startsWith('/prodex/connect/order-complete/'))
      "
    >
      <button type="button" class="btn btn-add theme white" (click)="backButton()">
        <i class="fas fa-chevron-left"></i>
        <span>
          Back
        </span>
      </button>
    </div>
  </ng-container>
</div>
