.wrapper {
  height: 100%;
  min-height: 70vh;
  background: white;
  border-radius: 4px;
  padding: 40px;
}

.part-list {
  overflow-x: hidden;
}

.part {
  height: fit-content;
}

.processes {
  font-size: 14px;
}

.process {
  font-size: 12px;
}

.image {
  font-size: 50px;
}

.filename {
  font-size: 12px;
  width: 200px;
}

.report-name {
  width: 200px;
}
