a:hover {
  text-decoration: unset;
}


#sidebar {
  background: var(--theme-dark-blue);
  color: white;
  text-align: center;
  transition: all 0.3s;
  position: fixed;
  max-width: 75px;
  height: auto;
  z-index: 6;
  user-select: none;
}

#sidebar .sidebar-header {
  padding: 0px 27px;
  text-align: center;
  font-size: 25px;
  transition: .5s ease;
}

#sidebar .sidebar-header.rotate {
  transform: rotate(180deg);
}

#sidebar .sidebar-header>span:hover {
  cursor: pointer;
}

#sidebar ul.components {
  display: none;
}

#sidebar ul li {
  list-style: none;
}

#sidebar ul li a {
  font-size: 1.1em;
  display: block;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sidebar ul li a .icon {
  width: 25px;
}

#sidebar ul li>a {
  color: white;
}

#sidebar ul li a:hover {
  background: rgba(196, 196, 196, 0.3);
}

#sidebar.active ul li .menu-text {
  font-size: 12px
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: var(--theme-light-green);
  background: rgba(196, 196, 196, 0.37);
}

#sidebar ul li.active>a .menu-text {
  color: white;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/

#sidebar.active {
  height: 100vh;
}

#sidebar.active ul {
  display: block;
  margin-top: 30px;
}

/* Toggling the sidebar header content, hide the big heading [h3] and
  showing the small heading [strong] and vice versa*/

#sidebar.active ul li a {
  padding: 5px 10px;
  text-align: center;
  font-size: 1.2em;
}

#sidebar.active ul li a .icon {
  margin-right: 0;
  display: block;
  font-size: 1.4em;
  width: 100%;
}

@media (max-width: 768px) {

  /* 80px and its content aligned to centre. Pushing it off the screen with the
     negative left margin
  */
  #sidebar.active {
    min-width: 65px;
    max-width: 65px;
    text-align: center;
    height: 100%;
  }

  /* Reappearing the sidebar on toggle button click */
  #sidebar {
    margin-left: 0;
  }

  /* Toggling the sidebar header content,
     hide the big heading [h3] and showing the small heading [strong] and vice versa
  */
  #sidebar .sidebar-header:hover {
    cursor: pointer;
  }


  /* Downsize the navigation links font size */
  #sidebar.active ul li a {
    padding: 15px 10px;
    font-size: 0.85em;
  }

  #sidebar.active ul li a .icon {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }
}
