<div class="center-container">
  <div class=" col-sm-12 col-md-12 col-lg-10 col-xl-8">
    <div class="wrapper shadow">
      <form [formGroup]="form" class="needs-validation" (submit)="onSaveUserInformation($event)">
        <div class="form-row">
          <div class="form-group theme col-md-12">
            <label>Email Address (username)</label>
            <input required type="email" formControlName="email" class="form-control" placeholder="Email">
            <span *ngIf="showRequired('email', 1)" class="footnote red">* Required</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group theme col-md-6">
            <label>First Name</label>
            <input required formControlName="firstName" class="form-control" placeholder="First Name">
            <span *ngIf="showRequired('firstName', 1)" class="footnote red">* Required</span>
          </div>
          <div class="form-group theme col-md-6">
            <label> Last Name </label>
            <input required formControlName="lastName" class="form-control" placeholder="Last Name">
            <span *ngIf="showRequired('lastName', 1)" class="footnote red">* Required</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group theme col-md-6">
            <label>Password</label>
            <input type="password" required formControlName="password" class="form-control" placeholder="First Name">
            <span *ngIf="showRequired('password', 1)" class="footnote red">* Required</span>
          </div>
          <div class="form-group theme col-md-6">
            <label> Password Confirm </label>
            <input type="password" required formControlName="passwordConfirm" class="form-control" placeholder="Last Name">
            <span *ngIf="showRequired('passwordConfirm', 1)" class="footnote red">* Required</span>
            <span *ngIf="samePassword()" class="footnote red">* Password does not match</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group theme col-md-12 phone">
            <label>Phone</label>
            <international-phone-number *ngIf="!isLoadedUser" formControlName="phone" placeholder="Enter phone number"
              [defaultCountry] = "'us'"
              [required]="true" name="phone_number" ></international-phone-number>
            <international-phone-number *ngIf="isLoadedUser" formControlName="phone" placeholder="Enter phone number"
              [required]="true" name="phone_number" ></international-phone-number>
            <span *ngIf="showRequired('phone', 1)" class="footnote red">* Required</span>
            <span *ngIf="!showRequired('phone', 1) && form.controls.phone.status === 'INVALID'" 
              class="footnote red">* Phone number is invalid.</span>
          </div>
        </div>
        <div class="form-row">
          
          <div class="form-group theme col-md-6">
            <label>Company</label>
            <input required formControlName="company" class="form-control"  placeholder="Company">
            <span *ngIf="showRequired('company', 1)" class="footnote red">* Required</span>
          </div>
          <div class="form-group theme col-md-6">
            <label>Department</label>
            <input formControlName="department" class="form-control" placeholder="Department" />
          </div>
        </div>
        
        <div class="form-row " style="justify-content: center">
          <div class="form-group col-md-3">
            <button type="button" (click)="onSaveUserInformation($event)" class="btn btn-contniue theme">Continue</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
