<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-flex px-3 py-5">
        <div class="image-section">
          <div class="d-flex justify-content-between">
            <app-view-in-three-d [connectorServiceId]="part?.rfqMedia?.media?.connectorServiceId"></app-view-in-three-d>
            <span class="text-primary" (click)="download()"><i class="fa fa-download"></i></span>
          </div>
          <div class="image">
            <img
              [src]="part?.rfqMedia.media.partDimension.thumbnail200Location"
              alt="image of a machine design"
              width="200px"
              onerror="this.src = 'assets/image/placeholder-image.png';"
            />
          </div>
        </div>
        <div class="details overflow-hidden ml-5 mt-4">
          <p class="quantity text-truncate mb-3" placement="auto" [ngbTooltip]="part?.quantity">
            <strong>Quantity: {{ part?.quantity }}</strong>
          </p>
          <p class="text-truncate" placement="auto" [ngbTooltip]="getDimension()">
            <b>Part Dimensions:</b> {{ getDimension() }}
          </p>
          <p class="text-truncate" placement="auto" [ngbTooltip]="part?.rfqMedia.media.name">
            <b>Files:</b>{{ part?.rfqMedia.media.name }}
          </p>
          <p
            class="text-truncate"
            placement="auto"
            [ngbTooltip]="getDimensionValue(part?.rfqMedia.media.partDimension.volume)"
          >
            <b>Volume - </b>
            {{ getDimensionValue(part?.rfqMedia.media.partDimension.volume) }}
          </p>
          <p class="text-truncate" placement="auto" [ngbTooltip]="getBoundingBox()">
            <b>Bounding box - </b>{{ getBoundingBox() }}
          </p>
          <p
            class="text-truncate"
            placement="auto"
            [ngbTooltip]="getDimensionValue(part?.rfqMedia.media.partDimension.surfaceArea)"
          >
            <b>Surface area - </b>
            {{ getDimensionValue(part?.rfqMedia.media.partDimension.surfaceArea) }}
          </p>
          <!-- <p
            class="text-truncate"
            *ngFor="let customerParameter of getToleranceList(); index as i"
            placement="auto"
            [ngbTooltip]="showCustomParameter(customerParameter)"
          >
            <b>Critical Tolerance {{ i + 1 }}: </b>
            {{ showCustomParameter(customerParameter) }}
          </p> -->
        </div>
      </div>

      <div class="col-md-6 details-section py-3 px-5">
        <h5 class="text-center">Project Information <span *ngIf="part?.proposalPart">(Part Proposal)</span></h5>
        <table class="table table-bordered text-theme rfq-table ">
          <tbody>
            <tr>
              <th scope="row">RFQ</th>
              <td>{{ rfq?.id }}</td>
            </tr>
            <tr *ngIf="part?.parentPartId">
              <th scope="row">Parent Part Id</th>
              <td>{{ part?.parentPartId }}</td>
            </tr>
            <tr *ngIf="partQuote && partQuote?.vendorId">
              <th scope="row">Vendor Id</th>
              <td>{{ partQuote?.vendorId }}</td>
            </tr>
            <tr>
              <th scope="row">Customer</th>
              <td>{{ customer?.name }}</td>
            </tr>
            <tr>
              <th scope="row">Industry</th>
              <td>{{ getCustomerIndustries() }}</td>
            </tr>
            <tr>
              <th scope="row">Anti-Match Eligibility</th>
              <td>{{ getAntiMatch() }}</td>
            </tr>
            <tr>
              <th scope="row">Permitted Countries</th>
              <td>{{ getPermittedCountries() }}</td>
            </tr>
            <tr>
              <th scope="row">Required Certs</th>
              <td>{{ getRequiredCerts() }}</td>
            </tr>
            <tr>
              <th scope="row">NDA</th>
              <td>{{ rfq?.projectProfile.ndaId ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
              <th scope="row">Cutting and Bounding</th>
              <td>
                {{ part?.cuttingBondingAllowed ? 'Yes' : 'No' }}
              </td>
            </tr>
            <tr>
              <th scope="row">Quantity</th>
              <td>{{ part?.quantity }}</td>
            </tr>
            <tr>
              <th scope="row">Material</th>
              <td>{{ part?.materialPropertyValues?.join(' , ') }}</td>
            </tr>
            <tr>
              <th scope="row">Process/Equipment</th>
              <td>{{ part?.equipmentPropertyValues?.join(' , ') }}</td>
            </tr>
            <!-- <tr>
              <th scope="row">Tolerance</th>
              <td>{{ getTolerance() }}</td>
            </tr> -->
            <!-- <tr>
              <th scope="row">Surface Roughness(Ra)</th>
              <td>{{ getSurfaceRoughness() }}</td>
            </tr> -->
            <!-- <tr>
              <th scope="row">Post-Process</th>
              <td>{{ getPostProcesses() }}</td>
            </tr> -->
            <tr>
              <th scope="row">Required Shipment</th>
              <td>{{ part?.targetDeliveryDate | date: 'MM/dd/yyyy':'UTC' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row p-3" *ngIf="partQuote">
      <div class="card w-100">
        <div class="card-header text-theme">
          <span class="part-quote-header">
            <ng-container *ngIf="isProposalPart(part)">
              Proposal
            </ng-container>
            Quote
          </span>
        </div>
        <div class="card-body">
          <app-part-quote class="w-75" [quote]="partQuote" [invoiceItems]="invoiceItems"> </app-part-quote>
        </div>
      </div>
    </div>
  </div>
</div>
