<div class="wrapper shadow">
  <div *ngIf="error.length>1" class="alert alert-danger" role="alert">
    {{error}}
  </div>
  <form novalidate class="needs-validation">

    <div class="row">
      <div class="col-md-7">

        <div *ngIf="activeMode =='pricing-estimator'" class="profile-list text-theme">
          <p><b>Process Profile Name</b></p>
          <div class="search">
            <input class="form-control" type="text" [value]="searchQuery" id="searchQuery" name="searchQuery"
              [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" (ngModelChange)="onProcessProfileSearch()"
              placeholder="Search Process Profile">
          </div>
          <div class="container card profiles p-3">
            <div class="theme">
            </div>

            <ng-container *ngFor="let profile of processProfiles; let index = index">
              <div *ngIf="profile.show" class="d-flex mb-2">



                <span class="icon" *ngIf="profile.checked" (click)="toggleCheck(profile.id)">
                  <i class="fas fa-check-square"></i>
                </span>

                <span class="icon" *ngIf="!profile.checked" (click)="toggleCheck(profile.id)">
                  <i class="far fa-square"></i>
                </span>


                <div class="column-name">
                  <span style="margin-top: -3px">
                    {{profile.name}}
                  </span>
                </div>

              </div>
            </ng-container>
          </div>
        </div>

        <div class="upload text-theme">
          <label>Please, select the file</label>
          <button [disabled]="uploadedDocuments.length != 0" type="file" class="btn btn-add theme white back"
            (click)="onOpenFile($event)">
            Upload a Reference File
          </button>
          <div class="form-group theme">
            <span *ngIf="!uploadedDocuments.length && triedToSubmit" class="footnote red">* Required</span>
          </div>

          <input type="file" name="file" (change)="onFileChange($event)" id="file" class="inputfile" accept="*" />
          <ul class="uploaded_files" style="padding-left: 0; margin-top: 10px;">
            <li *ngFor="let item of uploadedDocuments" style="width: 350px;cursor: pointer;">
              <i class="fa {{item.selected? 'fa-check-circle': 'fa-question-circle-o'}}"></i>&nbsp;&nbsp;
              <span (click)="onSelectFile(item.id)"
                [ngClass]="{'style-bold': item.selected === 1}">{{item.fileName}}</span>

              <button class="close" type="button" (click)="onRemoveFile(item.id)"><i class="fas fa-trash" color="red"
                  aria-hidden="true"></i></button>
            </li>
          </ul>
        </div>

        <div class="detail-info">
          <p>Detail Information</p>
          <div class="row details">
            <div class="col-md-4 d-flex align-items-center">
              <div *ngIf="!selectedDocument" class="no-image">
                No Photo
              </div>

              <div *ngIf="selectedDocument && !selectedDocument.largeImage" class="no-image">

                <ng-container>
                  <!-- Processing ... -->
                  <!-- <br> -->
                  <app-progress-bar [(text)]="analyzingText" [percent]="selectedDocument.analyzing"></app-progress-bar>
                </ng-container>

              </div>

              <div *ngIf="isSelectedDocument()">

                <img *ngIf="selectedDocument && selectedDocument.largeImage" [src]="selectedDocument.largeImage"
                  (click)="toggleModal()" height="200px" width="200px" alt="">
              </div>

            </div>

            <!-- [class.d-flex]="selectedDocument && selectedDocument.largeImage"> -->

            <div class="col-md-8 d-flex flex-column flex-grow-1 d-none" [class.d-flex]="selectedDocument">
              <span class="title" (click)="save()">Demo 1</span>
              <span class="quantity d-flex ">
                <div>
                  Quantity :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div>
                  <input class="form-control" required type="number" maxlength="5" min="0" max="99999" id="quantity"
                    name="quantity" [(ngModel)]="details.quantity" [ngModelOptions]="{standalone: true}">
                </div>
              </span>

              <div class="image-info d-flex flex-column">
                <span>
                  Part Dimensions:
                  {{formatValue(details.buildingX.value)}}
                  {{getUnitName(details.buildingX.unitId)}}
                  x
                  {{formatValue(details.buildingY.value)}} {{getUnitName(details.buildingY.unitId)}}
                  x
                  {{formatValue(details.buildingZ.value)}} {{getUnitName(details.buildingZ.unitId)}}
                  <!-- 12.36mm x 4.50mm x 4.73mm -->
                </span>
                <span>
                  Files: {{fileNames}}
                </span>
              </div>

              <div class="image-details">
                <!-- <ul>
                <li><span>Volume</span> - 3.15cc</li>
                <li><span>Extents</span> - 25.2mm x 25.00mm x 12.8mm </li>
                <li><span>Bounding box</span> - 6.22cc</li>
                <li><span>Surface area</span> - 8.1cm2</li>
                <li><span>Thinnest wall</span> - 1.4mm</li>
              </ul> -->

                <ul>
                  <li><span>Volume</span> -
                    <div class="inputs">
                        <!-- {{formatValue(details.volume.value)}} -->
                      <input class="form-control" required type="number" step="0.00001" maxlength="5" min="0"
                        max="99999" id="volume" name="volume" [(ngModel)]="details.volume.value"
                        [ngModelOptions]="{standalone: true}">  
                      <div class="theme">
                        <select required id="volumeValue" name="volumeValue" class="form-control"
                          [(ngModel)]="details.volume.unitId" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let unit of volumeUnits" [value]="unit.id">
                            {{unit.displayName || unit.symbol}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li class="extents"><span>Extents</span> -
                    <div class="d-flex flex-column">
                      <div class="d-flex flex-row">
                        <div class="inputs">
                          <input class="form-control" required type="number" step="0.00001" maxlength="5" min="0"
                            max="99999" id="extentsIdX" name="extentsIdX" [(ngModel)]="details.buildingX.value"
                            [ngModelOptions]="{standalone: true}">
                            <!-- {{formatValue(details.buildingX.value)}} -->
                        </div>
                        x
                        <div class="inputs">
                          <input class="form-control" required type="number" step="0.00001" maxlength="5" min="0"
                            max="99999" id="extentsIdY" name="extentsIdY" [(ngModel)]="details.buildingY.value"
                            [ngModelOptions]="{standalone: true}">
                            <!-- {{formatValue(details.buildingY.value)}} -->
                        </div>
                        x
                        <div class="inputs">
                          <input class="form-control" required type="number" step="0.00001" maxlength="5" min="0"
                            max="99999" id="extentsIdZ" name="extentsIdZ" [(ngModel)]="details.buildingZ.value"
                            [ngModelOptions]="{standalone: true}">
                            <!-- {{formatValue(details.buildingZ.value)}} -->
                        </div>
                      </div>
                      <div class="theme">
                        <select required id="extentsValueX" name="extentsValueX" class="form-control"
                          [(ngModel)]="details.buildingX.unitId" [ngModelOptions]="{standalone: true}"
                          (ngModelChange)="extentUnitSet()">
                          <option selected value="">Choose...</option>
                          <option *ngFor="let unit of lengthUnits" [value]="unit.id">
                            {{unit.displayName || unit.symbol}}</option>
                        </select>
                      </div>
                    </div>
                  </li>

                  <li><span>Bounding box</span> -
                    <div class="inputs">
                      <input class="form-control" disabled required type="number" step="0.00001" maxlength="5" min="0"
                        max="99999" [value]="details.buildingX.value*details.buildingY.value*details.buildingZ.value"
                        id="boundingBoxId" name="boundingBoxId" [(ngModel)]="details.boundingBox.value"
                        [ngModelOptions]="{standalone: true}">
                        <!-- {{formatValue(details.buildingX.value*details.buildingY.value*details.buildingZ.value)}} -->
                      <div class="theme">
                        <select required disabled id="boundingBoxValue" name="boundingBoxValue" class="form-control"
                          [(ngModel)]="details.volume.unitId" [ngModelOptions]="{standalone: true}">
                          <option selected value="">Choose...</option>
                          <option *ngFor="let unit of volumeUnits" [value]="unit.id">
                            {{unit.displayName || unit.symbol}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li><span>Surface area</span> - <div class="inputs">
                      <input class="form-control" required type="number" step="0.00001" maxlength="5" min="0"
                        max="99999" id="surfaceAreaId" name="surfaceAreaId" [(ngModel)]="details.surfaceArea.value"
                        [ngModelOptions]="{standalone: true}">
                        <!-- {{formatValue(details.surfaceArea.value)}} -->
                      <div class="theme">
                        <select required id="surfaceAreaValue" name="surfaceAreaValue" class="form-control"
                          [(ngModel)]="details.surfaceArea.unitId" [ngModelOptions]="{standalone: true}">
                          <option selected value="">Choose...</option>
                          <option *ngFor="let unit of areaUnits" [value]="unit.id">{{unit.displayName || unit.symbol}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li><span>Thinnest wall</span> - <div class="inputs">
                      <input class="form-control" required type="number" step="0.00001" maxlength="5" min="0"
                        max="99999" id="minWallThicknessId" name="minWallThicknessId"
                        [(ngModel)]="details.minWallThickness.value" [ngModelOptions]="{standalone: true}">
                      <div class="theme">
                        <select required id="minWallThicknessValue" name="minWallThicknessValue" class="form-control"
                          [(ngModel)]="details.minWallThickness.unitId" [ngModelOptions]="{standalone: true}">
                          <option selected value="">Choose...</option>
                          <option *ngFor="let unit of lengthUnits" [value]="unit.id">
                            {{unit.displayName || unit.symbol}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </li>


                  <li><span>Max tolerance length</span> - <div class="inputs">
                      <input class="form-control" required type="number" step="0.00001" maxlength="5" min="0"
                        max="99999" id="toleranceIncrementId" name="toleranceIncrementId"
                        [(ngModel)]="details.toleranceIncrement.value" [ngModelOptions]="{standalone: true}">
                      <div class="theme">
                        <select required id="toleranceIncrementValue" name="toleranceIncrementValue"
                          class="form-control" [(ngModel)]="details.toleranceIncrement.unitId"
                          [ngModelOptions]="{standalone: true}">
                          <option selected value="">Choose...</option>
                          <option *ngFor="let unit of lengthUnits" [value]="unit.id">
                            {{unit.displayName || unit.symbol}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </li>

                  <!--
                  <li><span>Est Machine Time</span> - <div class="inputs">
                      <input class="form-control" required type="number" step="0.00001" maxlength="5" min="0"
                        max="99999" id="estimatedMachineTime" name="estimatedMachineTime"
                        [(ngModel)]="details.estMachineTime.value" [ngModelOptions]="{standalone: true}">
                      <div class="theme">
                        <select required id="estimatedMachineTimeValue" name="estimatedMachineTimeValue"
                          class="form-control" [(ngModel)]="details.estMachineTime.unitId"
                          [ngModelOptions]="{standalone: true}">
                          <option selected value="">Choose...</option>
                          <option *ngFor="let unit of dateTimeUnits" [value]="unit.id">
                            {{unit.displayName || unit.symbol}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </li> -->
                </ul>


              </div>


              <div class="col-md-8 d-flex flex-column" *ngIf="!isSelectedDocument() && !uploading">
                <span class="title">No Information</span>
              </div>
            </div>
            <div class="col-md-8 d-flex flex-column pl-1 pr-1"
              *ngIf="(uploading && uploadResponse.status === 'progress')">
              <app-progress-bar [(text)]="progressMessage" [percent]="uploadResponse.message"></app-progress-bar>
            </div>
            <!-- <div class="col-md-8 d-flex flex-column pl-1 pr-1" *ngIf="selectedDocument && selectedDocument.analyzing < 100">
              <app-progress-bar [(text)]="analyzingText" [percent]="selectedDocument.analyzing"></app-progress-bar>
            </div> -->

          </div>
        </div>

      </div>
      <div class="col-md-5">
        <h6 class="rfq-title text-theme">RFQ Information</h6>
        <table class="table table-bordered">
          <thead class="thead-dark">
          </thead>
          <tbody>
            <tr>
              <td>Facility Certificates</td>
              <td>
                <div class="theme">
                  <select id="requiredCets" name="requiredCets" class="form-control"
                    [(ngModel)]="form.requiredCertificateId" [ngModelOptions]="{standalone: true}">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let item of certifications" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td>NDA</td>
              <td>
                <div class="theme">
                  <select id="nda" name="nda" class="form-control" [(ngModel)]="form.confidentialityId"
                    [ngModelOptions]="{standalone: true}">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let item of confidentialities" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr class="d-none">
              <td>Design</td>
              <td>
                <input class="form-control" disabled type="text" id="design" name="design" [value]="fileNames">
              </td>
            </tr>


            <tr>
              <td>Equipment</td>
              <td>
                <ng-select #equipmentInput placeholder="Add Equipment" placeholder="Add Equipment" [multiple]="false"
                  dropdownPosition="bottom" [virtualScroll]=" true" [hideSelected]="true" [selectOnTab]="true"
                  [(ngModel)]="form.equipmentId" [ngModelOptions]="{standalone: true}" (change)="equipmentChanged()">
                  <ng-option *ngFor="let item of equipments" [value]="item.equipment.id">{{item.equipment.name}}
                  </ng-option>
                </ng-select>
            </tr>


            <tr>
              <td>Material</td>
              <td>
                <ng-select style="width: 100%;" #materialInput placeholder="Add Materials" [multiple]="false"
                  dropdownPosition="bottom" [virtualScroll]=" true" [hideSelected]="true" [selectOnTab]="true"
                  [(ngModel)]="form.materialId" [ngModelOptions]="{standalone: true}">
                  <ng-option *ngFor="let item of materials" [value]="item.material.id">{{item.material.name}}
                  </ng-option>
                </ng-select>
              </td>
            </tr>
            <tr>
              <td>Tolerance</td>
              <td class="d-flex section">
                <div class="theme flex-grow-1">
                  <input class="form-control" type="number" step="0.00001" maxlength="5" min="0" max="99999"
                    id="tolerance" name="tolerance" [(ngModel)]="form.toleranceValue"
                    [ngModelOptions]="{standalone: true}">
                </div>

                <div class="theme unit">
                  <select id="nda" name="nda" class="form-control" [(ngModel)]="form.toleranceUnit"
                    [ngModelOptions]="{standalone: true}">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let unit of lengthUnits" [value]="unit.id">
                      {{unit.displayName || unit.symbol}}
                    </option>
                  </select>
                </div>

                <!-- <div class="theme unit">
                  <select id="nda" name="nda" class="form-control" formControlName="toleranceUnit">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let unit of lengthUnits" [value]="unit.id">
                      {{unit.displayName || unit.symbol}}
                    </option>
                  </select>
                </div> -->

                <!-- <span class="d-flext align-items-center mr-4 ml-4 mt-1"> -->
                <!-- mm -->
                <!-- </span> -->
              </td>
            </tr>

            <tr>
              <td>Surface Roughness</td>
              <td class="d-flex section">

                <div class="theme flex-grow-1">
                  <input class="form-control" type="number" step="0.00001" maxlength="5" min="0" max="99999"
                    id="surface-roughness" name="surface-roughness" [(ngModel)]="form.surfaceRoughnessValue"
                    [ngModelOptions]="{standalone: true}">
                </div>

                <div class="theme unit">
                  <select id="nda" name="nda" class="form-control" [(ngModel)]="form.surfaceRoughnessUnit"
                    [ngModelOptions]="{standalone: true}">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let unit of surfaceRoughnessUnits" [value]="unit.id">
                      {{unit.displayName || unit.symbol}}
                    </option>
                  </select>
                </div>
                <!-- <span class="d-flext align-items-center mr-4 ml-4 mt-1">
                  Ra µm
                </span> -->
              </td>
            </tr>


            <tr class="d-none">
              <td>Surface Finish</td>
              <td>
                <input class="form-control" type="number" step="0.00001" maxlength="5" min="0" max="99999"
                  id="surface-finish" name="surface-finish" [(ngModel)]="form.surfaceFinishValue"
                  [ngModelOptions]="{standalone: true}">
              </td>
            </tr>

            <tr>
              <td>Time to Ship</td>
              <td class="d-flex section">
                <!-- <div class=" theme">
                  <select  id="time-to-ship" name="time-to-ship" class="form-control"
                    [(ngModel)]="form.timeToShip" [ngModelOptions]="{standalone: true}">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let item of timeToShip" [value]="item.id">{{item.name}}</option>
                  </select>
                </div> -->
                <div class="theme flex-grow-1">

                  <input class="form-control" type="number" maxlength="5" min="0" max="99999" id="timeToShip"
                    name="timeToShip" [(ngModel)]="form.timeToShipValue" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="theme unit">
                  <select id="nda" name="nda" class="form-control" [(ngModel)]="form.timeToShipUnit"
                    [ngModelOptions]="{standalone: true}">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let unit of dateTimeUnits" [value]="unit.id">
                      {{unit.displayName || unit.symbol}}
                    </option>
                  </select>
                </div>
                <!-- <span class="d-flext align-items-center mr-4 ml-4 mt-1"> -->
                <!-- Days -->
                <!-- </span> -->
              </td>
            </tr>
          </tbody>
        </table>
        <div class="action-button">
          <button type="button" class="btn theme btn-primary" (click)="save()">
            Process
          </button>
        </div>
      </div>


    </div>

  </form>
</div>


<!-- Large modal -->
<button #infoModal type="button" class="btn btn-primary d-none" data-toggle="modal" data-target=".info-modal"></button>

<div class="modal fade info-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-theme" id="processProfileModalLabel">Demo 1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="detail-info">
          <div class="row details">
            <div class="col-md-6 d-flex align-items-center">
              <img *ngIf="selectedDocument && selectedDocument.largeImage" [src]="selectedDocument.largeImage"
                height="340px" width="340px" alt="">
            </div>

            <div class="col-md-6 d-flex flex-column">
              <span class="title">Demo 1</span>
              <span class="quantity">Quantity : {{details.quantity}}</span>

              <div class="image-info d-flex flex-column">
                <span>
                  Part Dimensions:
                  {{details.buildingX.value}}
                  {{getUnitName(details.buildingX.unitId)}}
                  x
                  {{details.buildingY.value}} {{getUnitName(details.buildingY.unitId)}}
                  x
                  {{details.buildingZ.value}} {{getUnitName(details.buildingZ.unitId)}}
                  <!-- 12.36mm x 4.50mm x 4.73mm -->
                </span>
                <span>
                  Files: {{fileNames}}
                </span>
              </div>

              <div class="image-details">
                <ul>
                  <li><span>Volume</span> - {{details.volume.value}} {{getUnitName(details.volume.unitId)}}</li>
                  <li><span>Extents</span> - {{details.buildingX.value}}
                    {{getUnitName(details.buildingX.unitId)}} x

                    {{details.buildingY.value}} {{getUnitName(details.buildingY.unitId)}}
                    x
                    {{details.buildingZ.value}} {{getUnitName(details.buildingZ.unitId)}}
                  </li>
                  <li><span>Bounding box</span> -
                    <ng-container *ngIf="details.buildingX.value && details.buildingY.value && details.buildingZ.value">
                      {{details.buildingX.value * details.buildingY.value * details.buildingZ.value}}
                    </ng-container>
                    {{getUnitName(details.boundingBox.unitId)}}</li>
                  <li><span>Surface area</span> - {{details.surfaceArea.value}}
                    {{getUnitName(details.surfaceArea.unitId)}}</li>
                  <li><span>Thinnest wall</span> - {{details.minWallThickness.value}}
                    {{getUnitName(details.minWallThickness.unitId)}}</li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
