<div class="center-container">
  <div class=" col-sm-12 col-md-12 col-lg-10 col-xl-8">
    <div class="full-height">
      <p align="center" style="padding-top: 80px;">Thank you</p>
      <p align="center">Your profile is created</p>
      <p align="center" style="padding-top: 50px;">
        <i class="far fa-check-circle check-user  "></i>
      </p>
      <div  style="width: 100%; margin-bottom: 20px; display: flex; justify-content: center">
          <span>Go to </span> &nbsp;
          <span class="action-button" style="text-align: right; color:  var(--theme-light-green);">
            <a href="/login">Sign in</a>
          </span>
        </div>
      <p class="abs-text">
        Our team will review your profile and be in touch as soon as possible
      </p>
    </div>
  </div>
</div>

<app-footer-menu ></app-footer-menu>