.check-user {
  font-size: 80px;
  text-align: center;
  color: var(--theme-light-green);
}
.abs-text {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.full-height {
  height: calc(100vh - 170px);
}