<div class="setting-container">
  <div class="card">
    <h3 class="title-txt">Logo</h3>
    <div class="profile-wrap">
      <img src="assets/img/noimage.jpg" alt="img" class="image-set" style="">
      <button class="upload-btn">Upload</button>
      <button class="upload-btn remove-btn">Remove</button>
    </div>
    <h3 class="form-header">Personal Info</h3>
    <div class="row">
      <div class="col-6 d-flex flex-column">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Email address</mat-label>
          <input matInput>
          <!--                    <mat-error *ngIf="loginForm.controls['name'].invalid">-->
          <!--                        {{validateUserInput('username')}}-->
          <!--                    </mat-error>-->
        </mat-form-field>
      </div>
      <div class="col-6 d-flex flex-column">
        <mat-form-field class="form-field"  appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput>
          <!--                    <mat-error *ngIf="loginForm.controls['name'].invalid">-->
          <!--                        {{validateUserInput('username')}}-->
          <!--                    </mat-error>-->
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput>
          <!--                    <mat-error *ngIf="loginForm.controls['name'].invalid">-->
          <!--                        {{validateUserInput('username')}}-->
          <!--                    </mat-error>-->
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h3 class="title-txt">Payment methods</h3>
        <label class="card-label" for="card">Card</label>
        <h3 class="float-right exp-txt">Expires on 25/12/2025</h3>
        <input class="card-input" id="card" placeholder="0000-0000-0000">
        <a class="float-right remove-txt">Edit / Remove Card</a>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button class="save-button m-3">save</button>
      </div>
    </div>
  </div>
</div>




