.wrapper {
  height: 100%;
  background: white;
  border-radius: 4px;
  padding: 40px 40px 0 40px;
  margin-bottom: 40px;
}

.form-row>.col:first-child,
.form-row>[class*=col-]:first-child {
  padding-right: 5px;
  padding-left: 5px;
}

.form-row>.col:only-child,
.form-row>[class*=col-]:only-child {
  padding-right: 5px;

}

@media (max-width: 768px) {
  .wrapper {
    padding: 40px 20px;
  }

  .form-row>.col:first-child,
  .form-row>[class*=col-]:first-child,
  .form-row>.col:only-child,
  .form-row>[class*=col-]:only-child {
    padding-right: 5px;
    padding-left: 5px;

  }
}
.registered-notification {
  color: var(--theme-light-green);
  font-size: 18px;
  text-align: center;
}

.registered-check {
  color: var(--theme-light-green);
  font-size: 60px;
  text-align: center;
}
.admin-notification {
  text-align: center;
  font-size: 12px;
  margin-top: 40px;
  color: var(--theme-secondary-blue);
}

#submitModal .modal-header {
  border: none !important;
}