<div class="app-agent-register-4">
  <div class="left-sec">
    <a href="#" class="logo_img"><img src="assets/img/app-logo.svg" class="img-fluid" (click)="homePage()"/></a>
    <div class="form-content">
      <h2 class="form-title">Payment Method</h2>
      <form class="register-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Name of the Card</mat-label>
          <input matInput formControlName="nameOfTheCard">
          <span><img src="assets/img/step-4-user.svg"  class="user" alt="user"></span>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Card Number</mat-label>
          <input matInput formControlName="cardNumber" >
          <span><img src="assets/img/step-4-credit-card.svg"  class="user" alt="card"></span>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Expiry Date of Card</mat-label>
          <input matInput formControlName="expiryDateofCard" >
          <span><img src="assets/img/step-4-calendar.svg"  class="user" alt="calender"></span>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>CVV</mat-label>
          <input matInput formControlName="cvv" >
          <span><img src="assets/img/step-4-cvv.svg"  class="user" alt="cvv"></span>
        </mat-form-field>
        <div class="form-footer">
          <button class="submit-btn" (click)="navigateTo()">Finish</button>
<!--          <span class="skip-lbl" (click)="navigateTo()">Skip</span>-->
        </div>
      </form>
    </div>
  </div>
  <div class="right-sec">
    <h2 class="right-header">Join the All-in-one Agent Platform:<br/> Start hosting your properties and update <br/> your clients on price developments..</h2>
    <div class="right_illustration">
      <img src="assets/img/Registration_step_4.svg" class="img-fluid" alt="Registration_Step_4">
    </div>
  </div>
</div>
