<div class="wrapper shadow">

  <div *ngIf="error.length>1" class="alert alert-danger" role="alert">
    {{error}}
  </div>

  <form [formGroup]="form" novalidate class="needs-validation" (submit)="save($event)">
    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="machineName">Machine Name</label>
        <input required type="text" formControlName="name" class="form-control" id="machineName" name="machineName"
          placeholder="Machine Name" />
        <span *ngIf="showRequired('name', 1)" class="footnote red">* Required</span>
      </div>


      <div class="form-group theme col-md-6">
        <label for="serialNumber">Serial Number</label>
        <input required type="text" formControlName="serialNumber" class="form-control" id="serialNumber"
          name="serialNumber" placeholder="Vendor Specific Unique Identifier" />
        <span *ngIf="showRequired('serialNumber', 1)" class="footnote red">* Required</span>
      </div>

    </div>
    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="equipment">Equipment</label>
        <ng-select #equipmentInput (change)="clearStore()" (keyup)="onEquipmentSearch($event)"
          placeholder="Add Equipment" loadingText="Searching..." [multiple]="false" [loading]="isEquipmentLoading"
          dropdownPosition="bottom" [virtualScroll]=" true" [hideSelected]="true" [selectOnTab]="true"
          formControlName="equipment">
          <!-- [items]="equipments" bindValue="id" bindLabel="name" -->
          <ng-container *ngFor="let item of equipments">
            <ng-option [disabled]="item.id == ''" [value]="item.id">{{item.name}}</ng-option>
          </ng-container>
        </ng-select>
        <span *ngIf="showRequired('equipment', 3)" class="footnote red">* Required</span>
      </div>

      <div class="form-group theme col-md-6">
        <label for="material">Material</label>
        <ng-select #materialInput (change)="clearStore()" (keyup)="onMaterialSearch($event)" placeholder="Add Materials"
          loadingText="Searching..." [loading]="isMaterialLoading" [multiple]="true" dropdownPosition="bottom"
          [virtualScroll]=" true" [hideSelected]="true" [selectOnTab]="true" formControlName="material">
          <ng-container *ngFor="let item of materials">
            <ng-option [disabled]="item.id == ''" [value]="item.id">{{item.name}}</ng-option>
          </ng-container>

        </ng-select>
        <span *ngIf="showRequired('material', 3)" class="footnote red">* Required</span>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="vendorFacility">Facility</label>
        <select required id="vendorFacility" name="vendorFacility" formControlName="vendorFacility"
          class="form-control">
          <option selected value='0'>Choose...</option>
          <option *ngFor="let item of facilities" [value]="item.id">{{item.name}}</option>
        </select>
        <span *ngIf="showRequired('vendorFacility', 2)" class="footnote red">* Required</span>
      </div>

    </div>


    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>

    </div>
  </form>
</div>
