<div class="wrapper shadow">

  <div *ngIf="error.length>1" class="alert alert-danger" role="alert">
    {{error}}
  </div>

  <div class="title-bar">
    <!-- Equipment name – Material name – Process Action - Parameter set nick name -->
    <h4>
      {{equipmentName}}<span *ngIf="equipmentName.length"> - </span>{{materialName}}<span *ngIf="materialName.length"> -
      </span>{{processActionName}}<span *ngIf="processActionName"> - </span>{{parameterNickName}}
    </h4>
    <!-- parameter details -->
    <span>{{parameterDetails}}</span>
  </div>

  <form [formGroup]="form" novalidate vali class="needs-validation" (submit)="save($event)">
    <div class="form-row">
    </div>

    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="asset">Equipment/Asset</label>
        <select required formControlName="equipment" (change)="equipmentChanged()" id="equipment" name="equipment"
          class="form-control">
          <option selected value=''>Choose...</option>
          <option *ngFor="let item of equipments" [value]="item.id">{{item.equipment.name}}</option>
        </select>
        <span class="footnote red"
          *ngIf="getSelectedEquipment() != '' && filteredProcessParameterList.length == 0">*This equipment can not be
          used for post-processing, please select another equipment/asset</span>
        <div class="invalid-feedback">
          Required.
        </div>
      </div>

      <div class="form-group theme col-md-6">
        <label for="material">Materials</label>
        <ng-select [multiple]="true" dropdownPosition="bottom" [virtualScroll]=" true" [hideSelected]="true"
          placeholder="Materials" [selectOnTab]="true" formControlName="materialList">
          <ng-option *ngFor="let item of materials" [value]="item.id">{{item.material.name}}</ng-option>
        </ng-select>
        <span *ngIf="triedToSubmit && !getMaterials().length" class="footnote red">* Required</span>

      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col-md-6 d-none">
        <label for="postProcessProfileFamily">Post-Process Family</label>
        <select required id="postProcessProfileFamily" name="postProcessProfileFamily"
          formControlName="postProcessProfileFamily" class="form-control">
          <option selected value=''>Choose...</option>
          <option *ngFor="let item of familyOptions" [value]="item.id">{{item.name}}</option>
        </select>
        <div class="invalid-feedback">
          Required.
        </div>
      </div>

      <div class="form-group theme col-md-12">
        <label for="postProcessAction">Post-Process Action</label>
        <select [required]="actionOptions.length>0" id="postProcessAction" name="postProcessAction"
          formControlName="postProcessAction" class="form-control">
          <option *ngIf="actionOptions.length==0" selected value=''>None</option>
          <option *ngIf="actionOptions.length>0" selected value=''>Choose...</option>
          <option *ngFor="let item of actionOptions" [value]="item.id">{{item.name}}</option>
        </select>
        <div class="invalid-feedback">
          Required.
        </div>
      </div>
    </div>

    <!-- Post-Process Parameters  -->
    <div class="tab-container card">

      <div class="card-header">
        <div class="menu-item active">
          Post-Process Parameters
        </div>
      </div>

      <div id="conditionLabel" class="conditions">
        <div class="form-group nickname theme col">
          <label for="parameterNickName">Post-Process Set Nickname (optional)</label>
          <input type="text" formControlName="parameterNickName" class="form-control" id="parameterNickName"
            name="parameterNickName" placeholder="Post-Process Set Nickname (optional)">
          <!-- <span class="footnote">* If left blank, we will auto-generate one for you.</span> -->
        </div>

        <div class="default">
          <p class="footnote red">
          </p>
          <span class="add" (click)="addCondition('processParameterList')">
            <i class="fas fa-plus"></i>
          </span>
        </div>

        <div class="condition-wrapper">

          <div class="input-wrapper">

            <div *ngFor="let item of selectedProcessParameterList; let index = index" class="form-row">
              <div class="form-group theme col-md-3">
                <select required id="name" name="name"
                  [(ngModel)]="selectedProcessParameterList[index].processParameterType.id"
                  (ngModelChange)="getProperOperands(selectedProcessParameterList[index].processParameterType.id, index,'Post-Process Parameters')"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of filteredProcessParameterList" [value]="item.id">{{item.name}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3">
                <select [disabled]="selectedProcessParameterList[index].processParameterType.id.length == 0" required
                  id="condition" name="condition" [(ngModel)]="selectedProcessParameterList[index].operatorType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of selectedProcessParameterList[index].operandTypeList" [value]=" item.id">
                    {{item.symbol}}</option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3">
                <input [disabled]="selectedProcessParameterList[index].processParameterType.id.length == 0" required
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessParameterList[index].value" [ngModelOptions]="{standalone: true}"
                  class="form-control" id="value" name="value" placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3 icon-attached">
                <div>

                  <select [disabled]="selectedProcessParameterList[index].processParameterType.id.length == 0" required
                    id="condition" name="condition" [(ngModel)]="selectedProcessParameterList[index].unitType.id"
                    [ngModelOptions]="{standalone: true}" class="form-control">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let item of selectedProcessParameterList[index].units" [value]="item.id">
                      {{item.displayName}}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Required.
                  </div>
                </div>
                <span *ngIf="index !== 0" class="minus" (click)="removeCondition(index)">
                  <i class="fas fa-minus"></i>
                </span>

                <span *ngIf="index === 0" class="minus invisible" (click)="removeCondition(index)">
                  <i class=""></i>
                </span>
              </div>

            </div>
            <div *ngIf="selectedProcessParameterList.length > 5" class="default">
              <span class="add" (click)="addCondition()">
                <i class="fas fa-plus"></i>
              </span>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- End of Post-Process Parameters -->





    <!-- Post-Process Dimensional Properties and Material Characteristics  -->
    <div class="tab-container card">

      <div class="card-header">
        <div class="menu-item" [class.active]="activeTab == 'processDimensionalPropertyList'"
          [ngClass]="{'active': activeTab == 'processDimensionalPropertyList', 'error':tabErrors.processDimensionalProperty}"
          (click)="toggleTab('processDimensionalPropertyList', 'Post-Process Dimensional Properties')">
          Post-Process Dimensional Properties</div>
        <span class=" separator"></span>
        <div class="menu-item" [class.active]="activeTab == 'processMaterialCharacteristicList'"
          [ngClass]="{'active': activeTab == 'processMaterialCharacteristicList', 'error':tabErrors.processMaterialCharacteristic}"
          (click)="toggleTab('processMaterialCharacteristicList','Post-Process Material Characteristics')">
          Post-Process Material Characteristics</div>
      </div>

      <div id="conditionLabel" class="conditions">


        <!-- triedToSubmit &&  areInputRowsValid() && ((activeTab == 'processDimensionalPropertyList' && selectedProcessDimensionalPropertyList.length > 0) || (activeTab == 'processMaterialCharacteristicList' && selectedProcessMaterialCharacteristicList.length >0)) -->
        <div class="default">
          <p class="footnote red" [ngClass]="{'d-none': activeTab !='processDimensionalPropertyList' }">
            <span *ngIf="activeTab == 'processDimensionalPropertyList' && tabErrors.processDimensionalProperty">
              *You need to provide at least one value for each row.
            </span>
          </p>
          <p class="footnote red" [ngClass]="{'d-none': activeTab !='processMaterialCharacteristicList'}">
            <span *ngIf="activeTab == 'processMaterialCharacteristicList' && tabErrors.processMaterialCharacteristic">
              *You need to provide at least one value for each row.
            </span>
          </p>
          <!-- <p class="footnote red"
            *ngIf="!tabErrors.processDimensionalProperty && !tabErrors.processMaterialCharacteristic">

          </p> -->
          <span class="add" (click)="addCondition()">
            <i class="fas fa-plus"></i>
          </span>
        </div>

        <!-- End of Post-Process Parameters -->

        <!-- Post-Process Dimensional Properties -->
        <div class="condition-wrapper d-none" [class.d-block]="activeTab == 'processDimensionalPropertyList'">

          <div class="input-wrapper">

            <div class="form-row label-row justify-content-around"
              *ngIf="selectedProcessDimensionalPropertyList.length">
              <!-- <div class="form-group theme col-md-1">
              </div> -->

              <div class="form-group theme col-md-3">
                <label>Dimension Property</label>
              </div>

              <div class="form-group theme col-md-1">
                <label>Before Min</label>
              </div>

              <div class="form-group theme col-md-1">
                <label>Before Max</label>
              </div>

              <div class="form-group theme col-md-1">
                <label>After Min</label>
              </div>

              <div class="form-group theme col-md-1 icon-attached">
                <label>After Expected</label>
              </div>

              <div class="form-group theme col-md-1 icon-attached">
                <label>After Max</label>
              </div>

              <div class="form-group theme col-md-3 icon-attached">
                <label>Measurment Unit</label>
              </div>

            </div>



            <div *ngFor="let item of selectedProcessDimensionalPropertyList; let index = index"
              class="form-row justify-content-around">
              <!-- <div class="form-group theme col-md-1"> -->
              <!-- </div> -->
              <div class="form-group theme col-md-3">
                <select required id="name" name="name"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id"
                  (ngModelChange)="getProperOperands(selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id, index,'Post-Process Dimensional Properties')"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of filteredProcessDimensionalPropertyList" [value]="item.id">
                    {{item.name}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group ignore-validation-style  theme col-md-1">

                <input
                  [disabled]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id.length == 0"
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].beforeMinValue"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="beforeMinValue" name="beforeMinValue"
                  placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group ignore-validation-style  theme col-md-1">
                <input
                  [disabled]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id.length == 0"
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].beforeMaxValue"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="beforeMaxValue" name="beforeMaxValue"
                  placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group ignore-validation-style  theme col-md-1">
                <input
                  [disabled]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id.length == 0"
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].afterMinValue"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="afterMinValue" name="afterMinValue"
                  placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group ignore-validation-style  theme col-md-1">
                <input
                  [disabled]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id.length == 0"
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].afterExpectedValue"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="afterExpectedValue"
                  name="afterExpectedValue" placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group ignore-validation-style  theme col-md-1">
                <input
                  [disabled]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id.length == 0"
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].afterMaxValue"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="afterMaxValue" name="afterMaxValue"
                  placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3 icon-attached">
                <div>

                  <select
                    [disabled]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id.length == 0"
                    required id="condition" name="condition"
                    [(ngModel)]="selectedProcessDimensionalPropertyList[index].unitType.id"
                    [ngModelOptions]="{standalone: true}" class="form-control">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let item of selectedProcessDimensionalPropertyList[index].units" [value]="item.id">
                      {{item.displayName}}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Required.
                  </div>
                </div>
                <span class="minus" (click)="removeCondition(index)">
                  <i class="fas fa-minus"></i>
                </span>
              </div>

            </div>
            <div *ngIf="selectedProcessDimensionalPropertyList.length > 5" class="default">
              <span class="add" (click)="addCondition()">
                <i class="fas fa-plus"></i>
              </span>
            </div>
          </div>

        </div>
        <!-- End of Post-Process Dimensional Properties -->

        <!-- Post-Process Material Characteristics -->
        <div class="condition-wrapper d-none" [class.d-block]="activeTab == 'processMaterialCharacteristicList'">

          <div class="input-wrapper">

            <div class="form-row label-row justify-content-around"
              *ngIf="selectedProcessMaterialCharacteristicList.length">
              <!-- <div class="form-group theme col-md-1">
              </div> -->

              <div class="form-group theme col-md-3">
                <label>Material Characteristic</label>
              </div>

              <div class="form-group theme col-md-1">
                <label>Before Min</label>
              </div>

              <div class="form-group theme col-md-1">
                <label>Before Max</label>
              </div>

              <div class="form-group theme col-md-1">
                <label>After Min</label>
              </div>

              <div class="form-group theme col-md-1 icon-attached">
                <label>After Expected</label>
              </div>

              <div class="form-group theme col-md-1 icon-attached">
                <label>After Max</label>
              </div>

              <div class="form-group theme col-md-3 icon-attached">
                <label>Measurment Unit</label>
              </div>

            </div>

            <div *ngFor="let item of selectedProcessMaterialCharacteristicList; let index = index"
              class="form-row justify-content-around">
              <!-- <div class="form-group theme col-md-1"> -->
              <!-- </div> -->
              <div class="form-group theme col-md-3">
                <select required id="name" name="name"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id"
                  (ngModelChange)="getProperOperands(selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id, index,'Post-Process Material Characteristics')"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of filteredProcessMaterialCharacteristicList" [value]="item.id">
                    {{item.name}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group ignore-validation-style  theme col-md-1">

                <input
                  [disabled]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id.length == 0"
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].beforeMinValue"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="beforeMinValue" name="beforeMinValue"
                  placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group ignore-validation-style  theme col-md-1">
                <input
                  [disabled]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id.length == 0"
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].beforeMaxValue"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="beforeMaxValue" name="beforeMaxValue"
                  placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group ignore-validation-style  theme col-md-1">
                <input
                  [disabled]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id.length == 0"
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].afterMinValue"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="afterMinValue" name="afterMinValue"
                  placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group ignore-validation-style  theme col-md-1">
                <input
                  [disabled]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id.length == 0"
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].afterExpectedValue"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="afterExpectedValue"
                  name="afterExpectedValue" placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group ignore-validation-style  theme col-md-1">
                <input
                  [disabled]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id.length == 0"
                  type="number" step="0.00001" maxlength="4" min="0" min="0" max="9999"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].afterMaxValue"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="afterMaxValue" name="afterMaxValue"
                  placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3 icon-attached">
                <!-- [disabled]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id.length == 0" -->
                <div>
                  <select required id="condition" name="condition"
                    [(ngModel)]="selectedProcessMaterialCharacteristicList[index].unitType.id"
                    [ngModelOptions]="{standalone: true}" class="form-control">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let item of selectedProcessMaterialCharacteristicList[index].units"
                      [value]="item.id">
                      {{item.displayName}}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Required.
                  </div>
                </div>
                <span class="minus" (click)="removeCondition(index)">
                  <i class="fas fa-minus"></i>
                </span>
              </div>

            </div>
            <div *ngIf="selectedProcessMaterialCharacteristicList.length > 5" class="default">
              <span class="add" (click)="addCondition()">
                <i class="fas fa-plus"></i>
              </span>
            </div>
          </div>
        </div>
        <!-- End of Post-Process Material Characteristics -->
      </div>
    </div>
    <!-- End of Post-Process Dimensional Properties and Material Characteristics  -->


    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>

    </div>
  </form>
</div>
