<div class="wrapper shadow">

  <form novalidate class="needs-validation">


    <div class="form-row">

      <div class="form-group theme col">
        <label for="core_competencies">Core Competencies</label>
        <select required id="core_competencies" name="core_competencies" [(ngModel)]="form.core_competencies"
          class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of coreCompetencies" [value]="item">{{item}}</option>
        </select>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label for="adjacent_growth">Adjacent Growth</label>
        <select required id="adjacent_growth" name="adjacent_growth" [(ngModel)]="form.adjacent_growth"
          class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of adjacentGrowth" [value]="item">{{item}}</option>
        </select>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label for="RFQ_to_exclude">RFQ To Exclude</label>
        <select required id="RFQ_to_exclude" name="RFQ_to_exclude" [(ngModel)]="form.RFQ_to_exclude"
          class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of RFQToExclude" [value]="item">{{item}}</option>
        </select>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label for="companies_to_exclude">Companies to Exclude</label>
        <select required id="companies_to_exclude" name="companies_to_exclude" [(ngModel)]="form.companies_to_exclude"
          class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of companiesToExclude" [value]="item">{{item}}</option>
        </select>
      </div>

    </div>

    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>

    </div>
  </form>
</div>
