<div class="wrapper shadow">

  <form [formGroup]="form" class="needs-validation" (submit)="save()">

    <div class="form-row">

      <div class="form-group theme col">
        <label for="coreCompetence">Core Competencies</label>
        <ng-select [multiple]="true" dropdownPosition="bottom" [virtualScroll]=" true" [hideSelected]="true"
          [selectOnTab]="true" [(ngModel)]="selectedCoreCompetence" [ngModelOptions]="{standalone: true}">
          <ng-option *ngFor="let item of coreCompetencies" [value]="item.id">{{item.name}}</ng-option>
        </ng-select>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label for="adjacentGrowth">Adjacent Growth</label>
        <ng-select [multiple]="true" dropdownPosition="bottom" [virtualScroll]=" true" [hideSelected]="true"
          [selectOnTab]="true" [(ngModel)]="selectedAdjacentGrowth" [ngModelOptions]="{standalone: true}">
          <ng-option *ngFor="let item of adjacentGrowths" [value]="item.id">{{item.name}}</ng-option>
        </ng-select>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label>RFQ To Exclude</label>
        <input formControlName="rfqExclusionCondition" id="rfqExclusionCondition" name="rfqExclusionCondition"
          placeholder="RFQ To Exclude" class="form-control">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label>Client To Exclude</label>
        <input formControlName="clientExclusionCondition" id="clientExclusionCondition" name="clientExclusionCondition"
          placeholder="Client To Exclude" class="form-control">
      </div>

    </div>

    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme" [disabled]="!form.valid">Save</button>
      </div>

    </div>
  </form>
</div>
