<div class="wrapper shadow">

  <form [formGroup]="form" class="needs-validation" (submit)="save($event)">

    <div class="form-row">

      <div class="form-group theme col">
        <label for="coreCompetence">Core Competencies</label>
        <select formControlName="coreCompetence" id="coreCompetence" name="coreCompetence"
          class="form-control">
          <option selected value=''>Choose...</option>
          <option *ngFor="let item of coreCompetencies" [value]="item.id">{{item.name}}</option>
        </select>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label for="adjacentGrowth">Adjacent Growth</label>
        <select formControlName="adjacentGrowth" id="adjacentGrowth" name="adjacentGrowth" class="form-control">
          <option selected value=''>Choose...</option>
          <option *ngFor="let item of adjacentGrowth" [value]="item.id">{{item.name}}</option>
        </select>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label>RFQ To Exclude</label>
        <input formControlName="rfqExclusionCondition" id="rfqExclusionCondition" name="rfqExclusionCondition"
          placeholder="RFQ To Exclude" class="form-control">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label>Client To Exclude</label>
        <input formControlName="clientExclusionCondition" id="clientExclusionCondition" name="clientExclusionCondition"
          placeholder="Client To Exclude" class="form-control">
      </div>

    </div>

    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme" [disabled]="!form.valid">Save</button>
      </div>

    </div>
  </form>
</div>
