<div class="add-team-container">
  <div class="wapper-add">
    <div class="left-section">
      <h3 class="title-txt">Team members</h3>
        <h3 class="form-title">Invite Team Members</h3>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Email address</mat-label>
          <input matInput >
          <!--                    <mat-error *ngIf="loginForm.controls['name'].invalid">-->
          <!--                        {{validateUserInput('username')}}-->
          <!--                    </mat-error>-->
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Short message (Optional)</mat-label>
          <textarea matInput ></textarea>
          <!--                    <mat-error *ngIf="loginForm.controls['name'].invalid">-->
          <!--                        {{validateUserInput('username')}}-->
          <!--                    </mat-error>-->
        </mat-form-field>
        <button class="add-team-btn">Invite</button>
        <h3 class="active-team">Active Team Members</h3>
      <div class="team-list">
        <div class="team-profile">
            <img src="assets/img/noimage.jpg" alt="profile" class="profile-pic">
            <h3 class="team-member">Olivia</h3>
           <a>
             <img src="assets/img/delete.svg" alt="delete"  style="padding: 0 10px;" >
           </a>
        </div>
        <div class="team-profile" >
          <img src="assets/img/noimage.jpg" alt="profile" class="profile-pic">
          <h3 class="team-member">Olivia</h3>
          <a>
            <img src="assets/img/delete.svg" alt="delete"  style="padding: 0 10px;" >
          </a>
        </div><div class="team-profile" >
        <img src="assets/img/noimage.jpg" alt="profile" class="profile-pic">
        <h3 class="team-member">Olivia</h3>
        <a>
          <img src="assets/img/delete.svg" alt="delete"  style="padding: 0 10px;" >
        </a>
      </div>
        <div class="team-profile" >
          <img src="assets/img/noimage.jpg" alt="profile" class="profile-pic">
          <h3 class="team-member">Olivia</h3>
          <a>
            <img src="assets/img/delete.svg" alt="delete"  style="padding: 0 10px;" >
          </a>
        </div><div class="team-profile" >
        <img src="assets/img/noimage.jpg" alt="profile" class="profile-pic">
        <h3 class="team-member">Olivia</h3>
        <a>
          <img src="assets/img/delete.svg" alt="delete" style="padding: 0 10px;" >
        </a>
      </div>
        <div class="team-profile" >
          <img src="assets/img/noimage.jpg" alt="profile" class="profile-pic">
          <h3 class="team-member">Olivia</h3>
          <a>
            <img src="assets/img/delete.svg" alt="delete"  style="padding: 0 10px;" >
          </a>
        </div>
      </div>
    </div>
    <div class="right-section">
      <img src="assets/img/add-property.svg" alt="add-property">
    </div>
  </div>
</div>
