.banner {
  width: 100%;
  height: 366px;
  position: relative;
  background-position: bottom;
  background-image: url("src/assets/img/about-header.svg");
}

.banner::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: 'About Us';
  font-family: 'Poppins';
  font-size: 45px;
  line-height: 1.5;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #407cffe6;
}

.about_container {
  padding: 0 30px;

  .about_content {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .about_img {
      flex: 0.5;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 423px;
        height: 408px;
        top: 2rem;
        left: 2rem;
        z-index: -1;
        background-color: #006AFF;
      }
    }

    .about_txt {
      flex: 1.5;

      h3 {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 25px;
        line-height: 1.5;
        letter-spacing: 0.05em;
        color: #555555;
      }
      p {
        font-family: 'Poppins';
        font-size: 16px;
        line-height: 1.5;
        color: #565656;
      }
    }
  }
}

@media (min-width: 1200px) {
  .about_container {
    .about_content {
      .about_img {
        flex: 2;
      }
      .about_txt {
        flex: 3;
      }
    }
  }
}

.testimonial {
  margin-top: 100px;

  .testimonial_header {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
    color: #565656;
    text-align: center;
  }
}