<app-pre-header></app-pre-header>
<div class="banner"></div>

<div class="about_container">
  <div class="about_content">
    <div class="about_img">
      <img src="assets/img/sofa.png" class="img-fluid" alt="img">
    </div>
    <div class="about_txt">
      <h3>Why We Need Pricing Meter ?</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
    </div>
  </div>
</div>

<div class="testimonial">
  <h3 class="testimonial_header">Read Our Customers Stories</h3>

  <div id="testimonial_carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators image_indicators">
      <li data-target="#testimonial_carousel" data-slide-to="0" class="active">
        <img src="assets/img/Testimonial_1.jpg" class="img-fluid" alt="Testimonial_1">
      </li>
      <li data-target="#testimonial_carousel" data-slide-to="1">
        <img src="assets/img/Testimonial_2.jpg" class="img-fluid" alt="Testimonial_1">
      </li>
      <li data-target="#testimonial_carousel" data-slide-to="2">
        <img src="assets/img/Testimonial_3.jpg" class="img-fluid" alt="Testimonial_1">
      </li>
    </ol>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed urna arcu. Integer sit amet risus nisi. Nulla ut consequat quam.</p>
        <img src="assets/img/company_name.svg" class="img-fluid" alt="Company-name">
      </div>
      <div class="carousel-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed urna arcu. Integer sit amet risus nisi. Nulla ut consequat quam.</p>
        <img src="assets/img/company_name.svg" class="img-fluid" alt="Company-name">
      </div>
      <div class="carousel-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed urna arcu. Integer sit amet risus nisi. Nulla ut consequat quam.</p>
        <img src="assets/img/company_name.svg" class="img-fluid" alt="Company-name">
      </div>
    </div>

    <ol class="carousel-indicators">
      <li data-target="#testimonial_carousel" data-slide-to="0" class="active"></li>
      <li data-target="#testimonial_carousel" data-slide-to="1"></li>
      <li data-target="#testimonial_carousel" data-slide-to="2"></li>
    </ol>
  </div>
</div>

<app-footer></app-footer>

