<app-pre-header></app-pre-header>
<div class="container-fluid">
  <div class="feature-img">
    <img src="assets/img/about-header.svg" class="ad-img">
  </div>
    <div class="main-content">
      <div class="image-fix">
        <img src="assets/img/sofa.svg" class="margin-set">
      </div>
      <div></div>
      <div class="right-sec">
        <h3 class="need-header">Why We Need PricingMeter?</h3>
        <p class="need-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <br/>
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took <br/>
          a galley of type and scrambled it to make a type specimen book. It has survived not only <br/>
          five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <br/>
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
        <p class="need-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has<br/>
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took <br/>
          a galley of type and scrambled it to make a type specimen book. It has survived not only five <br/>
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It <br/>
          was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum <br/>
          passages</p>
      </div>
    </div>
  <div>
    <h3 class="feedback-header">
    Read Our Customers Stories
    </h3>
    <div class="client-img">
      <img src="assets/img/client.svg" class="side-image">
      <img src="assets/img/client.svg" class="main-image">
      <img src="assets/img/client.svg" class="side-image">
    </div>
    <p class="feedback-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus sed urna arcu. Integer sit amet risus nisi. <br/>
      Nulla ut consequat quam.
    </p>
  </div>
</div>
<app-footer></app-footer>

