<div class="wrapper shadow">

  <form [formGroup]="shippingItem" novalidate class="needs-validation" (submit)="save($event)">
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label for="carrier">Carrier</label>
        <select required id="carrier" name="carrier" formControlName="shippingProvider" class="form-control">
          <option selected value="0">Choose...</option>
          <option *ngFor="let item of carriers" [value]="item.id">{{item.name}}</option>
        </select>
        <span *ngIf="showRequired('shippingProvider', 2)" class="footnote red">* Required</span>
      </div>

      <div class="form-group theme col-md-6">
        <label for="accountId">Account ID</label>
        <input required type="accountId" formControlName="accountId" class="form-control" id="email" name="email"
          placeholder="Account ID" />
        <span *ngIf="showRequired('accountId', 1)" class="footnote red">* Required</span>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label for="status">Status</label>
        <select required id="status" name="status" formControlName="status" class="form-control">
          <option selected value="0">Choose...</option>
          <option value="ACTIVE">Active</option>
          <option value="INACTIVE">Inactive</option>
        </select>
        <span *ngIf="showRequired('status', 2)" class="footnote red">* Required</span>
      </div>
    </div>


    <div class="row button-section">
      <div class="col-md-10 col-sm-8"></div>
      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>
    </div>
  </form>
</div>
