/* Ag-grid style */
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';

@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~ng-pick-datetime/assets/style/picker.min.css';

:root {
  --theme-main-blue: #092846;

  --theme-dark-blue: #092846;
  --them-dark-blue-opaque: #092846;
  --theme-secondary-blue: rgba(9, 40, 70, 0.74);
  --theme-secondary-blue-solid: #607181;
  --theme-sky-blue: #31b0d6;
  --theme-light-blue: #194b7c;
  --theme-grid-header: #194b7c;
  --theme-light-green: #74bf09;
  --theme-light-green-with-opacity: rgba(115, 191, 9, 0.23);
  --theme-input-bg: rgba(196, 196, 196, 0.13);
  --theme-green-grey-bg: #f9faf7;
  --theme-grey-bg: #f5f5f8;
  --theme-table-border: rgba(112, 112, 112, 0.39);
  --theme-error-color: #dc3545;
  --theme-orange: #ef773f;
  --theme-btn-primary: #74bf09;
  --theme-btn-hover: #558b09;
  --theme-action-bar-color: #46637e;
  --theme-btn-back-color: #ffffff;
  --theme-white-color: #ffffff;
  --theme-btn-back-hover-color: #f8fdf0;
  --theme-light-sky-blue: #bfd9f2;
  --theme-light-input-bg: #eaf3fc;
  --theme-tab-border: #dee2e6;
  --theme-text-color: #4a6077;
  --theme-bright-blue: #0e6dcb;
  --theme-purple: #706cd8;

  --theme-yellow-progressbar: #ffde55;
  --theme-light-green-progressbar: #74bf09;
  --theme-highlighted-row: #f4f5fa;
}

.bg-dark-blue {
  background: var(--theme-main-blue);
  display: flex;
  color: white;
}

.transparent {
  background: transparent;
  border: none;
}

.transparent:focus {
  outline: none;
}

.text-theme {
  color: var(--theme-light-blue);
}

.text-orange {
  color: var(--theme-orange);
}

.text-purple {
  color: var(--theme-purple);
}

.text-theme-green {
  color: var(--theme-light-green) !important;
}

.text-highlight {
  color: var(--theme-light-green);
}

.text-light-blue {
  color: var(--theme-sky-blue);
}

.theme-grey {
  color: var(--theme-secondary-blue-solid);
}

a,
a:hover {
  color: unset;
  text-decoration: unset;
}

a.link {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.font-sm {
  font-size: 12px !important;
}

.hover-bold:hover {
  font-weight: bold;
}

.hover-underline:hover {
  text-decoration: underline;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1;
}

.form-group.theme label {
  color: var(--theme-action-bar-color) !important;
  font-weight: 500;
}

.form-group.theme input,
.form-group.theme select {
  background: var(--theme-input-bg);
}

.form-group.theme input,
.form-group.theme select,
.form-group.theme label {
  font-size: 14px;
  color: var(--theme-secondary-blue);
}

.form-group.theme input,
.form-group.theme select {
  font-size: 13px;
}

.form-group.theme input:focus {
  border-color: #8fbe4c !important;
  box-shadow: unset;
}

.form-group.theme .footnote {
  font-size: 12px;
  color: var(--theme-secondary-blue);
}

.form-group.theme .footnote.red,
.footnote.red {
  color: #dc3545;
  font-size: 80%;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: white;
  background: var(--theme-light-green);
  border-color: var(--theme-light-green);
}

.btn-outline-secondary:hover {
  background: var(--theme-light-blue);
  border-color: var(--theme-light-blue);
}

.progress-bar.bg-success {
  background-color: var(--theme-light-green) !important;
}

button.theme {
  background: var(--theme-light-green);
  color: white;
  width: 100%;
  padding: 10px 8px;
  border: unset;
  font-size: 0.9em;
  font-weight: 300;
}

button.theme.dim {
  background: var(--theme-secondary-blue);
}

button.theme.white {
  font-size: 14px;
  background: var(--theme-btn-back-color);
  color: var(--theme-light-green);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
  width: 166px;
}

button.theme:active,
button.theme:hover {
  background: var(--theme-light-green);
}

button.theme.dim:hover {
  background: var(--theme-secondary-blue);
  opacity: 0.9;
}

button.theme.white:hover {
  color: var(--theme-light-green);
  background: var(--theme-btn-back-hover-color);
}

button.theme.theme-reverse {
  background: var(--theme-light-green);
}

button.theme.theme-reverse:active,
button.theme.theme-reverse:hover {
  background: var(--theme-secondary-blue);
}

.form-group.icon-attached > div {
  width: 100%;
}

.button-section {
  margin-top: 30px;
}

.btn:disabled {
  background-color: rgba(0, 0, 0, 0.5) !important;
  cursor: not-allowed;
}

.btn-primary,
.btn-contniue {
  background: var(--theme-btn-primary) !important;
  border: var(--theme-btn-primary) !important;
  color: white;
}

.btn-primary:hover,
.btn-contniue:hover {
  background: var(--theme-btn-hover) !important;
  color: white;
}

.btn-white {
  background: white !important;
  border-radius: 4px;
  color: var(--theme-btn-primary) !important;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}

.btn-white:hover {
  background: #f8fdf0 !important;

  color: var(--theme-btn-hover) !important;
  border-radius: 4px;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}

.fa-trash {
  color: var(--theme-orange);
}

.modal.theme .modal-title {
  color: var(--theme-main-blue);
}

.modal.theme .modal-body {
  color: var(--theme-secondary-blue);
}

/* Overriding @ng-select */
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: #8fbe4c !important;
  outline: unset !important;
}

.ng-select.ng-select-single .ng-select-container,
.ng-select .ng-select-container {
  background: var(--theme-input-bg);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: var(--theme-light-green);
  color: white;
}

.ng-select:not(.ng-select-multiple) .ng-select-container .ng-value-container .ng-value {
  color: var(--theme-secondary-blue);
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder,
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 13px;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: var(--theme-secondary-blue-solid);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  margin-top: 3px;
}

.ng-select.ng-select-opened .ng-select-container,
.ng-dropdown-panel {
  z-index: 3 !important;
}

/* Overriding Ag-grid style */
.theme-table .ag-theme-balham .ag-header-row {
  background: var(--theme-grid-header);
  color: white;
  font-size: 12px;
  font-weight: 300;
}

.theme-table.light .ag-theme-balham .ag-header-row {
  background: var(--theme-bright-blue);
}

.theme-table .ag-theme-balham .ag-header-row .ag-header-cell-label {
  font-weight: 500;
}

.theme-table .ag-theme-balham .ag-row {
  border-color: var(--theme-table-border);
  color: var(--theme-secondary-blue-solid);
}

.theme-table .ag-theme-balham .ag-header-icon .ag-icon {
  font-size: 22px;
  color: var(--theme-light-green);
}

.theme-table .ag-theme-balham .ag-paging-panel {
  justify-content: space-between;
  color: var(--them-dark-blue-opaque);
}

.theme-table .ag-theme-balham .ag-paging-panel .ag-icon {
  color: var(--theme-light-green);
}

.theme-table .ag-theme-balham .ag-cell {
  font-size: 13px;
  display: block;
  align-items: center;
  padding: 0.375rem 0.75rem;
}

.theme-table .ag-theme-balham .ag-cell.ag-cell-inline-editing {
  height: 100%;
}

.theme-table .ag-theme-balham .ag-cell select {
  margin: 0;
  height: 100% !important;
}

.theme-table .ag-theme-balham .ag-cell span {
  height: 100%;
  display: flex;
  background: transparent;
  align-items: center;
}

.theme-table .ag-theme-balham .action-column {
  font-size: 16px;
  display: flex;
  /* padding-top: 5px; */
  height: 100%;
  justify-content: left;
}

.theme-table .ag-theme-balham .action-column .edit {
  margin-right: 10px;
  color: var(--theme-grid-header);
}

.theme-table .ag-theme-balham .action-column .copy {
  margin-right: 10px;
}

.theme-table .ag-theme-balham .action-column .view {
  margin-right: 10px;
  color: var(--theme-orange);
}

.theme-table .ag-theme-balham .action-column .view.text-theme-green {
  color: var(--theme-light-green);
}

.theme-table .ag-theme-balham .action-column span:hover {
  cursor: pointer;
}

.theme-table .ag-theme-balham .action-column .delete {
  color: var(--theme-orange) !important;
}

.theme-table .ag-theme-balham .action-column .approve {
  margin-right: 10px;
}

.ag-theme-balham .ag-row-selected {
  background-color: var(--theme-light-green-with-opacity);
}

/* End of Overriding Ag-grid style */

/* NON Ag-grid table style */

.table {
  margin-bottom: 0px;
}

.page-size {
  margin-top: -25px;
  font-size: 13px;
  float: right;
  user-select: none;
}

/* NON Ag-grid table style */
app-dropdown-cell-renderer {
  width: 100%;
  height: 100%;
}

.line-through {
  text-decoration: line-through;
}

.submit-message {
  position: absolute;
  text-align: center;
  right: 15px;
  font-weight: bold;
  color: var(--them-dark-blue-opaque);
}

.ag-cell span {
  line-height: 34px;
}

::placeholder {
  color: #607181 !important;
  opacity: 0.4 !important;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: var(--theme-green-grey-bg);
}

.form-notification {
  color: var(--theme-light-green);
  padding-bottom: 20px;
  display: block;
}

.container-continue {
  max-width: 150px;
}

.conditions .minus {
  color: var(--theme-orange);
}

/* End of Custom spinner */
.style-bold {
  font-weight: bold !important;
}

/* Tabbed Cards */
.tab-container.custom {
  margin-bottom: 30px;
}

.card.custom .card-header {
  background: white;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  padding: 5px 5px 0px 5px;
  height: 50px;
  margin-bottom: 20px;
}

.card.custom .card-header .menu-item {
  display: inline-flex;
  align-items: center;
  margin: 0px 20px;
  font-weight: 500;
}

.card.custom .card-header .menu-item.error {
  color: red;
}

.card.custom .card-header .menu-item:hover {
  cursor: pointer;
}

.card.custom .card-header .separator {
  border-left: 6px solid rgba(9, 40, 70, 0.36);
}

.card.custom .card-header .menu-item.active {
  color: var(--theme-light-green);
  border-bottom: 5px solid var(--theme-light-green);
}

.orange-btn,
.btn-sky-blue {
  color: white;
  background-color: var(--theme-orange) !important;
  margin: 0 15px;
}

.btn-sky-blue {
  background-color: var(--theme-sky-blue) !important;
}

.green-btn {
  color: white;
  background-color: var(--theme-light-green);
}

.toggle-test-btn {
  width: 166px !important;
}

/* End of Tabbed Cards */

/* Bidding Confirmation Modal */
.bidding-confirm .modal-dialog {
  max-width: 550px;
}

.bidding-confirm .modal-footer button {
  width: 160px;
  border-radius: 2px;
}

/*Bidding Confirmation Modal*/

/* breakdown pricing  window */
.break-down-modal .modal-dialog,
.order-status-modal .modal-dialog {
  max-width: 600px;
}

.rfq-status-modal .modal-dialog {
  max-width: 75%;
  width: 75%;
}

.rfq-status-modal .modal-dialog .modal-body app-insight-part-information .wrapper {
  padding: 0;
}

.rfq-status-modal .modal-dialog .modal-body.empty {
  height: 500px;
  min-height: 500px;
}

.change-account-modal .modal-dialog {
  max-width: 450px;
}

.authentication-modal .modal-dialog {
  max-width: 500px;
}

.break-down-modal .modal-dialog .title,
.order-status-modal .modal-dialog .title,
.rfq-status-modal .modal-dialog .title {
  color: white;
  background: var(--theme-grid-header);
}

.break-down-modal .modal-title,
.order-status-modal .modal-title,
.change-account-modal .modal-title,
.authentication-modal .modal-title,
.rfq-status-modal .modal-title {
  border-left: 4px solid var(--them-dark-blue-opaque);
  color: var(--them-dark-blue-opaque) !important;
  opacity: 0.5;
}

.change-account-modal .btn {
  width: 150px;
  height: 40px;
}

.change-account-modal .orange,
.change-account-modal .orange:hover {
  color: var(--theme-white-color);
  background-color: var(--theme-orange) !important;
}

/* breakdown pricing  window */

/* Vendor order info modal */
.order-status-modal .modal-dialog {
  max-width: 75% !important;
  width: 75% !important;
  height: 100%;
}

.order-status-modal .modal-header {
  border-bottom: 1px solid #dee2e6 !important;
}

.order-status-modal .modal-title {
  border-left: 4px solid var(--them-dark-blue-opaque);
  color: var(--them-dark-blue-opaque) !important;
  opacity: 0.5;
}

/* Vendor order info modal */

/* Refresh modal window */
.refresh-modal .modal-dialog {
  max-width: 500px;
  width: 500px;
}

.refresh-modal .refresh-btn {
  font-size: 30px !important;
  color: var(--theme-light-blue);
  outline: none;
}

.refresh-modal .refresh-btn:hover {
  color: var(--theme-light-blue);
}

/* Refresh modal window */

.approved {
  background-color: #e0f0c9 !important;
}

.non-approved {
  background-color: #fff !important;
}

.declined {
  background-color: #f5ddd1 !important;
}

.approve {
  font-size: 14px;
  background: transparent;
  color: var(--theme-light-green) !important;
}

.decline {
  font-size: 14px;
  background: transparent;
  color: var(--theme-orange) !important;
  margin-right: 10px;
}

.btn-approve {
  background: var(--theme-light-green) !important;
  color: white;
  width: 140px !important;
  margin-right: 40px;
}

.btn-approved {
  background: transparent !important;
  color: var(--theme-light-green) !important;
  border: 1px solid var(--theme-light-green) !important;
  width: 140px !important;
  margin-right: 40px;
}

.btn-decline {
  background: var(--theme-orange) !important;
  color: white;
  width: 140px !important;
}

.btn-declined {
  background: transparent !important;
  color: var(--theme-orange) !important;
  border: 1px solid var(--theme-orange) !important;
  width: 140px !important;
}

.confirm-release-modal .ag-body-viewport.ag-layout-auto-height .ag-center-cols-container,
.confirm-release-modal .ag-body-viewport.ag-layout-auto-height .ag-center-cols-clipper {
  min-height: auto !important;
}

.confirm-release-modal .grid-empty .ag-body-viewport.ag-layout-auto-height .ag-center-cols-container,
.confirm-release-modal .grid-empty .ag-body-viewport.ag-layout-auto-height .ag-center-cols-clipper {
  min-height: 35px !important;
  height: 35px !important;
}

.payment-panel {
  height: 100px !important;
}

.payment-panel .loading-text {
  text-align: center;
  width: 100% !important;
  margin-top: 20px;
}

.search-box {
  width: 100%;
  border-bottom: 1px solid;
}

.search-box input,
.search-box input:focus,
.search-box input:active {
  border: none;
  outline: none;
}

/* AG Grid Override */
.chat-container {
  width: 350px;
  max-width: 350px;
  max-height: 550px;
}

.chat-container .popover-header,
.chat-container .popover-body {
  padding: 0;
  background: var(--theme-white-color);
}

.chat-container .message-container {
  padding: 10px 0;
  overflow-y: auto;
  max-height: 300px;
}

.chat-container .message-container .admin-chat,
.message-container .participant-chat {
  font-size: 12px;
  padding: 0 15px;
  margin: 5px 0;
}

.chat-container .message-container .date-separator {
  text-align: center;
  color: var(--theme-table-border);
}

.chat-container .message-container .date-separator:before,
.chat-container .message-container .date-separator:after {
  background-color: var(--theme-table-border);
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: text-top;
  width: 25%;
}

.chat-container .message-container .date-separator div.dt-value {
  width: 75px;
  max-width: 75px;
  overflow-wrap: break-word;
  display: inline-block;
  font-size: 11px;
}

.chat-container .message-container .date-separator div.dt-value .time {
  color: #000000;
}

.chat-container .message-container .date-separator:before {
  right: 0.5em;
  margin-left: -50%;
}

.chat-container .message-container .date-separator:after {
  left: 0.5em;
  margin-right: -50%;
}

.chat-container .attachment-btn,
.plain-chat-container .attachment-btn {
  right: 10px;
}

.chat-button .unread-badge,
.info-panel .unread-badge,
.control-button .unread-badge {
  top: 5px;
  right: 2px;
  height: 20px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;
  font-size: 0.75rem;
  min-width: 20px;
  transform: scale(1) translate(50%, -50%);
  box-sizing: border-box;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-weight: 500;
  align-content: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  transform-origin: 100% 0%;
  color: var(--theme-white-color);
  background: var(--theme-orange) !important;
}

.empty-chat {
  padding: 10px 0;
  overflow-y: auto;
  height: 250px;
  max-height: 250px;
}

.empty-chat .admin-chat,
.empty-chat .participant-chat {
  font-size: 12px;
  padding: 0 15px;
  margin: 5px 0;
}

/**/

/* date control override styles start */
.cdk-overlay-container,
.cdk-overlay-container .cdk-overlay-backdrop,
.cdk-overlay-container .cdk-overlay-connected-position-bounding-box,
.cdk-overlay-container .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane,
.cdk-overlay-container .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .owl-dt-container {
  z-index: 1051;
}

.cdk-global-scrollblock {
  position: static;
  overflow: hidden !important;
}

/* .cdk-overlay-pane.owl-dt-popup {
  bottom: unset !important;
  left: unset !important;
  right: 50px;
} */

/* Reference Files Modal */

.attachment-modal {
  z-index: 1061;
}

.ref-file-modal .file-items,
.storage-file-modal .file-items,
.attachment-modal .file-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ref-file-modal .modal-dialog,
.storage-file-modal .modal-dialog,
.attachment-modal .modal-dialog {
  max-width: 900px;
}

.ref-file-modal .modal-header,
.storage-file-modal .modal-header,
.attachment-modal .modal-header {
  border: none;
}

.ref-file-modal .file-items .list-item,
.storage-file-modal .file-items .list-item,
.attachment-modal .file-items .list-item {
  height: 120px;
  border: 1px solid #ccc;
}

.ref-file-modal .file-items .file-name,
.storage-file-modal .file-items .file-name,
.attachment-modal .file-items .file-name {
  font-size: 13px;
  color: var(--theme-light-blue) !important;
  text-decoration: underline;
  cursor: pointer;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.storage-file-modal .file-items .file-name {
  width: 110px !important;
}

.ref-file-modal .file-items .doc-icon,
.storage-file-modal .file-items .doc-icon,
.attachment-modal .file-items .doc-icon {
  font-size: 64px;
}

.ref-file-modal .attached-file,
.storage-file-modal .attached-file,
.attachment-modal .attached-file {
  height: 250px;
  width: 250px;
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  border: 1px solid #cccccc;
}

.ref-file-modal .modal-body,
.storage-file-modal .modal-body,
.attachment-modal .modal-body {
  max-height: 400px;
}

.attachment-modal .modal-body {
  max-height: 600px !important;
}

.ref-file-modal .modal-body.attachment-body,
.storage-file-modal .modal-body.attachment-body,
.attachment-modal .modal-body.attachment-body {
  max-height: 700px;
}

/* Reference Files Modal */

/* Upload Container */
.upload-container {
  height: 500px;
  width: 100%;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
}

.upload-container.has-files {
  padding: 0;
  border: none;
}

.upload-container .file-icon {
  font-size: 48px;
}

.file-container {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
}

.upload-container.file-over {
  background: #f5f5f5;
  border: dashed 2px var(--theme-light-blue);
}

.upload-container .plus-icon {
  font-size: 6em;
}

.upload-container h6 {
  font-size: 14px;
  color: var(--theme-light-blue);
}

.upload-container h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--theme-light-blue);
}

.upload-container .file-picker {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.upload-container .btn-browse {
  border-radius: 20px;
  border: none;
}

.upload-container .files-list {
  padding: 2rem;
}

.upload-container .single-file {
  border: dashed 1px #979797;
  padding-right: 15px;
  padding-left: 15px;
  width: 200px;
}

.upload-container .single-file .name {
  font-size: 14px;
  font-weight: 500;
  word-wrap: break-word;
  color: #353f4a;
  margin: 0;
}

.upload-container .single-file .size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0 0 0.25rem;
}

.upload-container .single-file .delete {
  cursor: pointer;
}

/* Upload Container */

/* Notification */

.tooltip-content .popOverDetails.popover .arrow {
  display: none !important;
  color: white;
}

.popover.widget {
  max-width: 475px !important;
  width: 450px;
  max-height: 375px;
  background-color: white;
  border: unset;
}

.popover.widget .popover-header,
.popover.widget .popover-body {
  padding: 0;
  background: var(--theme-white-color);
  border: unset;
}

.control-button .unread-badge {
  background-color: var(--theme-sky-blue);
}

/* End of Notification */

/** Proposal form **/
.proposal-form-modal .modal-dialog {
  max-width: 70%;
}

.proposal-form-modal .modal-header {
  border-bottom: none;
}

.proposal-form-modal .btn-groups .btn {
  width: 200px;
}

.proposal-form-modal .price-title {
  font-size: 14px;
}

.proposal-form-modal .agreement-text {
  font-size: 12px;
}

.proposal-form-modal .downloadable {
  word-break: break-all;
}

.proposal-form-modal .tablist .nav-item {
  min-width: 150px;
  text-align: center;
}

.proposal-form-modal .tablist .nav-tabs .nav-link:not(.active) {
  background: #fafafa;
  border-radius: 0;
}

.proposal-form-modal .tablist .nav-tabs .nav-link:hover {
  border-bottom: none;
}

.proposal-form-modal .tab-content .part-title {
  font-size: 13px;
  padding: 5px 0px;
}

.proposal-form-modal .tablist .nav-tabs .nav-link.active {
  border: none;
  border-top: 3px solid var(--theme-light-green) !important;
  border-radius: 0;
}

.proposal-form-modal .tab-container {
  border: 1px solid #cccccc;
  padding: 0;
}

.proposal-form-modal .tab-content {
  padding: 1rem;
}

.proposal-form-modal .proposal-part {
  border-left: 1px solid #cccccc;
}

.proposal-form-modal .col-form-label,
.proposal-form-modal .col-form-label label {
  font-size: 12px;
  margin: 0;
  font-weight: normal;
}

.proposal-form-modal .tab-content .media-image {
  height: 200px;
  width: 100%;
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.proposal-form-modal .tab-content .proposal-table {
  width: 100%;
}

.proposal-form-modal .tab-content .proposal-table td.original-value,
.proposal-form-modal .tab-content .proposal-table td.proposed-value {
  width: 40%;
}

.proposal-form-modal .tab-content .proposal-table td.high-lighted-cell {
  background: var(--theme-light-blue);
  color: var(--theme-white-color);
  font-weight: 700;
  border: none;
  border-bottom: 1px solid var(--theme-white-color);
  width: 20%;
}

.proposal-form-modal .tab-content .proposal-table td {
  border: 1px solid #cccccc;
  text-align: center;
  padding: 10px;
  color: var(--theme-light-blue);
  font-size: 13px;
}

/** Proposal form **/
