/* You can add global styles to this file, and also import other style files */


:root {
  --theme-dark-blue: #092846;
  --them-dark-blue-opaque: #092846;
  --theme-secondary-blue: #607181;
  --theme-light-green: #8FBE4C;
  --theme-input-bg: rgba(196, 196, 196, .13);
}

* {
  font-family: 'Heebo', sans-serif;
}

.bg-dark-blue {
  background: var(--theme-dark-blue);
  display: flex;
  color: white;
}

a,
a:hover {
  color: unset;
  text-decoration: unset
}

.form-group.theme label {
  color: var(--them-dark-blue-opaque);
  font-weight: 500;
}

.form-group.theme input,
.form-group.theme select {
  font-size: 14px;
  background: var(--theme-input-bg);
  color: var(--theme-secondary-blue);

}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: white;
  background: var(--theme-light-green);
}

button.theme {
  background: var(--them-dark-blue-opaque);
  color: white;
  width: 100%;
  padding: 10px 8px;
  border: unset;
}

button.theme.dim {
  background: var(--theme-secondary-blue);
}

button.theme.white {
  background: white;
  color: var(--theme-secondary-blue);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

button.theme:active,
button.theme:hover {
  background: var(--theme-light-green);
}

button.theme.dim:hover {
  background: var(--theme-secondary-blue);
  opacity: .9;
}

button.theme.white:hover {
  color: var(--theme-dark-blue);
  background: unset;
}

.button-section {
  margin-top: 30px;
}
