<div class="upload-property-container">
  <div class="row">
    <div class="col-sm-6">
      <a class="btn header-component">Upload CSV</a>
      <p class="sub-heading">By answering these final four questions, the Pricing Meter <br/>
        applies data-driven decisions to estimate the property value. </p>
      <div class="image-wrapper">
        <img src="assets/img/add-property-image.svg">
      </div>
    </div>
    <div class="col-sm-6">
      <div>
        <a class="btn detail-btn float-right">PROPERTY DETAILS</a>
      </div>
      <div  class="form-content-fluid">
      </div>
    </div>
  </div>
</div>
