.upload-property-container{
  padding: 0 30px;
  .header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
  }
  .header-component{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #555555;

  }
  .sub-heading {
    //font-family: Poppins-Regular;
    //font-style: normal;
    //font-weight: normal;
    //font-size: 10px;
    //line-height: 15px;
    //text-align: justify;
    //letter-spacing: 0.05em;
    //background-color:  #F3F3F3;
    //max-width: 50%;
    //color: #777777;
    //border-radius: 3px;
    margin-left: 150px;
    margin-bottom: 0;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    letter-spacing: 0.05em;
    background-color: #F3F3F3;
    width: 27%;
    color: #777777;
    border-radius: 3px;
    position: absolute;
  }
  .main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
  }
  .csv-btn{
    background: #27BA9C;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
  }
  .btn {
    cursor: pointer;
    display: flex;
    align-items: center;

    &:focus {
      outline: none !important;
    }
  }
  .page-link{
    color: #909090;
  }
  .review-title{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    display: inline-block;

    color: #006AFF;
  }
  .page-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .submit-btn {
    background: #407BFF;
    border-radius: 3px;
    border: none;
    height: 68px;
    width: 75%;
    font-family: Poppins-Regular;
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 78px;
    &:focus {
      outline: none !important;
    }
  }
  .image-wrapper {
    margin-right: 30px;
  }
}

//@media (max-width: 1660px) {
//.upload-property-container{
//  grid-template: 1fr 1fr / 1fr;
//  }
// .right-section {
//   padding-left: 257px;
// }
//}

//.page-quality {
//  text-align: center;
//
//
//}
//
//div.page-quality.hover {
//  color: #006AFF;
//  text-decoration: underline;
//}
.page-quality-wapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.page-quality {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.05em;

}
.pagination-lg .page-link {
  border-radius: 5px;
  width: 40.33px;
  height: 39.36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 5px;
}

.header-section{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0 60px;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 30px;
}

.info-cir {
  border: 1px solid #ddd;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;

  mat-icon {
    font-size: 14px;
    width: auto;
    height: auto;
  }
}
.upload-property-container .sub-heading::before {
  position: absolute;
  content: '';
  border-bottom: 16px solid #f3f3f3;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -16px;
  left: 40px;
}
