.upload-property-container{
  padding: 0 30px;
  .header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
  }
  .header-component{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #555555;

  }
  .sub-heading {
    //font-family: Poppins-Regular;
    //font-style: normal;
    //font-weight: normal;
    //font-size: 10px;
    //line-height: 15px;
    //text-align: justify;
    //letter-spacing: 0.05em;
    //background-color:  #F3F3F3;
    //max-width: 50%;
    //color: #777777;
    //border-radius: 3px;
    margin: 8px 0 0 150px;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    letter-spacing: 0.05em;
    background-color: #F3F3F3;
    width: 46%;
    color: #777777;
    border-radius: 3px;
  }
  .main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
  }
  .csv-btn{
    background: #27BA9C;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
  }
  .btn {
    cursor: pointer;
    &:focus {
      outline: none !important;
    }
  }
  .page-link{
    color: #909090;
  }
  .review-title{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #006AFF;
  }
  .page-item{
    margin-right: 20px;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .submit-btn {
    background: #407BFF;
    border-radius: 3px;
    border: none;
    height: 68px;
    width: 80%;

    font-family: Poppins-Regular;
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: 32px;
    cursor: pointer;
    &:focus {
      outline: none !important;
    }
  }
  .image-wrapper {
    margin-right: 30px;
  }
}

//@media (max-width: 1660px) {
//.upload-property-container{
//  grid-template: 1fr 1fr / 1fr;
//  }
// .right-section {
//   padding-left: 257px;
// }
//}

