<div class="upload-property-container">
  <div class="header-bar">
    <div>
      <p class="btn header-component">
        Agent Input
        <span class="info-cir">
<a (click)="open= !open">?</a>
</span>
      </p>
      <p class="sub-heading" *ngIf="open">By answering these final four questions, the Pricing Meter
        applies data-driven decisions to estimate the property value. </p>
    </div>
    <a class="btn csv-btn" (click)="navigateToCSV()">Upload CSV</a>
  </div>
  <div class="main-content">
    <div class="image-wrapper">
      <img src="assets/img/add-property-image.svg" >
    </div>

    <div class="right-section">
      <div class="header-section">
        <a class="review-title">Rate the location</a>
      </div>
      <mat-radio-group class="pagination pagination-lg">
        <li class="page-item" *ngFor="let review of propertyReview" >
          <a class="page-link" (click)="changeStyle(review.value , propertyReview)" [style.color]="review.key? 'white': '#868484'" [style.background-color]="review.key? '#407BFF': 'white'">{{review.value}}</a>
          <div class="page-quality-wapper">
            <a class="page-quality" [style.color]="review.key?'#006AFF': '#868484'" >{{review.name}}</a>
          </div>
        </li>
      </mat-radio-group>

      <div class="header-section">
        <a class="review-title">Rate the view</a>
      </div>
      <mat-radio-group class="pagination pagination-lg">
        <li class="page-item" *ngFor="let review of neighborhoodReview" >
          <a class="page-link" (click)="changeStyle(review.value , neighborhoodReview)" [style.color]="review.key?'white': '#868484'" [style.background-color]="review.key? '#407BFF': 'white'">{{review.value}}</a>
          <div class="page-quality-wapper">
            <a class="page-quality" [style.color]="review.key? '#006AFF': '#868484'" >{{review.name}}</a>
          </div>
        </li>
      </mat-radio-group>

      <div class="header-section">
        <a class="review-title">Rate the condition and layout</a>
      </div>
      <mat-radio-group class="pagination pagination-lg">
        <li class="page-item" *ngFor="let review of thirdReview " >
          <a class="page-link" (click)="changeStyle(review.value , thirdReview )" [style.color]="review.key? 'white': '#868484'" [style.background-color]="review.key? '#407BFF': 'white'">{{review.value}}</a>
          <div class="page-quality-wapper">
            <a class="page-quality" [style.color]="review.key? '#006AFF': '#868484'" >{{review.name}}</a>
          </div>
        </li>
      </mat-radio-group>

      <div class="header-section">
        <a class="review-title">What type of market is this property located in?</a>
      </div>
      <mat-radio-group class="pagination pagination-lg">
        <li class="page-item" *ngFor="let review of fourthReview" >
          <a class="page-link" (click)="changeStyle(review.value , fourthReview)" [style.color]="review.key? 'white': '#868484'" [style.background-color]="review.key? '#407BFF': 'white'" >{{review.value}}</a>
          <div class="page-quality-wapper">
            <a class="page-quality" [style.color]="review.key? '#006AFF': '#868484'" >{{review.name}}</a>
          </div>
        </li>
      </mat-radio-group>

      <button class="submit-btn" (click)="navigateToPropertyList()">FINISH</button>
    </div>
  </div>
  <div>
  </div>
</div>
