//.uploade-csv{
//  padding: 3%;
//  height: 100%;
//  .header {
//    font-family: Poppins-Regular;
//    font-style: normal;
//    font-weight: 500;
//    font-size: 25px;
//    line-height: 37px;
//    letter-spacing: 0.05em;
//    text-transform: uppercase;
//    color: #555555;
//  }
//
//  .download-btn {
//    background: #FF4757;
//    font-family: Poppins-Regular;
//    font-style: normal;
//    font-weight: 500;
//    font-size: 16px;
//    line-height: 24px;
//    letter-spacing: 0.05em;
//    text-transform: uppercase;
//    color: #FFFFFF;
//    border-radius: 2px;
//    width: 211px;
//    Height: 49px;
//  }
//
//}
.uploade-csv-container {
  padding: 0 30px;

  .title_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

    .header-component{
      font-family: 'Poppins';
      font-size: 25px;
      padding: 0;
      color: #555555;
      border: 0;
    }
    .download-btn {
      background: #FF4757;
      font-family: 'Poppins';
      letter-spacing: 0.05em;
      color: #FFFFFF;
    }
    .btn {

      &:focus {
        outline: none !important;
      }
    }
  }

  .drop-box {
    margin: 40px 0 50px;
    padding: 60px;
    background: rgba(0, 106, 255, 0.02);
    border: 1px dashed #006AFF;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .upload-img{
    }

    .file-input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 462px;
      height: 472px;
      top: 60px;

    }
    .add-manually {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FAFCFF;
      background: rgba(88, 88, 191, 0.9);
      border: 0;
      margin-top: 3rem;
      margin-bottom: 2rem;
      width: 445px;
      height: 60px;
    }
    .footer-csv {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #006AFF;
    }
  }
}


