<!--<div class="uploade-csv">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-6">-->
<!--       <a class="header">UPLOAD PROPERTY DATA</a>-->
<!--    </div>-->
<!--    <div class="col-sm-6">-->
<!--      <div class="float-right">-->
<!--        <a class="download-btn">DOWNLOAD CSV</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="drop-box">-->
<!--    <img src="assets/img/CSV.svg" alt="upload CSV" class="upload-img" />-->
<!--    <input type="file" class="file-input" />-->
<!--    <button class="add-manually">Add Manually</button>-->
<!--    <a class="footer-csv text-center">dRAG AND UPLOAD cSV</a>-->
<!--  </div>-->
<!--</div>-->
<div class="uploade-csv-container">
  <div class="title_btn">
    <a class="btn header-component">UPLOAD PROPERTY DATA</a>
    <a class="btn download-btn" (click)="downloadCSV()">DOWNLOAD CSV</a>
  </div>
  <!-- <div class="header">
    <a class="left-txt">UPLOAD PROPERTY DATA</a>
    <a class="download-btn" (click)="downloadCSV()">DOWNLOAD CSV</a>
  </div> -->
  <div class="drop-box">
    <img src="assets/img/CSV.svg" alt="upload CSV" class="upload-img" />
    <input type="file" class="file-input" />
    <button class="add-manually" (click)="navigateTo()">Add Manually</button>
    <a class="footer-csv text-center">dRAG AND UPLOAD cSV</a>
  </div>
</div>
