<div class="shadow text-theme border pl-3 pb-0 pr-3 pt-2 communication">
  <ng-container *ngIf="!overrideText">
    <h6 class="text-center mb-2" *ngIf="zoomParticipantEnum.CUSTOMER == zoomParticipant">Meeting with Customer</h6>
    <h6 class="text-center mb-2" *ngIf="zoomParticipantEnum.VENDOR == zoomParticipant">Meeting with Vendor</h6>
    <h6 class="text-center mb-2" *ngIf="zoomParticipantEnum.ADMIN == zoomParticipant">Meeting with 3Diligent</h6>
  </ng-container>

  <ng-container *ngIf="overrideText">
    <h6 class="text-center mb-2">{{ overrideText }}</h6>
  </ng-container>

  <div class="methods d-flex justify-content-center align-items-center">
    <ng-container *ngIf="allowNotes && zoomAttachingUserId">
      <app-chat
        [vendorId]="user.id"
        [id]="chatAttachingId"
        [type]="chatType"
        [value]="chat"
        [participants]="zoomAttachingUserId ? [zoomAttachingUserId] : []"
        [chatParticipant]="zoomParticipant"
        (valueChange)="chat = $event"
      >
      </app-chat>
    </ng-container>
    <div class="shadow p-1 mr-3 ml-3 text-center zoom-details">
      <p class="m-0">
        Meeting Time
      </p>
      <p
        class="m-0 font-weight-bold text-theme-green time"
        [ngClass]="{ 'theme-grey': conference?.isExpired, underline: conference?.startTime && !conference?.isExpired }"
      >
        <a
          *ngIf="conference?.startTime"
          [href]="
            user?.id == conference?.hostUserId
              ? conference?.videoConferenceLinkForHost
              : conference?.videoConferenceLinkForParticipant
          "
          target="_blank"
        >
          {{ conference?.startTime | date: 'short' }}
        </a>
        <span *ngIf="!conference?.startTime" class="grey">
          -
        </span>
      </p>
    </div>

    <div *ngIf="allowScheduling" class="shadow zoom-controls text-theme-green">
      <span (click)="openDateTimeSelector()" class="text-green text-btn icon p-2"
        ><i class="far fa-calendar-alt"></i>
      </span>
    </div>

    <div *ngIf="!allowScheduling" class="empty"></div>
  </div>

  <input
    readonly
    #dateTimeSelector
    [owlDateTime]="dt1"
    [owlDateTimeTrigger]="dt1"
    [(ngModel)]="startTime"
    [ngModelOptions]="{ standalone: true }"
    (ngModelChange)="onTimeChanged($event)"
  />

  <owl-date-time #dt1> </owl-date-time>
</div>
