<div class="center-container login-background">
    <div class="wrapper shadow wrapper shadow col-12 col-sm-12 col-md-8 col-lg-6" style="max-width: 420px;background: white;">
      <div style="width: 100%; padding-top: 60px; padding-bottom: 40px;display: flex; justify-content: center">
        <div class="d-flex flex-column logo" style="width: 230px">
          <img src="assets/image/blue-logo.png" width="230px" alt="3Diligent Logo">
          <span>Shop Management</span>
        </div>
      </div>
      <div class="col-10 offset-1">
        <p class="registered-notification">
          Now you are registered
        </p>
        <p class="registered-check">
          <i class="far fa-check-circle"></i>
        </p>
        <p style="text-align: center" class="admin-notification">
          Our administrator will contact you if your application
          is approved.
        </p>
      </div>
      <div class="register" align="center">
        <span class='no-member-label'>Come back to the <a href='/login'><span class="join">Login Page</span></a></span>
      </div>
    </div>
  </div>
  <app-footer-menu ></app-footer-menu>
  