<div class="wrapper shadow">
  <div *ngIf="error.length>1" class="alert alert-danger" role="alert">
    {{error}}
  </div>

  <div class="title-bar">
      <!-- Equipment name – Material name – Parameter set nick name -->
    <h4>{{equipmentName}}<span *ngIf="equipmentName.length"> - </span>{{materialName}}<span *ngIf="materialName.length"> - </span>{{parameterNickName}}</h4>
    <!-- parameter details -->
    <span>{{parameterDetails}}</span>
  </div>
  <form [formGroup]="form" novalidate class="needs-validation" (submit)="save($event)">
    <div class="form-row">
    </div>

    <div class="form-row">

      <div class="form-group theme col">
        <label for="equipment">Equipment</label>
        <ng-select (change)="equipmentChanged()" #equipmentInput placeholder="Add Equipment" loadingText="Searching..."
          [multiple]="false" dropdownPosition="bottom" [virtualScroll]=" true" [hideSelected]="true"
          [selectOnTab]="true" formControlName="equipment">
          <ng-option *ngFor="let item of equipments" [value]="item.id">{{item.equipment.name}}</ng-option>
        </ng-select>
        <span *ngIf="submitClicked&& !getEquipment().length" class="footnote red">* Required</span>
        <span *ngIf="!equipments.length" class="footnote red">*You need to add machines in <a
            class="link font-weight-bold" href="profile/vendor/machines">here</a> </span>
      </div>


      <div class="form-group theme col">
        <label for="material">Material</label>
        <ng-select #materialInput (change)="materialChanged()" placeholder="Add Materials" loadingText="Searching..."
          [multiple]="true" dropdownPosition="bottom" [virtualScroll]=" true" [hideSelected]="true" [selectOnTab]="true"
          formControlName="materialList">
          <ng-option *ngFor="let item of materials" [value]="item.id">{{item.material.name}}</ng-option>
        </ng-select>
        <span *ngIf="submitClicked && !getMaterials().length" class="footnote red">* Required</span>
        <span *ngIf="!equipments.length" class="footnote red">*You need to add machines in <a
            class="link font-weight-bold" href="profile/vendor/machines">here</a> </span>
      </div>

    </div>
    <!-- Process Parameters -->

    <div class="tab-container card">

      <div class="card-header">
        <div class="menu-item active" [ngClass]="{'error':tabErrors.processParameter}">
          Process Parameters
        </div>
      </div>

      <div id="conditionLabel" class="conditions">
        <div class="form-group nickname theme col">
          <label for="parameterNickName">Parameter Set Nickname (optional)</label>
          <input type="text" formControlName="parameterNickName" class="form-control" id="parameterNickName"
            name="parameterNickName" placeholder="Process Set Nickname (optional)">
          <!-- <span class="footnote">* If left blank, we will auto-generate one for you.</span> -->
        </div>

        <div class="info-bar">
          <p>
            Enter the parameters you will use for the manufacturing process
          </p>
          <div class="default">
            <span class="add" (click)="addCondition('processParameterList')">
              <i class="fas fa-plus"></i>
            </span>
          </div>
        </div>

        <div class="condition-wrapper">
          <!-- <span>
              If
            </span> -->

          <div class="input-wrapper">

            <div *ngFor="let item of selectedProcessParameterList; let index = index" class="form-row">
              <div class="form-group theme col-md-3">
                <select required id="name" name="name"
                  [(ngModel)]="selectedProcessParameterList[index].processParameterType.id"
                  (ngModelChange)="onPropertyChange(selectedProcessParameterList[index].processParameterType.id, index,'Process Parameters')"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of filteredProcessParameterList" [value]="item.id">{{item.name}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3">
                <select [disabled]="selectedProcessParameterList[index].processParameterType.id.length == 0" required
                  id="condition" name="condition" [(ngModel)]="selectedProcessParameterList[index].operatorType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of selectedProcessParameterList[index].operandTypeList" [value]=" item.id">
                    {{item.symbol}}</option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3">
                <input [disabled]="selectedProcessParameterList[index].processParameterType.id.length == 0" required
                  type="number" step="0.00001" maxlength="5" min="0" max="99999"
                  [(ngModel)]="selectedProcessParameterList[index].value" [ngModelOptions]="{standalone: true}"
                  class="form-control" id="value" name="value" placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3 icon-attached">
                <div>

                  <select [disabled]="selectedProcessParameterList[index].processParameterType.id.length == 0" required
                    id="condition" name="condition" [(ngModel)]="selectedProcessParameterList[index].unitType.id"
                    [ngModelOptions]="{standalone: true}" class="form-control">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let item of selectedProcessParameterList[index].units" [value]="item.id">
                      {{item.displayName}}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Required.
                  </div>
                </div>

                <span *ngIf="index !== 0" class="minus" (click)="removeCondition(index, 'processParameterList')">
                  <i class="fas fa-minus"></i>
                </span>

                <span *ngIf="index === 0" class="minus invisible"
                  (click)="removeCondition(index,'processParameterList')">
                  <i class=""></i>
                </span>
              </div>

            </div>


            <div *ngIf="selectedProcessParameterList.length > 5" class="default">
              <span class="add" (click)="addCondition()">
                <i class="fas fa-plus"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End of Process Parameters -->




    <!-- Dimensional Property & Material Characteristics -->
    <div class="tab-container card">

      <div class="card-header">
        <div class="menu-item"
          [ngClass]="{'active': activeTab == 'processDimensionalPropertyList', 'error':tabErrors.processDimensionalProperty}"
          (click)="toggleTab('processDimensionalPropertyList', 'Process Dimensional Properties')">Process Dimensional
          Properties</div>
        <span class=" separator"></span>
        <div class="menu-item"
          [ngClass]="{'active': activeTab == 'processMaterialCharacteristicList', 'error':tabErrors.processMaterialCharacteristic}"
          (click)="toggleTab('processMaterialCharacteristicList','Process Material Characteristics')">
          Process Material Characteristics</div>
      </div>

      <div id="conditionLabel" class="conditions">

        <div class="info-bar">
          <p *ngIf="activeTab == 'processDimensionalPropertyList'">
            Enter the dimensional characteristics that will result from the process. Please note that max/min values
            are
            required inputs for any work for customers specifying specific dimensional characteristics
          </p>
          <p *ngIf="activeTab == 'processMaterialCharacteristicList'">
            Material Characteristics: Enter the material properties that will result from he process. Please note that
            max/min values are required inputs for any work for customers specifying specific material
            characteristics.
          </p>
          <div class="default">
            <span class="add" (click)="addCondition()">
              <i class="fas fa-plus"></i>
            </span>
          </div>
        </div>
        <!-- Process Dimensional Properties -->
        <div class="condition-wrapper d-none" [class.d-block]="activeTab == 'processDimensionalPropertyList'">

          <div class="input-wrapper">

            <div *ngFor="let item of selectedProcessDimensionalPropertyList; let index = index" class="form-row">

              <div class="form-group theme col-md-3">
                <select required id="name" name="name"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id"
                  (ngModelChange)="onPropertyChange(selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id, index,'Process Dimensional Properties')"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of processDimensionalPropertyList" [value]="item.id">
                    {{item.name}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3">
                <select
                  [disabled]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id.length == 0"
                  required id="condition" name="condition"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].operatorType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of selectedProcessDimensionalPropertyList[index].operandTypeList"
                    [value]="item.id">
                    {{item.symbol}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>


              <div class="form-group theme col-md-3">
                <input
                  [disabled]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id.length == 0"
                  required type="number" step="0.00001" maxlength="5" min="0" min="0" max="99999"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].value"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="value" name="value"
                  placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3 icon-attached">

                <div>
                  <select
                    [disabled]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id.length == 0"
                    required id="condition" name="condition"
                    [(ngModel)]="selectedProcessDimensionalPropertyList[index].unitType.id"
                    [ngModelOptions]="{standalone: true}" class="form-control">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let item of selectedProcessDimensionalPropertyList[index].units" [value]="item.id">
                      {{item.displayName}}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Required.
                  </div>

                </div>
                <span class="minus" (click)="removeCondition(index)">
                  <i class="fas fa-minus"></i>
                </span>
              </div>

            </div>

            <div *ngIf="selectedProcessDimensionalPropertyList.length > 5" class=" default">
              <span class="add" (click)="addCondition()">
                <i class="fas fa-plus"></i>
              </span>

              <!-- <span *ngIf="'processParameterList' != activeTab" class="icon" data-toggle="tooltip"
                data-placement="right" title="short desc of what default values mean">
                <i class="fas fa-question-circle"></i>
              </span>
              <span *ngIf="'processParameterList' != activeTab" data-toggle="modal" class="label"
                data-target="#exampleModalCenter">Default
                Values</span> -->
            </div>

          </div>

        </div>
        <!-- End of Process Dimensional Properties -->

        <!-- Process Material Characteristics -->
        <div class="condition-wrapper d-none" [class.d-block]="activeTab == 'processMaterialCharacteristicList'">
          <!-- <span>
            If
          </span> -->

          <div class="input-wrapper">

            <div *ngFor="let item of selectedProcessMaterialCharacteristicList; let index = index" class="form-row">

              <div class="form-group theme col-md-3">
                <select required id="name" name="name"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id"
                  (ngModelChange)="onPropertyChange(selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id, index,'Process Material Characteristics')"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of processMaterialCharacteristicList" [value]="item.id">
                    {{item.name}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3">
                <select
                  [disabled]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id.length == 0"
                  required id="condition" name="condition"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].operatorType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of selectedProcessMaterialCharacteristicList[index].operandTypeList"
                    [value]="item.id">
                    {{item.symbol}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>


              <div class="form-group theme col-md-3">
                <input
                  [disabled]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id.length == 0"
                  required type="number" step="0.00001" maxlength="5" min="0" min="0" max="99999"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].value"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="value" name="value"
                  placeholder="Value">
                <div class="invalid-feedback">
                  Required.
                </div>
              </div>

              <div class="form-group theme col-md-3 icon-attached">
                <div>
                  <select
                    [disabled]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id.length == 0"
                    required id="condition" name="condition"
                    [(ngModel)]="selectedProcessMaterialCharacteristicList[index].unitType.id"
                    [ngModelOptions]="{standalone: true}" class="form-control">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let item of selectedProcessMaterialCharacteristicList[index].units"
                      [value]="item.id">
                      {{item.displayName}}
                    </option>
                  </select>

                  <div class="invalid-feedback">
                    Required.
                  </div>

                </div>
                <span class="minus" (click)="removeCondition(index)">
                  <i class="fas fa-minus"></i>
                </span>
              </div>

            </div>


            <div *ngIf="selectedProcessMaterialCharacteristicList.length > 5" class="default">
              <span class="add" (click)="addCondition()">
                <i class="fas fa-plus"></i>
              </span>

              <!-- <span *ngIf="'processParameterList' != activeTab" class="icon" data-toggle="tooltip"
                data-placement="right" title="short desc of what default values mean">
                <i class="fas fa-question-circle"></i>
              </span>
              <span *ngIf="'processParameterList' != activeTab" data-toggle="modal" class="label"
                data-target="#exampleModalCenter">Default
                Values</span> -->
            </div>
          </div>

        </div>
        <!-- End of Process Material Characteristics -->
      </div>
    </div>

    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button [disabled]="!submitActive" type="submit" class="btn btn-primary theme">Save</button>
      </div>

    </div>
  </form>
</div>



<!-- Modal -->
<div class="modal fade default-value-modal" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-center theme" id="exampleModalLongTitle">Default Values for {{activeTabName}}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of defaultValues[activeTab]">
              <td>{{item.name}}</td>
              <td>{{item.value}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer row">
        <div class="offset-sm-8">
          <button #closeModal type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary theme" (click)="applyDefaults()">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
