<div class="wrapper shadow">

  <form [formGroup]="form" novalidate class="needs-validation" (submit)="save($event)">
    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="processProfileName">Process Profile Name</label>
        <input type="text" formControlName="processProfileName" class="form-control" id="processProfileName"
          name="processProfileName" placeholder="Process Profile Name">
        <span class="footnote">* If left blank, we will auto-generate one for you.</span>
      </div>

      <div class="form-group theme col-md-6">
        <label for="equipment">Equipment</label>
        <ng-select #equipmentInput (change)="clearStore()" (keyup)="onEquipmentSearch($event)"
          placeholder="Add Equipment" loadingText="Searching..." [multiple]="false" [loading]="isEquipmentLoading"
          dropdownPosition="bottom" [virtualScroll]=" true" [hideSelected]="true" [selectOnTab]="true"
          formControlName="equipment" [items]="equipments" bindValue="id" bindLabel="name">
        </ng-select>
        <span class="footnote">* Required</span>
      </div>
    </div>
    <div class="form-row">


      <div class="form-group theme col">
        <label for="material">Material</label>
        <ng-select #materialInput (change)="clearStore()" (keyup)="onMaterialSearch($event)" placeholder="Add Materials"
          loadingText="Searching..." [loading]="isMaterialLoading" [multiple]="true" dropdownPosition="bottom"
          [virtualScroll]=" true" [hideSelected]="true" [selectOnTab]="true" formControlName="material">
          <ng-option *ngFor="let item of materials" [value]="item.id">{{item.name}}</ng-option>
        </ng-select>
        <span class="footnote">* Required</span>
      </div>

    </div>


    <!--  -->
    <div class="tab-container card">

      <div class="card-header">
        <div class="menu-item" [class.active]="activeTab == 'processParameterList'"
          (click)="toggleTab('processParameterList','Process Parameters')">
          Process Parameters</div>
        <span class="separator"></span>
        <div class="menu-item" [class.active]="activeTab == 'processDimensionalPropertyList'"
          (click)="toggleTab('processDimensionalPropertyList', 'Process Dimensional Properties')">Process Dimensional
          Properties</div>
        <span class=" separator"></span>
        <div class="menu-item" [class.active]="activeTab == 'processMaterialCharacteristicList'"
          (click)="toggleTab('processMaterialCharacteristicList','Process Material Characteristics')">
          Process Material Characteristics</div>
      </div>

      <div id="conditionLabel" class="conditions">

        <div class="default">
          <span class="add" (click)="addCondition()">
            <i class="fas fa-plus"></i>
          </span>

          <span *ngIf="'processParameterList' != activeTab" class="icon" data-toggle="tooltip" data-placement="right"
            title="short desc of what default values mean">
            <i class="fas fa-question-circle"></i>
          </span>
          <span *ngIf="'processParameterList' != activeTab" data-toggle="modal"
            data-target="#exampleModalCenter">Default
            Values</span>
        </div>

        <!-- Process Parameters -->
        <div *ngIf="activeTab == 'processParameterList'" class="condition-wrapper">
          <!-- <span>
            If
          </span> -->

          <div class="input-wrapper">

            <div *ngFor="let item of selectedProcessParameterList; let index = index" class="form-row">
              <div class="form-group theme col-md-3">
                <select required id="name" name="name"
                  [(ngModel)]="selectedProcessParameterList[index].processParameterType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of processParameterList.conditionNames" [value]="item.id">{{item.name}}
                  </option>
                </select>
              </div>

              <div class="form-group theme col-md-3">
                <select required id="condition" name="condition"
                  [(ngModel)]="selectedProcessParameterList[index].operatorType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of processParameterList.conditions" [value]="item.id">{{item.name}}</option>
                </select>
              </div>

              <div class="form-group theme col-md-3">
                <input required type="text" [(ngModel)]="selectedProcessParameterList[index].value"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="value" name="value"
                  placeholder="Value">
              </div>

              <div class="form-group theme col-md-3 icon-attached">
                <input required type="text" [(ngModel)]="selectedProcessParameterList[index].unitType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="unit" name="unit" placeholder="Unit">

                <span class="minus" (click)="removeCondition(index)">
                  <i class="fas fa-minus"></i>
                </span>
              </div>

            </div>

          </div>

          <!-- <span class="minus" (click)="addCondition('processDimensionalPropertyList')">
            <i class="fas fa-minus"></i>
          </span> -->


        </div>

        <!-- End of Process Parameters -->

        <!-- Process Dimensional Properties -->
        <div *ngIf="activeTab == 'processDimensionalPropertyList'" class="condition-wrapper">
          <!-- <span>
            If
          </span> -->

          <div class="input-wrapper">

            <div *ngFor="let item of selectedProcessDimensionalPropertyList; let index = index" class="form-row">

              <div class="form-group theme col-md-3">
                <select required id="name" name="name"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].processDimensionalPropertyType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of processDimensionalPropertyList.conditionNames" [value]="item.id">
                    {{item.name}}
                  </option>
                </select>
              </div>

              <div class="form-group theme col-md-3">
                <select required id="condition" name="condition"
                  [(ngModel)]="selectedProcessDimensionalPropertyList[index].operatorType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of processDimensionalPropertyList.conditions" [value]="item.id">{{item.name}}
                  </option>
                </select>
              </div>

              <div class="form-group theme col-md-3">
                <input required type="text" [(ngModel)]="selectedProcessDimensionalPropertyList[index].value"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="value" name="value"
                  placeholder="Value">
              </div>

              <div class="form-group theme col-md-3 icon-attached">
                <input required type="text" [(ngModel)]="selectedProcessDimensionalPropertyList[index].unitType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="unit" name="unit" placeholder="Unit">

                <span class="minus" (click)="removeCondition(index)">
                  <i class="fas fa-minus"></i>
                </span>
              </div>

            </div>

          </div>

        </div>
        <!-- End of Process Dimensional Properties -->

        <!-- Process Material Characteristics -->
        <div *ngIf="activeTab == 'processMaterialCharacteristicList'" class="condition-wrapper">
          <!-- <span>
            If
          </span> -->

          <div class="input-wrapper">

            <div *ngFor="let item of selectedProcessMaterialCharacteristicList; let index = index" class="form-row">

              <div class="form-group theme col-md-3">
                <select required id="name" name="name"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].processMaterialCharacteristicType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of processMaterialCharacteristicList.conditionNames" [value]="item.id">
                    {{item.name}}
                  </option>
                </select>
              </div>

              <div class="form-group theme col-md-3">
                <select required id="condition" name="condition"
                  [(ngModel)]="selectedProcessMaterialCharacteristicList[index].operatorType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let item of processMaterialCharacteristicList.conditions" [value]="item.id">
                    {{item.name}}
                  </option>
                </select>
              </div>

              <div class="form-group theme col-md-3">
                <input required type="text" [(ngModel)]="selectedProcessMaterialCharacteristicList[index].value"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="value" name="value"
                  placeholder="Value">
              </div>

              <div class="form-group theme col-md-3 icon-attached">
                <input required type="text" [(ngModel)]="selectedProcessMaterialCharacteristicList[index].unitType.id"
                  [ngModelOptions]="{standalone: true}" class="form-control" id="unit" name="unit" placeholder="Unit">

                <span class="minus" (click)="removeCondition(index)">
                  <i class="fas fa-minus"></i>
                </span>
              </div>

            </div>

          </div>

        </div>
        <!-- End of Process Material Characteristics -->
      </div>
    </div>

    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>

    </div>
  </form>
</div>



<!-- Modal -->
<div class="modal fade default-value-modal" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-center theme" id="exampleModalLongTitle">Default Values for {{activeTabName}}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of defaultValues[activeTab]">
              <td>{{item.name}}</td>
              <td>{{item.value}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer row">
        <div class="offset-sm-8">
          <button #closeModal type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary theme" (click)="applyDefaults()">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
