<div class="wrapper shadow">

  <form novalidate class="needs-validation">
    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="processProfileName">Process Profile Name</label>
        <input required type="text" [(ngModel)]="form.processProfileName" class="form-control" id="processProfileName"
          name="processProfileName" placeholder="Machine Name">
      </div>

      <div class="form-group theme col-md-6">
        <label for="equipment">Equipment Name</label>
        <select required id="equipment" name="equipment" [(ngModel)]="form.equipment" class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of equipments" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">


      <div class="form-group theme col-md-6">
        <label for="materialName">Material Name</label>
        <select required id="materialName" name="materialName" [(ngModel)]="form.materialName" class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of materials" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>


    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>

    </div>
  </form>
</div>
