.banner {
  width: 100%;
  height: 366px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("src/assets/img/features-add.svg");
}

.features-container {
  .feature-img {
    object-fit: cover;
  }
  .ad-img {
    width: 100%;
    height: 20%;
    margin: 0 0 30px 0;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  }
  .main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 58px
  }
  .shadow-effort {
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(192, 192, 192, 0.25);
    border-radius: 3px;
  }
  .content-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 422px;
    .img{
      margin: 17px 0 0 0;
    }
  }
  .item-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #4E82F9;
    margin: 15px 0;
  }
  .item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 141.4%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #565656;
  }

  .video-player{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .txt-foot {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 10px 0;
  }
}
