<app-pre-header></app-pre-header>
<div class="banner">
  <h1 class="banner_head">Pricing Meter: The Platform for Real Estate Agents</h1>
  <h4 class="banner_subhead">Always know the true market value of your clients’ properties.</h4>
</div>

<div class="features-container">
  <h2 class="sec_head">Our Products</h2>
  <div class="main-content">
    <div class="content-item">
      <img src="assets/img/smartphone.svg" class="img">
      <h3>Pricing Meter</h3>
      <p>Our Pricing Meter shows you and your clients the true market value of all properties. Backed by a collected dataset, you are able to present valuable information in your agency’s design.</p>
    </div>
    <div class="content-item">
      <img src="assets/img/spline-chart.svg" class="img">
      <h3>Property Management</h3>
      <p>Store all your managed properties and clients in one place. In addition, you can invite all of your team members to view and manage properties within Pricing Meter.</p>
    </div>
    <div class="content-item">
      <img src="assets/img/lens.svg" class="img">
      <h3>Client Communication</h3>
      <p>No more calling around and sending countless mails. With two clicks, you can update your clients on any developments of their property.</p>
    </div>
  </div>
</div>
<div class="video-player">
  <h2 class="sec_head">Our Features</h2>
  <div class="video_bg">
    <a href="#" class="video_btn"><img src="assets/img/play_btn.svg" alt="btn"></a>
  </div>
</div>
<app-footer></app-footer>
