<app-pre-header></app-pre-header>
<div class="banner"></div>

<div class="features-container">
  <h2 class="sec_head">Our Components</h2>
  <div class="main-content">
    <div class="content-item">
      <img src="assets/img/smartphone.svg" class="img">
      <h3>Lorem Ipsum</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
    </div>
    <div class="content-item">
      <img src="assets/img/spline-chart.svg" class="img">
      <h3>Lorem Ipsum</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
    </div>
    <div class="content-item">
      <img src="assets/img/lens.svg" class="img">
      <h3>Lorem Ipsum</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
    </div>
  </div>
</div>
<div class="video-player">
  <h2 class="sec_head">Our Features</h2>
  <div class="video_bg">
    <a href="#" class="video_btn"><img src="assets/img/play_btn.svg" alt="btn"></a>
  </div>
</div>
<app-footer></app-footer>
