<div class="container-fluid features-container">
  <div class="feature-img">
    <img src="assets/img/features-add.svg" class="ad-img">
  </div>
  <div class="main-content">
    <div class="content-item shadow-effort">
      <img src="assets/img/smartphone.svg" class="img">
      <h3 class="item-title">Lorem Ipsum</h3>
      <p class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
    </div>
    <div class="content-item shadow-effort">
      <img src="assets/img/spline-chart.svg" class="img">
      <h3 class="item-title">Lorem Ipsum</h3>
      <p class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
    </div>
    <div class="content-item shadow-effort">
      <img src="assets/img/lens.svg" class="img">
      <h3 class="item-title">Lorem Ipsum</h3>
      <p class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
    </div>
  </div>
  <div class="video-player">
    <h3 class="txt-foot">Our Features</h3>
    <img src="assets/img/tail-video.svg">
  </div>
</div>
