.wrapper {
  /* width: 220px; */
  background: white;
}

.tabs {
  margin-bottom: 10px;
  color: var(--theme-light-green);
  font-size: 19px;
  text-align: center;
  height: 36px;
}

.tabs div {
  padding: 3px 5px;
}

.tabs div:hover {
  cursor: pointer;
}

.tabs div.active {
  background: var(--theme-light-green);
  color: white;
}

.input input {
  font-size: 12px;
  border-radius: 0px;
  border-color: rgb(239, 239, 239);
  /* padding-bottom: 20px; */
}

.column-container {
  /* height: 295px; */
  overflow-y: auto;
  overflow-x: hidden;
}

.column-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  background-color: #f5f5f5;
} 
.column-container::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
} 
.column-container::-webkit-scrollbar-thumb {
  
  background-color: var(--theme-secondary-blue);
} 


.column-container .name,
.column-container .column-name span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.column-container .column-name {
  font-size: 14px;
  color: var(--theme-secondary-blue);
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0px 8px;
}

.column-container .icon {
  color: var(--theme-light-green);
  font-size: 22px;
}

.column-container .space {
  height: 10px;
}

.column-container .icon:hover {
  cursor: pointer;
}

.search,
.filter {
  padding-bottom: 10px;
}

.search .column-container .column-name .name {
  padding-top: 6px;
}

.search .column-container .options div {
  margin-bottom: 5px;
  /* width: 80%; */
}

.search .column-container .options select {
  font-size: 12px;
  height: 35px;
}

.search .column-container .options,
.search .column-container .query {
  width: 100%
}

.search .column-container .query input {
  font-size: 11px;
  height: 35px;
}

@media(max-width: 768px) {
  .column-container .column-name {
    font-size: 12px;
  }
}
