<div class=" wrapper shadow">

  <div class="container">

    <div class="row tabs">
      <div *ngIf="activeTab == 'search' || showBothTab" class="col" (click)="toggleTab('search')"
        [class.active]="activeTab == 'search'"><i class="fas fa-filter"></i></div>
      <div *ngIf="activeTab == 'filter' || showBothTab" class="col" (click)="toggleTab('filter')"
        [class.active]="activeTab == 'filter'"><i class="fas fa-columns"></i></div>
    </div>

    <!-- Column Filter -->
    <div class="filter" *ngIf="activeTab == 'filter'">
      <div class="form-row input">

        <div class="form-group theme col">
          <input required type="text" class="form-control shadow" id="search_query" name="search_query"
            placeholder="Columns" (keyup)="search($event, 'filter')">
        </div>

      </div>

      <div class="column-container">

        <div class="row" *ngFor="let column of filterColumnsClone; let index=index">
          <div class="col-sm-2">
            <span class="icon" *ngIf="column.checked" (click)="toggleCheck(index, 'filter')">
              <i class="fas fa-check-square"></i>
            </span>

            <span class="icon" *ngIf="!column.checked" (click)="toggleCheck(index, 'filter')">
              <i class="far fa-check-square"></i>
            </span>
          </div>

          <div class="col-sm-10 column-name">{{column.name}}</div>

        </div>


      </div>
    </div>

    <!-- Search -->
    <div class="search" *ngIf="activeTab == 'search'">
      <div class="form-row input">

        <div class="form-group theme col">
          <input required type="text" class="form-control shadow" id="search_query" name="search_query"
            placeholder="Search" (keyup)="search($event, 'search')">
        </div>

      </div>

      <div class="column-container">

        <div class="row" *ngFor="let column of searchColumnsClone; let index=index">
          <div class="col-sm-2">
            <span class="icon" *ngIf="column.checked" (click)="toggleCheck(index, 'search')">
              <i class="fas fa-check-square"></i>
            </span>

            <span class="icon" *ngIf="!column.checked" (click)="toggleCheck(index, 'search')">
              <i class="far fa-check-square"></i>
            </span>
          </div>

          <div class="col-sm-10 column-name">
            <div class="container-fluid">

              <span class="row name" (click)="toggleQueryField(index)">{{column.name}}</span>
              <span class="row options" *ngIf="column.checked">

                <div class="form-group ">
                  <select required id="option" [(ngModel)]="searchColumns[column.id].query.type" name="option"
                    class="form-control">
                    <option selected value="">Choose...</option>
                    <option *ngFor="let option of options" [value]="option">{{option}}</option>
                  </select>
                </div>
              </span>

              <span class="row query" *ngIf="column.checked">
                <div class="form-group">
                  <input required type="text" class="form-control"
                    [(ngModel)]="searchColumns[column.id].query.queryString" id="search_query" name="search_query"
                    placeholder="Columns">
                </div>
              </span>

            </div>
          </div>
        </div>
      </div>


    </div>



  </div>
