.footer {
  padding: 14px 20px;
  background: white;
}
.footer-menu {
  min-width: 150px;
}
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.light-green-color {
  color: #89d818 !important;
}
