.button-wrapper {
  height: 90px;
  background: white;
  color: var(--theme-dark-blue-opaque);
  display: flex;
  align-items: center;
  padding: 0px 40px;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.wrapper {
  height: 100%;
  min-height: 70vh;
  background: white;
  border-radius: 4px;
  padding: 20px 40px 40px 40px;
  display: flex;
  justify-content: space-between;
}

.table-control {
  width: 220px;
  height: auto;
  margin-top: 26px;
  margin-right: 10px;
}

.table {
  margin-top: 25px;
  width: 100%;
  height: auto;
  position: relative;
}

.controls span:hover,
.link-cell:hover {
  cursor: pointer;
  font-weight: bold;
}

.subscription-cell {
  color: var(--theme-bright-blue);
  cursor: pointer;
}

::ng-deep .vendors-modal .modal-dialog {
  max-width: 1353px !important;
  height: 100vh;
}

::ng-deep .vendors-modal app-approve-vendor > div.wrapper {
  height: 100vh;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 40px 20px;
  }
}
