<div class="wrapper shadow">

  <form [formGroup]="facilityItem" novalidate class="needs-validation" (submit)="save($event)">
    <div class="form-row">

      <div class="form-group theme col">
        <label for="facility_name">Facility Name</label>
        <input required type="text" formControlName="name" class="form-control" id="facility_name" name="facility_name"
          placeholder="Facility Name">
      </div>
    </div>
    <div class="form-row">

      <div class="form-group theme col-md-6">
        <label for="email">Email</label>
        <input required type="email" formControlName="email" class="form-control" id="email" name="email"
          placeholder="Email">
      </div>

      <div class="form-group theme col-md-6 phone">
          <label>Phone</label>
          <international-phone-number formControlName="phone" placeholder="Enter phone number"
            [defaultCountry]="'us'"
            [required]="true" name="phone_number" ></international-phone-number>
          <div class='phone-number-error' *ngIf="facilityItem.controls.phone.status === 'INVALID' && facilityItem.submitted">phone number is not valid.</div>
        </div>

    </div>

    <div class="form-row">
      <div class="form-group theme col">
        <label>Street 1</label>
        <input required formControlName="street1" class="form-control" name="street1" id="street1"
          placeholder="1234 Main St">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Street 2</label>
        <input required formControlName="street2" class="form-control" name="street2" id="street2"
          placeholder="1234 Main St">
      </div>
      <div class="form-group theme col-md-6">
        <label>Zip</label>
        <input required formControlName="zipCode" class="form-control" name="zipCode" id="zipCode"
          placeholder="Zip Code" pattern="^[0-9\s]{5}$">
      </div>
    </div>

    <div class="form-row">

      <div class="form-group theme col-md-3">
        <label for="city">City</label>
        <input required type="text" formControlName="city" class="form-control" id="city" name="city">
      </div>

      <div class="form-group theme col-md-3">
        <label for="state">State</label>
        <input required type="text" formControlName="state" class="form-control" id="state" name="state">
      </div>

      <div class="form-group theme col-md-6">
        <label for="country">Country</label>
        <select required id="country" name="country" formControlName="country" class="form-control">
          <option selected value="">Choose...</option>
          <option *ngFor="let item of countries" [value]="item.name">{{item.name}}</option>
        </select>
      </div>

    </div>
    <div class="form-row">

      <div class="form-group theme col-md-12">
        <label for="certifications">Certifications</label>
        <ng-select [multiple]="true" dropdownPosition="bottom" [virtualScroll]="true" [hideSelected]="true"
          [selectOnTab]="true" [(ngModel)]="selectedCertifications" [ngModelOptions]="{standalone: true}">
          <ng-option *ngFor="let item of certifications" [value]="item.id">{{item.name}}</ng-option>
        </ng-select>
      </div>


    </div>

    <div class="row button-section">

      <div class="col-md-10 col-sm-8"></div>

      <div class="form-group col-md-2 col-sm-4">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>

    </div>
  </form>
</div>
