<div class="wrapper shadow">
  <div *ngIf="error.length>1" class="alert alert-danger" role="alert">
    {{error}}
  </div>
  <form [formGroup]="facilityItem" novalidate class="needs-validation" (submit)="save($event)">
    <div class="form-row">

      <div class="form-group theme col-md-12">
        <label for="facility_name">Facility Name</label>
        <input required type="text" formControlName="name" class="form-control" id="facility_name" name="facility_name"
          placeholder="Facility Name" />
        <span *ngIf="showRequired('name', 1)" class="footnote red">* Required</span>
      </div>

      
    </div>
    <div class="form-row">
      <div class="form-group theme col-md-3">
        <label>Primary Contact Name</label>
        <input required formControlName="primaryContactFirstName" class="form-control" placeholder="First Name" />
        <span *ngIf="showRequired('primaryContactFirstName', 1)" class="footnote red">* Required</span>
      </div>
      <div class="form-group theme col-md-3">
        <label> &nbsp; </label>
        <input required formControlName="primaryContactLastName" class="form-control" placeholder="Last Name" />
        <span *ngIf="showRequired('primaryContactLastName', 1)" class="footnote red">* Required</span>
      </div>
      <div class="form-group theme col-md-3">
        <label for="email">Email</label>
        <input required type="email" formControlName="email" class="form-control" id="email" name="email"
          placeholder="Email" />
        <span *ngIf="showRequired('email', 1)" class="footnote red">* Required</span>
      </div>

      <div class="form-group theme col-md-3 phone">
          <label>Phone</label>
          <international-phone-number *ngIf="!isNew" formControlName="phone" placeholder="Enter phone number"
            [required]="true" name="phone_number" ></international-phone-number>
          <international-phone-number *ngIf="isNew" formControlName="phone" placeholder="Enter phone number"
            [defaultCountry] = "'us'"
            [required]="true" name="phone_number" ></international-phone-number>
          <span *ngIf="showRequired('phone', 1)" class="footnote red">* Required</span>
        </div>

    </div>

    <div class="form-row">
      <div class="form-group theme col-md-6">
        <label>Street 1</label>
        <input required formControlName="street1" class="form-control" name="street1" id="street1"
          placeholder="1234 Main St" />
        <span *ngIf="showRequired('street1', 1)" class="footnote red">* Required</span>
      </div>
      <div class="form-group theme col-md-3">
        <label>Street 2</label>
        <input formControlName="street2" class="form-control" name="street2" id="street2"
          placeholder="1234 Main St" />
      </div>
      <div class="form-group theme col-md-3">
        <label for="city">City</label>
        <input required type="text" formControlName="city" class="form-control" id="city" name="city" />
        <span *ngIf="showRequired('city', 1)" class="footnote red">* Required</span>
      </div>
      
    </div>

    <div class="form-row">
      <div class="form-group theme col-md-3">
        <label for="state">State</label>
        <input required type="text" formControlName="state" class="form-control" id="state" name="state" />
        <span *ngIf="showRequired('state', 1)" class="footnote red">* Required</span>
      </div>
      <div class="form-group theme col-md-3">
        <label>Zip</label>
        <input required formControlName="zipCode" class="form-control" name="zipCode" id="zipCode"
          placeholder="Zip Code" pattern="^[0-9\s]{5}$" />
        <span *ngIf="showRequired('zipCode', 1)" class="footnote red">* Required</span>
      </div>

      <div class="form-group theme col-md-6">
        <label for="country">Country</label>
        <select required id="country" name="country" formControlName="country" class="form-control">
          <option selected value="0">Choose...</option>
          <option *ngFor="let item of countries" [value]="item.name">{{item.name}}</option>
        </select>
        <span *ngIf="showRequired('country', 2)" class="footnote red">* Required</span>
      </div>

    </div>
    <div class="form-row">

      <div class="form-group theme col-md-12">
        <label for="certifications">Certifications</label>
        <ng-select [multiple]="true" dropdownPosition="bottom" [virtualScroll]="true" [hideSelected]="true"
          [selectOnTab]="true" [(ngModel)]="selectedCertifications" [ngModelOptions]="{standalone: true}">
          <ng-option *ngFor="let item of certifications" [value]="item.id">{{item.name}}</ng-option>
        </ng-select>
      </div>


    </div>

    <div class="form-row">

      <div class="form-group theme upload-section">
        <label>Certification Documents</label>
        <div>
          <button type="button" class="btn btn-primary theme" (click)="onOpenFile($event)" style="width: 120px; margin-left: 15px;">
            <i class="fa fa-upload"></i>
            Upload
          </button>
        </div>
        <input type="file" name="file" (change)="onFileChange($event)" id="file" class="inputfile" 
          accept="application/pdf" />
      </div>
      <div style="flex-grow: 1">
        <ul class="uploaded_files">
          <li *ngFor="let item of certDocuments">
            <a href="{{item.name}}" target="_blank">
              <i class="fa {{item.saved? 'fa-check-circle': 'fa-question-circle-o'}}"></i>&nbsp;&nbsp; 
              <span [ngClass]="{'line-through': item.saved === 2 || item.saved === 3}">{{item.fileName}}</span>
            </a>
            <button class="close" type="button" (click)="onRemoveFile(item.name)"><i class="fa fa-times" aria-hidden="true"></i></button>
          </li>
        </ul>
      </div>

      <div class="form-group col-md-2 button-section">
        <button type="submit" class="btn btn-primary theme">Save</button>
      </div>

    </div>
  </form>
</div>
