<div class="footer-container">
  <div class="left-part">
    <a class="stay-txt">Stay Connected</a>
    <span class="fb-logo-wapper">
      <img src="assets/img/fb.svg" alt="fb" class="fb-logo">
    </span>
    <span class="lI-logo-wapper">
        <img src="assets/img/linkedIn.svg" alt="fb" class="lI-logo">
    </span>
    <span class="twitter-logo-wapper">
        <img src="assets/img/Twitter.svg" alt="fb" class="twitter-logo">
    </span>
  </div>
  <a class="stay-txt con-txt" >Contact</a>
  <a class="stay-txt pri-txt">Privacy</a>
  <a class="stay-txt legal-txt">Legal</a>
</div>
