<div class="footer-container">
  <div class="left-part">
    <a class="stay-txt mr-0">Stay Connected</a>
    <span class="fb-logo-wapper">
      <img src="assets/img/fb.svg" alt="fb" class="fb-logo">
    </span>
    <span class="lI-logo-wapper">
        <img src="assets/img/linkedIn.svg" alt="fb" class="lI-logo">
    </span>
    <span class="twitter-logo-wapper">
        <img src="assets/img/Twitter.svg" alt="fb" class="twitter-logo">
    </span>
  </div>

  <div class="right-part">
    <a class="stay-txt " >Contact</a>
    <a class="stay-txt ">Privacy</a>
    <a class="stay-txt  mr-0">Legal</a>
  </div>
</div>

